Repository kadena-community/kadena.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alber70g, @webpro, @MRVDH, @nil-amrutlal-dept, @sstraatemans, @eileenmguo, @realdreamer, @Takadenoshi, @javadkh2, @timoheddes

change from id to hash
  packages/apps/graph-client/src/graphql/queries.graph.ts
  packages/apps/graph-client/src/graphql/subscriptions.graph.ts
Owners: @alber70g, @MRVDH, @nil-amrutlal-dept

add viewAllHref to main page
  packages/apps/graph-client/src/pages/index.tsx
Owners: @alber70g, @MRVDH, @nil-amrutlal-dept

changeset file
  .changeset/chilly-bees-leave.md
Owners: none

Updated modal to use react-aria
  packages/libs/react-ui/package.json
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Card/Card.css.ts
  packages/libs/react-ui/src/components/Card/Card.tsx
  packages/libs/react-ui/src/components/Modal/Modal.context.ts
  packages/libs/react-ui/src/components/Modal/Modal.css.ts
  packages/libs/react-ui/src/components/Modal/Modal.stories.tsx
  packages/libs/react-ui/src/components/Modal/Modal.tsx
  packages/libs/react-ui/src/components/Modal/ModalContent.tsx
  packages/libs/react-ui/src/components/Modal/ModalProvider.tsx
  packages/libs/react-ui/src/components/Modal/ModalRoot.tsx
  packages/libs/react-ui/src/components/Modal/ModalTrigger.tsx
  packages/libs/react-ui/src/components/Modal/StoryComponents.tsx
  packages/libs/react-ui/src/components/Modal/index.ts
  packages/libs/react-ui/src/components/Modal/useModal.ts
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/index.ts
  packages/libs/react-ui/src/styles/sprinkles.css.ts
  packages/libs/react-ui/src/styles/vars.css.ts
  pnpm-lock.yaml
Owners: @eileenmguo, @sstraatemans, @timoheddes

Placeholders for request key and block hash added
  packages/apps/graph-client/src/pages/index.tsx
Owners: @alber70g, @MRVDH, @nil-amrutlal-dept

Placeholders for request key and block hash added
  packages/apps/graph-client/src/pages/index.tsx
Owners: @alber70g, @MRVDH, @nil-amrutlal-dept

[@kadena/graph-client] Prefill module field and add labels
  .changeset/afraid-geese-mix.md
  packages/apps/graph-client/src/pages/index.tsx
Owners: @alber70g, @MRVDH, @nil-amrutlal-dept

feat: animate accordion height on toggle
  packages/libs/react-ui/src/components/Accordion/Accordion.css.ts
  packages/libs/react-ui/src/components/Accordion/AccordionSection.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

chore: ordering
  packages/libs/react-ui/src/components/Accordion/AccordionSection.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

make pageSize const
  packages/apps/graph-client/src/components/extended-transactions-table/extended-transactions-table.tsx
Owners: @alber70g, @MRVDH, @nil-amrutlal-dept

fix gap
  packages/apps/docs/src/components/Layout/components/Header/styles.css.ts
Owners: none

Update some dependencies + fix local `pnpm turbo format`
  .syncpackrc.js
  packages/apps/docs/package.json
  packages/libs/cryptography-utils/README.md
  packages/tools/e2e-tests/package.json
  packages/tools/markdown/package.json
  packages/tools/markdown/src/index.ts
  pnpm-lock.yaml
Owners: @alber70g, @webpro

Update changelog
  .changeset/three-planets-laugh.md
Owners: none

[DOCS]fix: the padding of search button in header (#1089)
  .changeset/short-shirts-explain.md
  packages/apps/docs/src/components/Layout/components/Header/styles.css.ts
Owners: none

rewriting modal with radis
  packages/libs/react-ui/package.json
  packages/libs/react-ui/src/components/Modal/Modal.context.ts
  packages/libs/react-ui/src/components/Modal/Modal.css.ts
  packages/libs/react-ui/src/components/Modal/Modal.stories.tsx
  packages/libs/react-ui/src/components/Modal/ModalContent.tsx
  packages/libs/react-ui/src/components/Modal/ModalRoot.tsx
  packages/libs/react-ui/src/components/Modal/ModalTrigger.tsx
  packages/libs/react-ui/src/components/Modal/index.ts
  pnpm-lock.yaml
Owners: @eileenmguo, @sstraatemans, @timoheddes

remove unused librs
  packages/libs/react-ui/package.json
  pnpm-lock.yaml
Owners: @eileenmguo, @sstraatemans, @timoheddes

pnpm file
  pnpm-lock.yaml
Owners: none

updating pnpm file
  pnpm-lock.yaml
Owners: none

upating lock file again
  pnpm-lock.yaml
Owners: none

feat: add create principal to generate account name
  packages/apps/tools/src/pages/faucet/new/index.tsx
  packages/apps/tools/src/services/faucet/create-principal.ts
Owners: none

Merge main into feat/tools-website/faucet-fund-create-new-accounts
  pnpm-lock.yaml
Owners: none

updating pnpm file
  pnpm-lock.yaml
Owners: none

chore: formatting and code cleanup
  packages/apps/tools/src/pages/faucet/existing/index.tsx
  packages/apps/tools/src/pages/faucet/new/index.tsx
  packages/apps/tools/src/services/faucet/create-principal.ts
  packages/apps/tools/src/services/faucet/fund-create-new.ts
Owners: none

chore: formatting
  packages.json
Owners: @alber70g, @webpro

Small cleanup
  packages/apps/tools/package.json
  packages/apps/tools/src/pages/faucet/new/index.tsx
  packages/apps/tools/src/services/faucet/create-principal.ts
  pnpm-lock.yaml
Owners: none

.github/CODEOWNERS:

# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/*.*                                            @alber70g @webpro
/*.md                                           @webpro
/.changeset
/common                                         @alber70g @webpro
/pnpm-lock.yaml
/packages/apps/graph                            @alber70g @MRVDH @nil-amrutlal-dept
/packages/apps/graph-client                     @alber70g @MRVDH @nil-amrutlal-dept
/packages/apps/kadena-docs                      @sstraatemans @eileenmguo @realdreamer
/packages/libs/chainweb-stream-client           @Takadenoshi
/packages/libs/bootstrap-lib                    @alber70g
/packages/libs/client                           @alber70g @javadkh2
/packages/libs/kadena.js                        @alber70g
/packages/libs/pactjs-generator                 @alber70g
/packages/libs/react-ui                         @eileenmguo @sstraatemans @timoheddes
/packages/libs/types                            @alber70g
/packages/tools/pactjs-cli                      @alber70g
/packages/tools/eslint-config                   @alber70g
/packages/tools/eslint-plugin                   @alber70g
/packages/tools/heft-rig                        @alber70g
/packages/tools/markdown                        @webpro
