Repository kadena-community/kadena.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alber70g, @webpro, @sstraatemans, @Takadenoshi, @jermaine150, @ggobugi27

fixed sprinkles merge mistake
  packages/libs/react-ui/src/styles/sprinkles.css.ts
Owners: none

fix: merge conflicts
  common/config/rush/repo-state.json
  packages/apps/transfer/package.json
Owners: none

prettier fixes
  packages/libs/react-ui/src/components/Table/index.ts
Owners: none

after-main fixes
  packages/libs/react-ui/src/components/Notification/index.ts
Owners: none

Remove redundant Notification
  packages/apps/transfer/src/components/Global/Notification/index.tsx
  packages/apps/transfer/src/components/Global/Notification/styles.tsx
  packages/apps/transfer/src/components/Global/index.ts
Owners: none

implement header
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/apps/transfer/locales/en/common.json
  packages/apps/transfer/next.config.js
  packages/apps/transfer/package.json
  packages/apps/transfer/src/components/Common/Layout/index.tsx
  packages/apps/transfer/src/components/Common/Layout/partials/Header/Header.tsx
  packages/apps/transfer/src/components/Common/Layout/partials/Header/index.ts
  packages/apps/transfer/src/components/Common/Layout/partials/Header/styles.ts
  packages/apps/transfer/src/components/Common/Layout/partials/index.ts
  packages/apps/transfer/src/components/Global/Container/Container.tsx
  packages/apps/transfer/src/components/Global/Container/index.ts
  packages/apps/transfer/src/components/Global/Container/styles.ts
  packages/apps/transfer/src/components/Global/Grid/GridCol.tsx
  packages/apps/transfer/src/components/Global/Grid/GridRow.tsx
  packages/apps/transfer/src/components/Global/Grid/index.ts
  packages/apps/transfer/src/components/Global/Grid/styles.ts
  packages/apps/transfer/src/components/Global/WalletConnectButton/index.tsx
  packages/apps/transfer/src/components/Global/index.ts
  packages/apps/transfer/src/pages/home/index.tsx
  packages/apps/transfer/src/resources/svg/logo.svg
  packages/apps/transfer/src/resources/svg/nav-background.svg
  packages/apps/transfer/src/types/Grid.ts
  packages/apps/transfer/src/types/Layout.ts
  packages/apps/transfer/src/utils/styles.ts
Owners: none

ran prettier
  packages/libs/react-ui/src/components/Notification/Notification.css.ts
  packages/libs/react-ui/src/components/Notification/NotificationContainer.tsx
  packages/libs/react-ui/src/components/Notification/index.ts
Owners: none

ran prettier
  packages/libs/react-ui/src/components/Table/index.ts
Owners: none

ran prettier
  packages/libs/react-ui/src/components/Card/Card.css.ts
Owners: none

updated format for breadcrumbs component
  packages/libs/react-ui/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/libs/react-ui/src/components/Breadcrumbs/index.ts
Owners: none

updated export structure for button
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/index.tsx
Owners: none

updated exports for grid component
  packages/libs/react-ui/src/components/Grid/Grid.stories.tsx
  packages/libs/react-ui/src/components/Grid/index.ts
Owners: none

fix: fix formatting issues
  packages/apps/transfer/src/pages/transfer/cross-chain-transfer-finisher/index.tsx
  packages/apps/transfer/src/services/cross-chain-transfer-finish/get-transfer-data.ts
Owners: none

Cleanup
  packages/apps/transfer/locales/en/common.json
  packages/apps/transfer/src/pages/faucet/existing/index.tsx
  packages/apps/transfer/src/pages/faucet/existing/notification.tsx
  packages/apps/transfer/src/services/faucet/index.ts
Owners: none

fix build
  packages/apps/kadena-docs/src/components/Layout/components/SideMenu/SideMenu.tsx
  packages/apps/kadena-docs/src/hooks/useSearch/useSearch.ts
Owners: @sstraatemans

functionality of the search in the sidemenu on mbile
  packages/apps/kadena-docs/src/components/Layout/components/SideMenu/SideMenu.tsx
Owners: @sstraatemans

Wrap Notification to give bottom margin
  packages/apps/transfer/src/pages/faucet/existing/notification.tsx
Owners: none

Change default status notification text
  packages/apps/transfer/src/pages/faucet/existing/notification.tsx
Owners: none

[@kadena/transfer] X-chain transfer finisher page (#444)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/apps/transfer/locales/en/common.json
  packages/apps/transfer/package.json
  packages/apps/transfer/src/components/Common/Layout/MainLayout.spec.tsx
  packages/apps/transfer/src/components/Common/Layout/index.spec.tsx
  packages/apps/transfer/src/constants/kadena.ts
  packages/apps/transfer/src/constants/network.ts
  packages/apps/transfer/src/pages/transfer/cross-chain-transfer-finisher/index.tsx
  packages/apps/transfer/src/pages/transfer/cross-chain-transfer-finisher/styles.ts
  packages/apps/transfer/src/pages/transfer/module-explorer/index.tsx
  packages/apps/transfer/src/services/cross-chain-transfer-finish/finish-xchain-transfer.ts
  packages/apps/transfer/src/services/cross-chain-transfer-finish/get-transfer-data.ts
  packages/apps/transfer/src/services/modules/describe-module.ts
  packages/apps/transfer/src/services/utils/utils.ts
  packages/apps/transfer/src/utils/env.ts
Owners: none

prettier
  packages/libs/react-ui/src/components/Input/Input.tsx
Owners: none

refactor
  packages/libs/react-ui/src/components/Input/Input.css.ts
  packages/libs/react-ui/src/components/Input/Input.stories.tsx
  packages/libs/react-ui/src/components/Input/Input.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputHeader/InputHeader.css.ts
  packages/libs/react-ui/src/components/InputWrapper/InputHeader/InputHeader.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputHelper/InputHelper.css.ts
  packages/libs/react-ui/src/components/InputWrapper/InputHelper/InputHelper.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputWrapper.css.ts
  packages/libs/react-ui/src/components/InputWrapper/InputWrapper.stories.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputWrapper.tsx
  packages/libs/react-ui/src/components/Tag/Tag.css.ts
  packages/libs/react-ui/src/components/Tag/Tag.stories.tsx
  packages/libs/react-ui/src/components/Tag/Tag.tsx
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHeader/InputHeader.css.ts
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHelper/InputHelper.css.ts
  packages/libs/react-ui/src/components/TextField/TextField.tsx
  packages/libs/react-ui/src/components/TextField/index.ts
  packages/libs/react-ui/src/components/Typography/Label/Label.stories.tsx
  packages/libs/react-ui/src/components/index.ts
Owners: none

label movement
  packages/libs/react-ui/src/components/TextField/Input/Input.css.ts
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHeader/InputHeader.tsx
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputWrapper.tsx
  packages/libs/react-ui/src/components/TextField/index.ts
  packages/libs/react-ui/src/components/Typography/Label/Label.css.ts
  packages/libs/react-ui/src/components/Typography/Label/Label.stories.tsx
  packages/libs/react-ui/src/components/Typography/Label/Label.tsx
  packages/libs/react-ui/src/components/Typography/index.tsx
  packages/libs/react-ui/src/components/index.ts
Owners: none

fixing things
  packages/libs/react-ui/src/components/Input/InputField/InputField.tsx
  packages/libs/react-ui/src/components/Input/InputWrapper/InputWrapper.css.ts
  packages/libs/react-ui/src/components/Input/InputWrapper/InputWrapper.tsx
  packages/libs/react-ui/src/components/TextField/Input/Input.css.ts
  packages/libs/react-ui/src/components/TextField/Input/Input.tsx
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHeader/InputHeader.css.ts
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHeader/InputHeader.tsx
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHelper/InputHelper.css.ts
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputHelper/InputHelper.tsx
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputWrapper.css.ts
  packages/libs/react-ui/src/components/TextField/InputWrapper/InputWrapper.tsx
  packages/libs/react-ui/src/components/TextField/TextField.stories.tsx
  packages/libs/react-ui/src/components/TextField/TextField.tsx
Owners: none

add disabled to input story
  packages/libs/react-ui/src/components/Input/Input.stories.tsx
Owners: none

cleanup
  packages/libs/react-ui/src/components/TextField/Input/Input.css.ts
  packages/libs/react-ui/src/components/TextField/Input/Input.tsx
  packages/libs/react-ui/src/components/TextField/TextField.stories.tsx
Owners: none

adding input
  packages/libs/react-ui/src/components/Icons/IconWrapper.css.ts
  packages/libs/react-ui/src/components/Icons/IconWrapper.tsx
  packages/libs/react-ui/src/components/Input/Input.stories.tsx
  packages/libs/react-ui/src/components/Input/InputField/InputField.css.ts
  packages/libs/react-ui/src/components/Input/InputField/InputField.tsx
  packages/libs/react-ui/src/components/Input/InputHeader/InputHeader.css.ts
  packages/libs/react-ui/src/components/Input/InputHeader/InputHeader.tsx
  packages/libs/react-ui/src/components/Input/InputHelper/InputHelper.css.ts
  packages/libs/react-ui/src/components/Input/InputHelper/InputHelper.tsx
  packages/libs/react-ui/src/components/Input/InputWrapper/InputWrapper.css.ts
  packages/libs/react-ui/src/components/Input/InputWrapper/InputWrapper.tsx
  packages/libs/react-ui/src/components/Label/Label.css.ts
  packages/libs/react-ui/src/components/Label/Label.tsx
  packages/libs/react-ui/src/components/Typography/Text/Text.css.ts
  packages/libs/react-ui/src/components/Typography/Text/Text.tsx
  packages/libs/react-ui/src/styles/global.css.ts
  packages/libs/react-ui/src/styles/sprinkles.css.ts
  packages/libs/react-ui/src/styles/themes.css.ts
Owners: none

[@kadena/react-ui]: Add input component (#468)
  packages/libs/react-ui/src/components/Icons/IconWrapper.css.ts
  packages/libs/react-ui/src/components/Icons/IconWrapper.tsx
  packages/libs/react-ui/src/components/Input/Input.css.ts
  packages/libs/react-ui/src/components/Input/Input.stories.tsx
  packages/libs/react-ui/src/components/Input/Input.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputHeader/InputHeader.css.ts
  packages/libs/react-ui/src/components/InputWrapper/InputHeader/InputHeader.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputHelper/InputHelper.css.ts
  packages/libs/react-ui/src/components/InputWrapper/InputHelper/InputHelper.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputWrapper.css.ts
  packages/libs/react-ui/src/components/InputWrapper/InputWrapper.stories.tsx
  packages/libs/react-ui/src/components/InputWrapper/InputWrapper.tsx
  packages/libs/react-ui/src/components/Tag/Tag.css.ts
  packages/libs/react-ui/src/components/Tag/Tag.stories.tsx
  packages/libs/react-ui/src/components/Tag/Tag.tsx
  packages/libs/react-ui/src/components/TextField/TextField.stories.tsx
  packages/libs/react-ui/src/components/TextField/TextField.tsx
  packages/libs/react-ui/src/components/Typography/Label/Label.css.ts
  packages/libs/react-ui/src/components/Typography/Label/Label.stories.tsx
  packages/libs/react-ui/src/components/Typography/Label/Label.tsx
  packages/libs/react-ui/src/components/Typography/Text/Text.css.ts
  packages/libs/react-ui/src/components/Typography/Text/Text.tsx
  packages/libs/react-ui/src/components/Typography/index.tsx
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/styles/global.css.ts
  packages/libs/react-ui/src/styles/sprinkles.css.ts
  packages/libs/react-ui/src/styles/themes.css.ts
Owners: none

Update usage of `generateApiHost`
  packages/apps/transfer/src/services/faucet/index.ts
Owners: none

implement hamburger menu
  packages/apps/transfer/src/components/Common/Layout/partials/Header/Header.tsx
  packages/apps/transfer/src/components/Common/Layout/partials/Header/styles.ts
Owners: none

remove unused types
  packages/apps/transfer/src/types/Grid.ts
Owners: none

fix lint
  packages/apps/transfer/src/components/Common/Layout/index.tsx
  packages/apps/transfer/src/components/Common/Layout/partials/Header/Header.tsx
Owners: none

modified NotificationButton to accomodate the close button as well
  packages/libs/react-ui/src/components/Notification/Notification.css.ts
  packages/libs/react-ui/src/components/Notification/NotificationButton.css.ts
  packages/libs/react-ui/src/components/Notification/NotificationButton.tsx
  packages/libs/react-ui/src/components/Notification/NotificationContainer.tsx
Owners: none

simplified class structure for NotificationButton
  packages/libs/react-ui/src/components/Notification/NotificationButton.css.ts
  packages/libs/react-ui/src/components/Notification/NotificationButton.tsx
Owners: none

feat(docs):searchmodal (#476)
  .github/workflows/docs-chores.yml
  packages/apps/kadena-docs/package.json
  packages/apps/kadena-docs/src/components/Layout/Landing/components/HomeHeader/styles.ts
  packages/apps/kadena-docs/src/components/Layout/components/ArticleStyles.ts
  packages/apps/kadena-docs/src/components/Layout/components/SideMenu/SideMenu.tsx
  packages/apps/kadena-docs/src/components/SearchModal/SearchModal.tsx
  packages/apps/kadena-docs/src/components/SearchModal/index.ts
  packages/apps/kadena-docs/src/components/index.ts
  packages/apps/kadena-docs/src/hooks/useOpenSearch.tsx
  packages/apps/kadena-docs/src/hooks/useSearch/useSearch.ts
  packages/libs/react-ui/src/components/Modal/Modal.tsx
Owners: @alber70g, @sstraatemans

logo stop-color+opacity fix
  packages/apps/transfer/src/resources/svg/logo.svg
Owners: none

added link component
  packages/libs/react-ui/src/components/Link/Link.css.ts
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/Link/Link.tsx
Owners: none

added link component to exports
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/index.ts
Owners: none

eslint fixes
  packages/libs/react-ui/src/components/Link/Link.css.ts
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/Link/Link.tsx
Owners: none

test(client): unit tests
  packages/libs/client/src/v2/client/utils/request.ts
  packages/libs/client/src/v2/exmaple/coin-contract.ts
  packages/libs/client/src/v2/exmaple/crosschian-transfer.ts
  packages/libs/client/src/v2/exmaple/playground.ts
  packages/libs/client/src/v2/exmaple/simple-api.ts
  packages/libs/client/src/v2/pact.ts
  packages/libs/client/src/v2/sing.ts
  packages/libs/client/src/v2/test/pact.test.ts
Owners: @alber70g

fix(client): pact.ts
  packages/libs/client/src/v2/pact.ts
  packages/libs/client/src/v2/test/pact.test.ts
Owners: @alber70g

.github/CODEOWNERS:

# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/*.*                                            @alber70g
/*.md                                           @webpro
/common                                         @alber70g
/common/config/rush/pnpm-lock.yaml
/common/config/rush/repo-state.json
/packages/apps/graph                            @alber70g
/packages/apps/kadena-docs                      @sstraatemans

/packages/libs/chainweb-stream-client           @Takadenoshi

/packages/libs/bootstrap-lib                    @alber70g
/packages/libs/client                           @alber70g
/packages/libs/kadena.js                        @alber70g
/packages/libs/pactjs-generator                 @alber70g
/packages/libs/types                            @alber70g
/packages/tools/pactjs-cli                      @alber70g
/packages/tools/create-kadena-app               @jermaine150
/packages/tools/eslint-config                   @alber70g
/packages/tools/eslint-plugin                   @alber70g
/packages/tools/heft-rig                        @alber70g
/packages/tools/integration-tests               @ggobugi27
/packages/tools/remark-plugins                  @webpro
/packages/tools/rush-fix-versions               @alber70g
