Repository kadena-community/kadena.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2, @jermaine150, @ggobugi27, @nillo, @isaozler

rename react-ui to kode-ui
  packages/apps/marmalade-marketplace/src/components/Sale/ConventionalAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/DutchAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/RegularSale.tsx
  packages/apps/marmalade-marketplace/src/styles/create-token.css.ts
Owners: @jermaine150, @ggobugi27

rename to kode-ui
  packages/apps/marmalade-marketplace/src/pages/sale/[chainId]/[saleId].tsx
Owners: @jermaine150, @ggobugi27

fix test error
  packages/apps/marmalade-marketplace/src/components/Sale/__tests__/conventional-auction.test.tsx
Owners: @jermaine150, @ggobugi27

remove test failure
  packages/apps/marmalade-marketplace/src/components/Sale/__tests__/conventional-auction.test.tsx
Owners: @jermaine150, @ggobugi27

add expand option for data fields
  .changeset/chilly-months-dance.md
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/data-render-component-vertical.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/styles.css.ts
  packages/apps/explorer/src/components/data-render-component/expand-truncated-field/expand-truncated-field.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-request-component.tsx
  packages/apps/explorer/src/types.d.ts
Owners: none

ag/improve modal graph (#2355)
  .changeset/strong-cougars-deliver.md
  packages/apps/explorer/src/components/data-render-component/styles.css.ts
  packages/apps/explorer/src/components/graphql-query-dialog/graphql-query-dialog.tsx
  packages/apps/explorer/src/components/graphql-query-dialog/styles.css.ts
  packages/apps/explorer/src/components/layout/layout.tsx
  packages/apps/explorer/src/components/layout/styles.css.ts
  packages/apps/explorer/src/components/transaction-components/transaction-request-component.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-result-component.tsx
  packages/apps/explorer/src/services/format.ts
  packages/apps/explorer/src/utils/menuConfig.ts
Owners: none

chore(explorer): minor fixes and styling improvements (#2354)
  .changeset/cyan-dots-sort.md
Owners: none

feat(explorer): add expand option for data fields (#2358)
  .changeset/chilly-months-dance.md
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/data-render-component-vertical.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/styles.css.ts
  packages/apps/explorer/src/components/data-render-component/expand-truncated-field/expand-truncated-field.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-request-component.tsx
  packages/apps/explorer/src/types.d.ts
Owners: none

add the select block functionality
  .changeset/four-months-report.md
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.css.ts
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
Owners: none

create a blockinfo context to select the correct block
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-info-context/block-info-context.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/styles.css.ts
  packages/apps/explorer/src/components/block-table/block-table.css.ts
  packages/apps/explorer/src/components/block-table/block-table.tsx
Owners: none

get height info
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-info-context/block-info-context.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
Owners: none

show transactions data
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/styles.css.ts
  packages/apps/explorer/src/components/block-table/block-table.css.ts
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/pages/block/[hash].tsx
Owners: none

fix build
  packages/apps/explorer/src/pages/block/[hash].tsx
Owners: none

deploy: b24ca1e1d32d77714a152be9fb2adc265b534e56
  .nojekyll
  2362/20240703_121302Z/index.html
Owners: none

deploy: 6efe30643aa04f4bd529210d517cc790741927cb
  2362/20240703_122355Z/data/c460e2ebf9d208c0f5ace34ee4cd254bf0331126.zip
  2362/20240703_122355Z/index.html
  2362/20240703_122355Z/trace/assets/codeMirrorModule-BfR9u_dG.js
  2362/20240703_122355Z/trace/assets/testServerConnection-CLJOcN3M.js
  2362/20240703_122355Z/trace/codeMirrorModule.ez37Vkbh.css
  2362/20240703_122355Z/trace/codicon.DMa5iZz2.ttf
  2362/20240703_122355Z/trace/index.CrbWWHbf.css
  2362/20240703_122355Z/trace/index.D7JIa5vL.js
  2362/20240703_122355Z/trace/index.html
  2362/20240703_122355Z/trace/playwright-logo.svg
  2362/20240703_122355Z/trace/snapshot.html
  2362/20240703_122355Z/trace/sw.bundle.js
  2362/20240703_122355Z/trace/testServerConnection.0WapKERv.css
  2362/20240703_122355Z/trace/uiMode.Btn2TM9w.css
  2362/20240703_122355Z/trace/uiMode.DGx1ltIi.js
  2362/20240703_122355Z/trace/uiMode.html
  2362/20240703_122355Z/trace/xtermModule.DSXBckUd.css
Owners: none

add cleanup script and vercel.json to prevent deployments on this branch
  cleanup.sh
  vercel.json
Owners: none

deploy: a16de2e6fbd1c6b63ae8fb1075e2480144d5446c
  2362/20240703_124255Z/data/88963a705f3b6de17111ba813925253d61e4cb99.zip
  2362/20240703_124255Z/index.html
  2362/20240703_124255Z/trace/assets/codeMirrorModule-BfR9u_dG.js
  2362/20240703_124255Z/trace/assets/testServerConnection-CLJOcN3M.js
  2362/20240703_124255Z/trace/codeMirrorModule.ez37Vkbh.css
  2362/20240703_124255Z/trace/codicon.DMa5iZz2.ttf
  2362/20240703_124255Z/trace/index.CrbWWHbf.css
  2362/20240703_124255Z/trace/index.D7JIa5vL.js
  2362/20240703_124255Z/trace/index.html
  2362/20240703_124255Z/trace/playwright-logo.svg
  2362/20240703_124255Z/trace/snapshot.html
  2362/20240703_124255Z/trace/sw.bundle.js
  2362/20240703_124255Z/trace/testServerConnection.0WapKERv.css
  2362/20240703_124255Z/trace/uiMode.Btn2TM9w.css
  2362/20240703_124255Z/trace/uiMode.DGx1ltIi.js
  2362/20240703_124255Z/trace/uiMode.html
  2362/20240703_124255Z/trace/xtermModule.DSXBckUd.css
Owners: none

set styling
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.css.ts
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/styles.css.ts
  packages/apps/explorer/src/components/block-table/block-table.css.ts
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/pages/index.tsx
Owners: none

deploy: 3e8e41be01de4cdff57bd59411cf47f9ddb99c73
  2362/20240703_125443Z/data/29c76fb76c7d682ad6c9dc565b4350c377fd8acc.zip
  2362/20240703_125443Z/data/ebbd7cde19fb3efab0ebeb37c614ee1f1ed8c1a4.zip
  2362/20240703_125443Z/index.html
  2362/20240703_125443Z/trace/assets/codeMirrorModule-BfR9u_dG.js
  2362/20240703_125443Z/trace/assets/testServerConnection-CLJOcN3M.js
  2362/20240703_125443Z/trace/codeMirrorModule.ez37Vkbh.css
  2362/20240703_125443Z/trace/codicon.DMa5iZz2.ttf
  2362/20240703_125443Z/trace/index.CrbWWHbf.css
  2362/20240703_125443Z/trace/index.D7JIa5vL.js
  2362/20240703_125443Z/trace/index.html
  2362/20240703_125443Z/trace/playwright-logo.svg
  2362/20240703_125443Z/trace/snapshot.html
  2362/20240703_125443Z/trace/sw.bundle.js
  2362/20240703_125443Z/trace/testServerConnection.0WapKERv.css
  2362/20240703_125443Z/trace/uiMode.Btn2TM9w.css
  2362/20240703_125443Z/trace/uiMode.DGx1ltIi.js
  2362/20240703_125443Z/trace/uiMode.html
  2362/20240703_125443Z/trace/xtermModule.DSXBckUd.css
Owners: none

chore(explorer): add homepage design picture
  .changeset/violet-impalas-develop.md
  packages/apps/explorer/README.md
  packages/apps/explorer/kadena-block-explorer.png
Owners: none

trying to fix the reset of selectedHeight
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/pages/index.tsx
Owners: none

fix the sizing
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/pages/index.tsx
Owners: none

feat(dev-wallet): transaction
  packages/apps/dev-wallet/src/modules/transaction/transaction.repository.ts
  packages/apps/dev-wallet/src/modules/transaction/transaction.service.ts
  packages/apps/dev-wallet/src/pages/signature-builder/signature-builder.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/ReviewTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/Signers.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/style.css.ts
  packages/apps/dev-wallet/src/pages/transfer/components/ReviewTransaction.tsx
  packages/apps/dev-wallet/src/pages/transfer/transfer.tsx
  packages/libs/client-utils/src/core/utils/asyncPipe.ts
  packages/libs/client-utils/src/core/utils/helpers.ts
  packages/libs/client-utils/src/core/utils/with-emitter.ts
  packages/libs/client/src/signing/utils/addSignatures.ts
  packages/libs/types/etc/types.api.md
  packages/libs/types/src/PactCommand.ts
Owners: @alber70g, @javadkh2, @jermaine150, @ggobugi27, @nillo

feat(explorer): add the select block functionality (#2360)
  .changeset/four-months-report.md
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.css.ts
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-info-context/block-info-context.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/styles.css.ts
  packages/apps/explorer/src/components/block-table/block-table.css.ts
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/explorer/src/pages/index.tsx
Owners: none

chore(explorer): add homepage design picture (#2364)
  .changeset/violet-impalas-develop.md
  packages/apps/explorer/README.md
  packages/apps/explorer/kadena-block-explorer.png
Owners: none

chore(client-utils): add codesandbox (#1187)
  .changeset/metal-ducks-sell.md
  packages/libs/client-utils/README.md
  packages/libs/client-utils/codesandbox/.codesandbox/workspace.json
  packages/libs/client-utils/codesandbox/.gitignore
  packages/libs/client-utils/codesandbox/package.json
  packages/libs/client-utils/codesandbox/src/index.html
  packages/libs/client-utils/codesandbox/src/index.ts
  packages/libs/client-utils/codesandbox/src/styles.css
Owners: @alber70g, @javadkh2, @jermaine150, @ggobugi27

feat(dev-wallet): status
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/ReviewTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/SubmittedStatus.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/helpers.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/style.css.ts
Owners: none

toggle the footer content on mobile
  .changeset/cyan-paws-switch.md
  packages/apps/explorer/src/components/footer/footer-column.tsx
  packages/apps/explorer/src/components/footer/footer.tsx
  packages/apps/explorer/src/components/footer/style.css.ts
Owners: none

remove sidemenu
  packages/apps/explorer/src/components/footer/footer-column.tsx
  packages/apps/explorer/src/components/footer/footer.tsx
  packages/apps/explorer/src/components/footer/style.css.ts
  packages/apps/explorer/src/components/header/header.tsx
  packages/apps/explorer/src/components/navbar/navbar.tsx
  packages/apps/explorer/src/components/sidemenu/sidemenu.tsx
  packages/apps/explorer/src/components/sidemenu/styles.css.ts
Owners: none

fix columns
  packages/apps/explorer/src/components/footer/footer-column.tsx
  packages/apps/explorer/src/components/footer/footer.tsx
  packages/apps/explorer/src/components/footer/style.css.ts
Owners: none

fix(explorer): toggle the footer content on mobile (#2365)
  .changeset/cyan-paws-switch.md
  packages/apps/explorer/src/components/footer/footer-column.tsx
  packages/apps/explorer/src/components/footer/footer.tsx
  packages/apps/explorer/src/components/footer/style.css.ts
  packages/apps/explorer/src/components/header/header.tsx
  packages/apps/explorer/src/components/navbar/navbar.tsx
  packages/apps/explorer/src/components/sidemenu/sidemenu.tsx
  packages/apps/explorer/src/components/sidemenu/styles.css.ts
Owners: none

change error message for auctions that are not created
  packages/apps/marmalade-marketplace/src/components/Sale/ConventionalAuction.tsx
Owners: @jermaine150, @ggobugi27

chore: marmalade marketplace sales/auctions (#2339)
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/src/__tests__/pages/home.test.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/ConventionalAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/DutchAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/RegularSale.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/__tests__/conventional-auction.test.tsx
  packages/apps/marmalade-marketplace/src/components/SendTransaction/index.tsx
  packages/apps/marmalade-marketplace/src/hooks/getBids.tsx
  packages/apps/marmalade-marketplace/src/hooks/getSale.tsx
  packages/apps/marmalade-marketplace/src/pages/api/cron.ts
  packages/apps/marmalade-marketplace/src/pages/index.tsx
  packages/apps/marmalade-marketplace/src/pages/sale/[chainId]/[saleId].tsx
  packages/apps/marmalade-marketplace/src/providers/TransactionProvider/TransactionProvider.tsx
  packages/apps/marmalade-marketplace/src/styles/sale.css.ts
  packages/apps/marmalade-marketplace/src/utils/date.ts
  packages/apps/marmalade-marketplace/src/utils/sale.ts
  packages/apps/marmalade-marketplace/src/utils/string.ts
  packages/libs/client-utils/package.json
  packages/libs/client-utils/src/index.ts
  packages/libs/client-utils/src/integration-tests/marmalade-sale.int.test.ts
  packages/libs/client-utils/src/marmalade/mint-token.ts
  packages/libs/client-utils/src/webauthn/get-webauthn-guard.ts
  packages/libs/client-utils/src/webauthn/index.ts
Owners: @jermaine150, @ggobugi27, @alber70g, @javadkh2

add loading skeleton to the block table
  .changeset/flat-dolphins-destroy.md
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/loading-skeleton/loading-pill.tsx
  packages/apps/explorer/src/components/loading-skeleton/loading-skeleton-block-table/loading-skeleton-block-table.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
Owners: none

chore(eslint-config): add @typescript-eslint to get proper linting on aliases
  .changeset/cyan-lemons-think.md
  .github/actions/runner-setup/action.yaml
  .github/workflows/docs-ingestion.yml
  .pnpmfile.cjs
  package.json
  packages/apps/dev-wallet/.eslintrc.cjs
  packages/apps/dev-wallet/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/tools/package.json
  packages/tools/create-kadena-app/templates/nextjs/package.json
  packages/tools/eslint-config/package.json
  packages/tools/eslint-config/profile/lib.js
  packages/tools/kadena-cli/.eslintrc.cjs
  pnpm-lock.yaml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

better way to show loading skeleton
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-table/utils/block-data-loading.ts
  packages/apps/explorer/src/components/loading-skeleton/loading-skeleton-block-table/loading-skeleton-block-table.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
  packages/apps/explorer/src/components/loading-skeleton/value-loader/value-loader.tsx
Owners: none

BREAKING: new pnpm version. eslint-config: add @typescript-eslint for proper linting (#2357)
  .changeset/cyan-lemons-think.md
  .github/actions/runner-setup/action.yaml
  .github/workflows/docs-ingestion.yml
  .pnpmfile.cjs
  package.json
  packages/apps/dev-wallet/.eslintrc.cjs
  packages/apps/dev-wallet/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/tools/package.json
  packages/tools/create-kadena-app/templates/nextjs/package.json
  packages/tools/eslint-config/package.json
  packages/tools/eslint-config/profile/lib.js
  packages/tools/kadena-cli/.eslintrc.cjs
  pnpm-lock.yaml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

no transactions warning
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/block-transactions/styles.css.ts
  packages/apps/explorer/src/components/globalstyles.css.ts
Owners: none

fix build
  packages/apps/explorer/src/components/globalstyles.css.ts
Owners: none

feat(explorer): add loading skeleton to the block table (#2366)
  .changeset/flat-dolphins-destroy.md
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-table/utils/block-data-loading.ts
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/block-transactions/styles.css.ts
  packages/apps/explorer/src/components/loading-skeleton/loading-pill.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
  packages/apps/explorer/src/components/loading-skeleton/value-loader/value-loader.tsx
Owners: none

.github/CODEOWNERS:

# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.github                                        @ghislain89 @alber70g @sstraatemans @javadkh2
/.changeset
/common                                         @alber70g
/pnpm-lock.yaml
/packages/apps/docs
/packages/apps/proof-of-us                      @sstraatemans @ghislain89
/packages/apps/graph                            @alber70g
/packages/apps/graph-client                     @alber70g 
/packages/apps/marmalade-marketplace            @jermaine150 @ggobugi27
/packages/apps/tools                            
/packages/libs/bootstrap-lib                    @alber70g
/packages/libs/chainweb-stream-client          
/packages/libs/client                           @alber70g @javadkh2 @nillo
/packages/libs/client-utils                     @alber70g @javadkh2 @jermaine150 @ggobugi27
/packages/libs/kadena.js                        @alber70g
/packages/libs/pactjs-generator                 @alber70g @javadkh2
/packages/libs/kode-ui                          @sstraatemans @isaozler
/packages/libs/types                            @alber70g
/packages/tools/eslint-config                   @alber70g
/packages/tools/eslint-plugin                   @alber70g
/packages/tools/pactjs-cli                      @alber70g @javadkh2
/packages/tools/shared-config                   @alber70g
/packages/e2e                                   @ghislain89
/packages/e2e/e2e-base                          @ghislain89
/packages/e2e/e2e-docs                          @ghislain89 @sstraatemans
/packages/e2e/e2e-graph                         @ghislain89
/packages/e2e/e2e-tools                         @ghislain89
/packages/tools/integration-tests               @ghislain89 @sstraatemans
