Repository kadena-community/kadena.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2, @jermaine150, @ggobugi27, @nillo, @isaozler

fix striped table
  packages/libs/kode-ui/src/components/Table/Table.css.ts
  packages/libs/kode-ui/src/components/Table/Table.tsx
Owners: @sstraatemans, @isaozler

adding loader skeletons to dynamic tables
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/compact-table/compact-table-desktop/compact-table-desktop.tsx
  packages/apps/explorer/src/components/compact-table/compact-table-desktop/field-cell.tsx
  packages/apps/explorer/src/components/compact-table/compact-table-mobile/compact-table-mobile.tsx
  packages/apps/explorer/src/components/compact-table/compact-table.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-horizontal/data-render-component-horizontal.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/data-render-component-vertical.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component.tsx
  packages/apps/explorer/src/components/loading-skeleton/loading-pill.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
  packages/apps/explorer/src/components/loading-skeleton/value-loader/value-loader.tsx
  packages/apps/explorer/src/pages/block/[hash].tsx
Owners: none

fix: don't run workflows on main, only on PR.
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

FEAT: Enable blob reporter and merging reports
  .github/workflows/ci.yml
  .gitignore
  packages/e2e/e2e-base/playwright.config.ts
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

fix path for publish dir
  .github/actions/merge-publish-reports/action.yaml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

make report unique per project
  packages/e2e/e2e-base/playwright.config.ts
  packages/e2e/e2e-docs/playwright.config.ts
  packages/e2e/e2e-graph/playwright.config.ts
  packages/e2e/e2e-proof-of-us/playwright.config.ts
  packages/e2e/e2e-tools/playwright.config.ts
Owners: @ghislain89, @sstraatemans

chore: formatting
  packages/e2e/e2e-tools/playwright.config.ts
Owners: @ghislain89

add cleanup script
  .github/workflows/report-cleanup.yaml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

fix dir
  .github/actions/merge-publish-reports/action.yaml
  packages/e2e/e2e-tools/playwright.config.ts
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

fix path
  .github/actions/merge-publish-reports/action.yaml
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

move logic to composite actions
  .github/actions/merge-publish-reports/action.yaml
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

ls dir structure
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

Don't merge on download, let Playwright do this.
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

use pnpm dlx instead of npx
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

chore: Formatting
  .github/actions/merge-publish-reports/action.yaml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

chore: formatting
  packages/e2e/e2e-docs/playwright.config.ts
Owners: @ghislain89, @sstraatemans

fix: report paths
  packages/e2e/e2e-docs/playwright.config.ts
  packages/e2e/e2e-graph/playwright.config.ts
  packages/e2e/e2e-proof-of-us/playwright.config.ts
  packages/e2e/e2e-tools/playwright.config.ts
Owners: @ghislain89, @sstraatemans

Forgot checkout...
  .github/workflows/ci.yml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

deploy: c70d690c2eacc02f0acb4dba55e5ac9c38f651c9
  2362/20240705_105751Z/index.html
Owners: none

feat(explorer): pages now show all transactions up to 300
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-table/utils/block-data-loading.ts
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/block-transactions/styles.css.ts
  packages/apps/explorer/src/components/loading-skeleton/loading-pill.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
  packages/apps/explorer/src/components/loading-skeleton/value-loader/value-loader.tsx
  packages/apps/explorer/src/graphql/queries/block-height.graph.ts
  packages/apps/explorer/src/graphql/queries/block.graph.ts
  packages/apps/explorer/src/graphql/queries/blocks-from-height.graph.ts
  packages/apps/explorer/src/graphql/queries/blocks-from-heights.graph.ts
  packages/apps/explorer/src/hooks/search/utils/block-height.ts
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/explorer/src/services/block.ts
Owners: none

chore(monorepo): use @typescript-eslint. Use inferred return types
  .pnpmfile.cjs
  .syncpackrc.js
  package.json
  packages/apps/docs/package.json
  packages/apps/docs/src/components/BottomPageSection/components/useSubscribe.ts
  packages/apps/docs/src/hooks/useOpenSearch.tsx
  packages/apps/graph/src/plugins/complexity.ts
  packages/apps/graph/src/plugins/extensions.ts
  packages/apps/graph/src/services/depth-service.ts
  packages/apps/spirekey-example/package.json
  packages/e2e/e2e-base/src/helpers/client-utils/transfer.helper.ts
  packages/libs/chainwebjs/src/tests/mocks/blockRecentsRecentHeaders.ts
  packages/libs/client-utils/src/core/utils/test/asyncPipe.test.ts
  packages/libs/client-utils/src/scripts/create-async-pipe-type.ts
  packages/libs/client/src/client/utils/retry.ts
  packages/libs/client/src/client/utils/utils.ts
  packages/libs/client/src/utils/pact-helpers.ts
  packages/libs/kode-icons/package.json
  packages/libs/kode-ui/package.json
  packages/libs/kode-ui/src/components/Button/utils.ts
  packages/libs/kode-ui/src/components/Tag/Tag.test.tsx
  packages/libs/kode-ui/src/utils/object.ts
  packages/libs/kode-ui/src/utils/testId.ts
  packages/tools/eslint-config/profile/lib.js
  packages/tools/kadena-cli/src/commands/tx/commands/txLocal.ts
  packages/tools/kadena-cli/src/commands/typescript/commands/typescriptGenerateCommand.ts
  packages/tools/kadena-cli/src/services/pactjs/pactjs.service.ts
  packages/tools/kadena-cli/src/utils/createOption.ts
  packages/tools/pactjs-cli/src/contract-generate/generate.ts
  packages/tools/pactjs-cli/src/template-generate/template-generate.ts
  pnpm-lock.yaml
Owners: @alber70g, @ghislain89, @javadkh2, @jermaine150, @ggobugi27, @nillo, @sstraatemans, @isaozler

feat(explorer): pages now show all transactions up to 300 (#2367)
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-table/utils/block-data-loading.ts
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/block-transactions/styles.css.ts
  packages/apps/explorer/src/components/loading-skeleton/loading-pill.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
  packages/apps/explorer/src/components/loading-skeleton/value-loader/value-loader.tsx
  packages/apps/explorer/src/graphql/queries/block-height.graph.ts
  packages/apps/explorer/src/graphql/queries/block.graph.ts
  packages/apps/explorer/src/graphql/queries/blocks-from-height.graph.ts
  packages/apps/explorer/src/graphql/queries/blocks-from-heights.graph.ts
  packages/apps/explorer/src/hooks/search/utils/block-height.ts
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/explorer/src/services/block.ts
Owners: none

Update wording for the repo and project name, change the add admin ac… (#2318)
  packages/apps/docs/src/docs/build/election-app/add-a-gas-station.md
  packages/apps/docs/src/docs/build/election-app/add-admin-account.md
  packages/apps/docs/src/docs/build/election-app/add-vote-management.md
  packages/apps/docs/src/docs/build/election-app/define-a-namespace.md
  packages/apps/docs/src/docs/build/election-app/define-keysets.md
  packages/apps/docs/src/docs/build/election-app/nominate-candidates.md
  packages/apps/docs/src/docs/build/election-app/start-a-local-blockchain.md
  packages/apps/docs/src/docs/build/election-app/write-a-smart-contract.md
Owners: none

chore: Upgrade TSX to fix --experimental-loader warnings
  package.json
  packages/apps/docs/package.json
  packages/libs/kode-icons/package.json
  packages/libs/kode-ui/package.json
  packages/tools/scripts/generate-labels.ts
  pnpm-lock.yaml
Owners: @sstraatemans, @isaozler

update lockfile
  pnpm-lock.yaml
Owners: none

chore: udpate tsx
  package.json
  packages/apps/docs/package.json
  packages/libs/kode-icons/package.json
  packages/libs/kode-ui/package.json
  pnpm-lock.yaml
Owners: @sstraatemans, @isaozler

add loading states
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-table/loading-data.ts
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/compact-table/compact-table-desktop/field-cell.tsx
  packages/apps/explorer/src/components/compact-table/compact-table.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component.tsx
  packages/apps/explorer/src/components/loading-skeleton/loading-pill.tsx
  packages/apps/explorer/src/components/loading-skeleton/style.css.ts
  packages/apps/explorer/src/components/loading-skeleton/types.ts
  packages/apps/explorer/src/components/loading-skeleton/value-loader/value-loader.tsx
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/explorer/src/pages/block/loading-data.ts
  packages/libs/kode-ui/src/index.ts
Owners: @sstraatemans, @isaozler

WIP: custom networks
  packages/apps/explorer/src/components/header/header.tsx
  packages/apps/explorer/src/components/header/styles.css.ts
  packages/apps/explorer/src/components/select-network/custom-network-dialog.tsx
  packages/apps/explorer/src/components/select-network/select-network.tsx
  packages/apps/explorer/src/constants/network.ts
  packages/apps/explorer/src/context/networks-context.tsx
  packages/apps/explorer/src/graphql/queries/blocks-from-heights.graph.ts
  packages/apps/explorer/src/hooks/network/redirect.ts
  packages/apps/explorer/src/pages/_app.tsx
Owners: none

chore: upgrade turbo
  package.json
  packages/apps/docs/turbo.json
  packages/apps/explorer/README.md
  packages/apps/explorer/package.json
  packages/apps/explorer/turbo.json
  packages/apps/graph-client/turbo.json
  packages/apps/marmalade-marketplace/turbo.json
  packages/apps/proof-of-us/turbo.json
  packages/apps/tools/turbo.json
  packages/libs/client-utils/turbo.json
  packages/libs/client/turbo.json
  packages/libs/hd-wallet/turbo.json
  packages/libs/kode-icons/turbo.json
  packages/libs/kode-ui/turbo.json
  packages/tools/eslint-config/turbo.json
  packages/tools/eslint-plugin/turbo.json
  packages/tools/kadena-cli/turbo.json
  packages/tools/markdown/turbo.json
  pnpm-lock.yaml
  turbo.json
Owners: @alber70g, @jermaine150, @ggobugi27, @sstraatemans, @ghislain89, @javadkh2, @nillo, @isaozler

chore: formatting
  packages/apps/explorer/package.json
Owners: none

new storage added and remembered
  packages/apps/explorer/src/components/select-network/custom-network-dialog.tsx
  packages/apps/explorer/src/components/select-network/select-network.tsx
  packages/apps/explorer/src/context/networks-context.tsx
Owners: none

chore: update changesets
  package.json
  pnpm-lock.yaml
Owners: none

fix(dev-wallet): safe transfer
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/modules/account/account.repository.ts
  packages/apps/dev-wallet/src/modules/db/db.service.tsx
  packages/apps/dev-wallet/src/modules/key-source/hd-wallet/chainweaver.ts
  packages/apps/dev-wallet/src/modules/transaction/transaction.repository.ts
  packages/apps/dev-wallet/src/modules/transaction/transaction.service.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.provider.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.service.ts
  packages/apps/dev-wallet/src/pages/home/home-page.tsx
  packages/apps/dev-wallet/src/pages/home/style.css.ts
  packages/apps/dev-wallet/src/pages/signature-builder/signature-builder.tsx
  packages/apps/dev-wallet/src/pages/signature-builder/utils/normalizeSigs.ts
  packages/apps/dev-wallet/src/pages/transaction/SignTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/ReviewTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/Signers.tsx
  packages/apps/dev-wallet/src/pages/transfer/style.css.ts
  packages/apps/dev-wallet/src/pages/transfer/transfer.tsx
  packages/apps/dev-wallet/src/pages/transfer/utils.ts
  packages/libs/client-utils/etc/client-utils-coin.api.md
  packages/libs/client-utils/src/coin/index.ts
  packages/libs/client-utils/src/coin/safe-transfer-create.ts
  packages/libs/client-utils/src/coin/safe-transfer.ts
Owners: @alber70g, @javadkh2, @jermaine150, @ggobugi27

fix(types): signature
  packages/libs/chainweb-node-client/src/local.ts
  packages/libs/client-utils/etc/client-utils-coin.api.md
  packages/libs/client-utils/src/coin/safe-transfer.ts
  packages/libs/client-utils/src/core/utils/with-emitter.ts
  packages/libs/types/etc/types.api.md
  packages/libs/types/src/PactCommand.ts
Owners: @alber70g, @javadkh2, @jermaine150, @ggobugi27

chore: changeset
  .changeset/breezy-fans-relate.md
  .changeset/nine-lobsters-change.md
  .changeset/old-lies-compare.md
  .changeset/orange-grapes-sin.md
  .changeset/ten-rocks-sort.md
  packages/apps/dev-wallet-example/package.json
  packages/tools/kda-cli/.kda-history.json
Owners: none

Fix turbo command after 2.0 upgrade
  .github/actions/end-to-end-tests/action.yaml
Owners: @ghislain89, @alber70g, @sstraatemans, @javadkh2

test(client): update tests
  packages/libs/client/src/client/utils/tests/utils.test.ts
  packages/libs/client/src/signing/chainweaver/tests/signWithChainweaver.test.ts
  packages/libs/client/src/signing/keypair/tests/signWithKeypair.test.ts
  packages/libs/client/src/signing/utils/tests/addSignature.test.ts
  packages/libs/client/src/utils/tests/pact-helpers.test.ts
Owners: @alber70g, @javadkh2, @nillo

add networks functionality
  packages/apps/explorer/src/components/graphql-query-dialog/graphql-query-dialog.tsx
  packages/apps/explorer/src/components/select-network/custom-network-dialog.tsx
  packages/apps/explorer/src/components/select-network/select-network.tsx
  packages/apps/explorer/src/constants/graphHost.ts
  packages/apps/explorer/src/constants/network.ts
  packages/apps/explorer/src/context/networks-context.tsx
  packages/apps/explorer/src/pages/[networkId]/account/[accountName].tsx
  packages/apps/explorer/src/pages/[networkId]/block/[hash].tsx
  packages/apps/explorer/src/pages/[networkId]/index.tsx
  packages/apps/explorer/src/pages/[networkId]/transaction/[requestKey].tsx
  packages/apps/explorer/src/pages/_app.tsx
  packages/apps/explorer/src/pages/index.tsx
  packages/apps/explorer/src/types.d.ts
Owners: none

test(chainweb-node-client): update some tests
  packages/libs/chainweb-node-client/src/tests/parseResponse.test.ts
  packages/libs/chainweb-node-client/src/tests/poll.test.ts
Owners: none

chore: cleanup
  packages.json
Owners: none

.github/CODEOWNERS:

# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.github                                        @ghislain89 @alber70g @sstraatemans @javadkh2
/.changeset
/common                                         @alber70g
/pnpm-lock.yaml
/packages/apps/docs
/packages/apps/proof-of-us                      @sstraatemans @ghislain89
/packages/apps/graph                            @alber70g
/packages/apps/graph-client                     @alber70g 
/packages/apps/marmalade-marketplace            @jermaine150 @ggobugi27
/packages/apps/tools                            
/packages/libs/bootstrap-lib                    @alber70g
/packages/libs/chainweb-stream-client          
/packages/libs/client                           @alber70g @javadkh2 @nillo
/packages/libs/client-utils                     @alber70g @javadkh2 @jermaine150 @ggobugi27
/packages/libs/kadena.js                        @alber70g
/packages/libs/pactjs-generator                 @alber70g @javadkh2
/packages/libs/kode-ui                          @sstraatemans @isaozler
/packages/libs/types                            @alber70g
/packages/tools/eslint-config                   @alber70g
/packages/tools/eslint-plugin                   @alber70g
/packages/tools/pactjs-cli                      @alber70g @javadkh2
/packages/tools/shared-config                   @alber70g
/packages/e2e                                   @ghislain89
/packages/e2e/e2e-base                          @ghislain89
/packages/e2e/e2e-docs                          @ghislain89 @sstraatemans
/packages/e2e/e2e-graph                         @ghislain89
/packages/e2e/e2e-tools                         @ghislain89
/packages/tools/integration-tests               @ghislain89 @sstraatemans
