Repository kadena-community/kadena.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alber70g, @webpro, @sstraatemans, @eileenmguo, @realdreamer, @Takadenoshi, @javadkh2, @timoheddes, @ggobugi27

.github/CODEOWNERS:

# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/*.*                                            @alber70g @webpro
/*.md                                           @webpro
/common                                         @alber70g @webpro
/common/config/rush/pnpm-lock.yaml
/common/config/rush/repo-state.json
/packages/apps/graph                            @alber70g @webpro
/packages/apps/kadena-docs                      @sstraatemans @eileenmguo @realdreamer

/packages/libs/chainweb-stream-client           @Takadenoshi

/packages/libs/bootstrap-lib                    @alber70g @webpro
/packages/libs/client                           @alber70g @javadkh2 @webpro
/packages/libs/kadena.js                        @alber70g @webpro
/packages/libs/pactjs-generator                 @alber70g @webpro
/packages/libs/react-ui                         @eileenmguo @sstraatemans @timoheddes
/packages/libs/types                            @alber70g @webpro
/packages/tools/pactjs-cli                      @alber70g @webpro
/packages/tools/eslint-config                   @alber70g @webpro
/packages/tools/eslint-plugin                   @alber70g @webpro
/packages/tools/heft-rig                        @alber70g @webpro
/packages/tools/integration-tests               @ggobugi27
/packages/tools/remark-plugins                  @webpro
/packages/tools/rush-fix-versions               @alber70g @webpro

Reintroduce former logic
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-tracker/index.tsx
Owners: none

Update dependency array
  packages/apps/tools/src/pages/faucet/existing/index.tsx
Owners: none

Refine request key validation
  packages/apps/tools/src/components/Global/RequestKeyField/index.tsx
Owners: none

Make props more flexible
  packages/apps/tools/src/components/Global/AccountNameField/index.tsx
Owners: none

Remove unused prop
  packages/apps/tools/src/components/Global/AccountNameField/index.tsx
Owners: none

Implement form validation on Account transactions page
  packages/apps/tools/src/pages/account/account-transactions/index.tsx
Owners: none

Reusable account name field
  packages/apps/tools/src/components/Global/AccountNameField/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/index.tsx
  packages/apps/tools/src/pages/faucet/existing/index.tsx
Owners: none

Use AccountNameField for gas payer account
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
Owners: none

Reintroduce former logic
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
Owners: none

Cleanup XChain transfer finish page
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
Owners: none

Reimplement form validation on new account txs page
  packages/apps/tools/src/pages/account/account-transactions/filters/index.tsx
Owners: none

Initial form validation implementation on XChain tracker page
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-tracker/index.tsx
Owners: none

Reusable request key field
  packages/apps/tools/src/components/Global/RequestKeyField/index.tsx
Owners: none

refactor: delete client storage and use requestObject instead of requestKey
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
  packages/apps/tools/src/services/cross-chain-transfer-finish/finish-xchain-transfer.ts
  packages/apps/tools/src/services/cross-chain-transfer-finish/get-transfer-data.ts
  packages/apps/tools/src/services/transfer-tracker/get-transfer-status.ts
  packages/libs/client-examples/src/example-contract/crosschain-transfer.ts
  packages/libs/client-examples/src/example-contract/poll-status.ts
  packages/libs/client/etc/client.api.md
  packages/libs/client/src/client/client.ts
  packages/libs/client/src/client/tests/client.test.ts
  packages/libs/client/src/client/utils/request-storege.ts
  packages/libs/client/src/client/utils/tests/request-storege.test.ts
  packages/libs/client/src/client/utils/utils.ts
Owners: @alber70g, @javadkh2, @webpro

fix(client): export IRequestObject
  packages/libs/client/etc/client.api.md
  packages/libs/client/src/client/client.ts
Owners: @alber70g, @javadkh2, @webpro

refactor(client): rename getClient to createClient
  common/changes/@kadena/client/refactro-use-request-object_2023-08-04-11-05.json
  packages/apps/tools/src/constants/client.ts
  packages/apps/tools/src/services/cross-chain-transfer-finish/get-transfer-data.ts
  packages/apps/tools/src/services/faucet/index.ts
  packages/apps/tools/src/services/modules/describe-module.ts
  packages/apps/tools/src/services/modules/list-module.ts
  packages/libs/client-examples/src/example-contract/crowdfund.ts
  packages/libs/client-examples/src/example-contract/poll-status.ts
  packages/libs/client-examples/src/example-contract/simple-transfer.ts
  packages/libs/client-examples/src/example-contract/transfer-create.ts
  packages/libs/client-examples/src/example-contract/util/client.ts
  packages/libs/client/README.md
  packages/libs/client/etc/client.api.md
  packages/libs/client/src/client/client.ts
  packages/libs/client/src/client/tests/client.test.ts
Owners: @alber70g, @webpro, @javadkh2

docs(client); update client tsdocs
  packages/libs/client/src/client/client.ts
Owners: @alber70g, @javadkh2, @webpro

refactor(client): update tests
  common/changes/@kadena/client/refactro-use-request-object_2023-08-04-07-29.json
  packages/libs/client/src/client/api/runPact.ts
  packages/libs/client/src/client/api/tests/runPact.test.ts
  packages/libs/client/src/client/client.ts
  packages/libs/client/src/utils/tests/parseAsPactValue.test.ts
Owners: @alber70g, @webpro, @javadkh2

refactor(client): rename variable
  packages/libs/client-examples/src/example-contract/crowdfund.ts
  packages/libs/client-examples/src/example-contract/simple-transfer.ts
  packages/libs/client-examples/src/example-contract/transfer-create.ts
Owners: none

chore(client): add tests for signWithChainweaver
  packages/libs/client/src/signing/chainweaver/signWithChainweaver.ts
  packages/libs/client/src/signing/chainweaver/tests/signWithChainweaver.test.ts
Owners: @alber70g, @javadkh2, @webpro

fix: typo
  packages/libs/client/src/client/tests/client.test.ts
Owners: @alber70g, @javadkh2, @webpro

Ban new dependencies in root package
  .pnpmfile.cjs
Owners: @alber70g, @webpro
