Repository kadena-community/kadena.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alber70g, @webpro, @sstraatemans, @eileenmguo, @realdreamer, @Takadenoshi, @javadkh2, @timoheddes, @ggobugi27

.github/CODEOWNERS:

# About code owners: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/*.*                                            @alber70g @webpro
/*.md                                           @webpro
/common                                         @alber70g @webpro
/common/config/rush/pnpm-lock.yaml
/common/config/rush/repo-state.json
/packages/apps/graph                            @alber70g @webpro
/packages/apps/kadena-docs                      @sstraatemans @eileenmguo @realdreamer

/packages/libs/chainweb-stream-client           @Takadenoshi

/packages/libs/bootstrap-lib                    @alber70g @webpro
/packages/libs/client                           @alber70g @javadkh2 @webpro
/packages/libs/kadena.js                        @alber70g @webpro
/packages/libs/pactjs-generator                 @alber70g @webpro
/packages/libs/react-ui                         @eileenmguo @sstraatemans @timoheddes
/packages/libs/types                            @alber70g @webpro
/packages/tools/pactjs-cli                      @alber70g @webpro
/packages/tools/eslint-config                   @alber70g @webpro
/packages/tools/eslint-plugin                   @alber70g @webpro
/packages/tools/heft-rig                        @alber70g @webpro
/packages/tools/integration-tests               @ggobugi27
/packages/tools/remark-plugins                  @webpro
/packages/tools/rush-fix-versions               @alber70g @webpro

Bump versions [skip ci]
  common/config/rush/version-policies.json
  packages/libs/chainweb-node-client/package.json
  packages/libs/chainweb-stream-client/package.json
  packages/libs/client/package.json
  packages/libs/cryptography-utils/package.json
  packages/libs/pactjs-generator/package.json
  packages/libs/pactjs/package.json
  packages/libs/types/package.json
  packages/tools/eslint-config/package.json
  packages/tools/eslint-plugin/package.json
  packages/tools/heft-rig/package.json
  packages/tools/pactjs-cli/package.json
  packages/tools/rush-fix-versions/package.json
Owners: @alber70g, @webpro, @Takadenoshi, @javadkh2

Implement contentheaders
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

[@kadena/react-ui] Implement missing Arrow icons
  packages/libs/react-ui/src/components/Icon/System/SystemIcon.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowCollapseDown.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowExpandUp.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

Trash can added
  packages/libs/react-ui/src/components/Icon/System/SystemIcon.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/TrashCan.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

Trash can added
  packages/libs/react-ui/src/components/Icon/System/SystemIcon.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/TrashCan.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

[@kadena/react-ui] Implement missing Arrow icons
  packages/libs/react-ui/src/components/Icon/System/SystemIcon.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowCollapseDown.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowExpandUp.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

clarify initial message for kda/cli
  packages/tools/kda-cli/src/questions/init.ts
Owners: none

feat(client): rename `isSignedCommand` to `isSignedTransaction`
  packages/apps/tools/src/services/faucet/index.ts
  packages/libs/client/README.md
  packages/libs/client/etc/client.api.md
  packages/libs/client/src/client/client.ts
  packages/libs/client/src/createTransactionBuilder/createTransactionBuilder.ts
  packages/libs/client/src/signing/index.ts
  packages/libs/client/src/signing/utils/isSignedTransaction.ts
  packages/libs/client/src/signing/utils/tests/isSignedCommand.test.ts
  packages/libs/client/src/signing/walletconnect/walletConnectTypes.ts
Owners: @alber70g, @javadkh2, @webpro

chore: fix minor changes
  packages/tools/cookbook/package.json
  packages/tools/cookbook/src/accounts/create-account.ts
  packages/tools/cookbook/src/accounts/transfer-create-with-chainweaver.ts
  packages/tools/cookbook/src/accounts/transfer-create-with-private-key.ts
Owners: none

chore(client-examples): rename isSignedCommand to isSignedTransaction
  packages/libs/client-examples/src/example-contract/crosschain-transfer.ts
  packages/libs/client-examples/src/example-contract/crowdfund.ts
  packages/libs/client-examples/src/example-contract/functional/transfer-fp.ts
  packages/libs/client-examples/src/example-contract/safe-transfe.ts
  packages/libs/client-examples/src/example-contract/simple-transfer.ts
  packages/libs/client-examples/src/example-contract/transfer-create.ts
Owners: none

Fix icon colours
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowCollapseDown.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowExpandUp.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/TrashCan.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

Fix icon colours
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowCollapseDown.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/ArrowExpandUp.tsx
  packages/libs/react-ui/src/components/Icon/System/svgs/TrashCan.tsx
Owners: @eileenmguo, @sstraatemans, @timoheddes

[docs] refactor react-components components into react-ui (#717)
  packages/apps/docs/src/components/BottomPageSection/BottomPageSection.tsx
  packages/apps/docs/src/components/BottomPageSection/components/Subscribe.tsx
  packages/apps/docs/src/components/Layout/Landing/components/Headers/HomeHeader.tsx
  packages/apps/docs/src/components/Layout/Landing/components/Headers/SearchHeader.tsx
  packages/apps/docs/src/components/Layout/components/Footer/Footer.tsx
  packages/apps/docs/src/components/Layout/components/Header/Header.tsx
  packages/apps/docs/src/components/Layout/components/Header/SearchButton.tsx
  packages/apps/docs/src/components/Layout/components/Header/ThemeToggle.tsx
  packages/apps/docs/src/components/Layout/components/SideMenu/SideMenu.tsx
  packages/apps/docs/src/components/Layout/components/TitleHeader/TitleHeader.tsx
  packages/apps/docs/src/components/NotFound/NotFound.tsx
  packages/apps/docs/src/components/NotFound/styles.ts
  packages/apps/docs/src/components/Search/components/SearchResults.tsx
  packages/apps/docs/src/hooks/useMediaQuery.ts
  packages/apps/docs/src/pages/_error.tsx
  packages/apps/docs/src/pages/docs/__tests/index.tsx
  packages/apps/docs/src/pages/docs/blogchain/2018/index.tsx
  packages/apps/docs/src/pages/docs/blogchain/2019/index.tsx
  packages/apps/docs/src/pages/docs/blogchain/2021/index.tsx
  packages/apps/docs/src/pages/docs/blogchain/2022/index.tsx
  packages/apps/docs/src/pages/docs/blogchain/2023/index.tsx
  packages/apps/docs/src/pages/docs/build/index.tsx
  packages/apps/docs/src/pages/docs/chainweb/index.tsx
  packages/apps/docs/src/pages/docs/contribute/index.tsx
  packages/apps/docs/src/pages/docs/kadena/index.tsx
  packages/apps/docs/src/pages/docs/marmalade/index.tsx
  packages/apps/docs/src/pages/index.tsx
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Divider/Divider.css.ts
  packages/libs/react-ui/src/components/Divider/Divider.stories.tsx
  packages/libs/react-ui/src/components/Divider/Divider.tsx
  packages/libs/react-ui/src/components/Divider/stories.css.ts
  packages/libs/react-ui/src/components/NavFooter/Footer.stories.tsx
  packages/libs/react-ui/src/components/Stack/Stack.stories.tsx
  packages/libs/react-ui/src/components/Stack/Stack.tsx
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/index.ts
Owners: @eileenmguo, @sstraatemans, @timoheddes

refactor: use sender to senderAccount
  packages/apps/tools/src/services/cross-chain-transfer-finish/finish-xchain-transfer.ts
  packages/apps/tools/src/services/faucet/index.ts
  packages/apps/tools/src/services/modules/describe-module.ts
  packages/apps/tools/src/services/modules/list-module.ts
  packages/libs/client-examples/src/example-contract/crosschain-transfer.ts
  packages/libs/client-examples/src/example-contract/crowdfund.ts
  packages/libs/client-examples/src/example-contract/functional/transfer-fp.ts
  packages/libs/client-examples/src/example-contract/safe-transfe.ts
  packages/libs/client-examples/src/example-contract/simple-transfer.ts
  packages/libs/client-examples/src/example-contract/transfer-create.ts
  packages/libs/client/etc/client.api.md
  packages/libs/client/src/composePactCommand/test/composePactCommand.test.ts
  packages/libs/client/src/composePactCommand/utils/setMeta.ts
  packages/libs/client/src/createTransactionBuilder/createTransactionBuilder.ts
  packages/libs/client/src/signing/chainweaver/tests/signWithChainweaver.test.ts
Owners: @alber70g, @javadkh2, @webpro

Updated icons
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

chore(client-examples): fix formatting
  packages/libs/client-examples/src/example-contract/crosschain-transfer.ts
Owners: none

feat: initial setup for wallet connect
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/apps/immutable-records/package.json
  packages/apps/immutable-records/src/components/Connect.tsx
  packages/apps/immutable-records/src/connect/connect.client.ts
  packages/apps/immutable-records/src/connect/connect.hook.ts
  packages/apps/immutable-records/src/connect/connect.modal.ts
  packages/apps/immutable-records/src/screens/Home/Home.tsx
Owners: none

feat: expand on wallet connect client class
  packages/apps/immutable-records/src/components/Accounts.tsx
  packages/apps/immutable-records/src/components/Connect.tsx
  packages/apps/immutable-records/src/connect/connect.client.ts
  packages/apps/immutable-records/src/connect/connect.hook.ts
  packages/apps/immutable-records/src/screens/Home/Home.tsx
Owners: none

feat: expand on wallet connect client class
  packages/apps/immutable-records/src/app/layout.tsx
  packages/apps/immutable-records/src/app/services/chainweb.ts
  packages/apps/immutable-records/src/components/Accounts.tsx
  packages/apps/immutable-records/src/components/Accounts/Accounts.css.ts
  packages/apps/immutable-records/src/components/Accounts/Accounts.tsx
  packages/apps/immutable-records/src/components/Connect.tsx
  packages/apps/immutable-records/src/components/Connect/Connect.css.ts
  packages/apps/immutable-records/src/components/Connect/Connect.tsx
  packages/apps/immutable-records/src/connect/connect.client.ts
  packages/apps/immutable-records/src/connect/connect.context.tsx
  packages/apps/immutable-records/src/connect/connect.hook.ts
  packages/apps/immutable-records/src/connect/connect.utils.ts
  packages/apps/immutable-records/src/screens/Home/Home.tsx
Owners: none

chore(docs): fix issue with code in title
  packages/apps/docs/src/scripts/importReadme.mjs
  packages/libs/client/README.md
Owners: @alber70g, @javadkh2, @webpro

fix: load balance for selected account
  packages/apps/immutable-records/package.json
  packages/apps/immutable-records/src/components/Accounts/Accounts.tsx
Owners: none

lint fixes
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

lint fixes
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

Results page progress
  packages/apps/tools/locales/en/common.json
  packages/apps/tools/src/pages/account/account-transactions/filters/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/filters/styles.css.ts
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/results/styles.css.ts
Owners: none

Updated icons
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

url added
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

Implement contentheaders
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
Owners: none

Filter page done, results page in progress
  packages/apps/tools/locales/en/common.json
  packages/apps/tools/src/components/Common/Layout/index.tsx
  packages/apps/tools/src/constants/routes.ts
  packages/apps/tools/src/pages/account/account-transactions/filters/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/filters/styles.css.ts
  packages/apps/tools/src/pages/account/account-transactions/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/results/styles.css.ts
Owners: none

chore(client): run `rush change`
  common/changes/@kadena/client/fix-ag-issue-with-code-in-title_2023-08-03-14-47.json
Owners: @alber70g, @webpro

chore(client): run `rush change`
  common/changes/@kadena/client/fix-ag-issue-with-code-in-title_2023-08-03-14-47.json
Owners: @alber70g, @webpro

chore(docs): fix issue with code in title
  packages/apps/docs/src/scripts/importReadme.mjs
  packages/libs/client/README.md
Owners: @alber70g, @javadkh2, @webpro

Remove odd `d.ts` file
  packages/apps/docs/src/utils/staticGeneration/docs.d.ts
Owners: none

Fix types for mailchimp
  packages/apps/docs/package.json
  packages/apps/docs/src/pages/api/subscribe.ts
Owners: none

Simplify TS config
  packages/apps/docs/tsconfig.json
Owners: none

Update lockfile
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Owners: none

Apply formatting
  packages/libs/client/README.md
  packages/libs/react-components/package.json
  packages/libs/react-ui/src/components/ContentHeader/ContentHeader.css.ts
  packages/libs/react-ui/src/components/ContentHeader/ContentHeader.stories.tsx
  packages/libs/react-ui/src/components/ContentHeader/ContentHeader.tsx
  packages/tools/remark-plugins/package.json
Owners: @alber70g, @javadkh2, @webpro, @eileenmguo, @sstraatemans, @timoheddes

Update changelog
  common/changes/@kadena/client/fix-docs-types_2023-08-03-18-22.json
Owners: @alber70g, @webpro

fix: button color, weight and hover style
  packages/libs/react-ui/src/components/Button/Button.css.ts
Owners: @eileenmguo, @sstraatemans, @timoheddes

feat: use react-ui Button in Docs
  packages/apps/docs/src/components/BottomPageSection/components/EditPage.tsx
  packages/apps/docs/src/components/NotFound/NotFound.tsx
Owners: none

feat: light/dark support
  packages/libs/react-ui/src/components/Button/Button.css.ts
Owners: @eileenmguo, @sstraatemans, @timoheddes
