Repository kadena-community/kadena.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Config & Actions, @kadena/bootstrap-lib, @kadena/chainweb-node-client, @kadena/chainweb-stream-client, @kadena/chainwebjs, @kadena/client, @kadena/client-examples, @kadena/client-utils, @kadena/cookbook, @kadena/create-kadena-app, @kadena/cryptography-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/docs, @kadena/docs-tools, @kadena/graph, @kadena/graph-client, @kadena/hd-wallet, @kadena/js-monorepo, @kadena/kadena-cli, @kadena/kda-cli, @kadena/pactjs, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/react-icons, @kadena/react-ui, @kadena/spirekey-example, @kadena/toolbox, @kadena/tools, @kadena/types, @kadena-dev/e2e-base, @kadena-dev/eslint-config, @kadena-dev/eslint-plugin, @kadena-dev/integration-tests, @kadena-dev/lint-package, @kadena-dev/markdown, @kadena-dev/scripts, @kadena-dev/shared-config, e2e-docs, e2e-graph, e2e-tools, kadena.js

.github/labeler.yml:

Release:
  - head-branch:
      - changeset-release/main
Github Config & Actions:
  - changed-files:
      - any-glob-to-any-file: .github/*
'@kadena/bootstrap-lib':
  - changed-files:
      - any-glob-to-any-file: packages/libs/bootstrap-lib/*
'@kadena/chainweb-node-client':
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainweb-node-client/*
'@kadena/chainweb-stream-client':
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainweb-stream-client/*
'@kadena/chainwebjs':
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainwebjs/*
'@kadena/client':
  - changed-files:
      - any-glob-to-any-file: packages/libs/client/*
'@kadena/client-examples':
  - changed-files:
      - any-glob-to-any-file: packages/libs/client-examples/*
'@kadena/client-utils':
  - changed-files:
      - any-glob-to-any-file: packages/libs/client-utils/*
'@kadena/cookbook':
  - changed-files:
      - any-glob-to-any-file: packages/tools/cookbook/*
'@kadena/create-kadena-app':
  - changed-files:
      - any-glob-to-any-file: packages/tools/create-kadena-app/*
'@kadena/cryptography-utils':
  - changed-files:
      - any-glob-to-any-file: packages/libs/cryptography-utils/*
'@kadena/dev-wallet':
  - changed-files:
      - any-glob-to-any-file: packages/apps/dev-wallet/*
'@kadena/dev-wallet-desktop':
  - changed-files:
      - any-glob-to-any-file: packages/apps/dev-wallet-desktop/*
'@kadena/docs':
  - changed-files:
      - any-glob-to-any-file: packages/apps/docs/*
'@kadena/docs-tools':
  - changed-files:
      - any-glob-to-any-file: packages/tools/docs-tools/*
'@kadena/graph':
  - changed-files:
      - any-glob-to-any-file: packages/apps/graph/*
'@kadena/graph-client':
  - changed-files:
      - any-glob-to-any-file: packages/apps/graph-client/*
'@kadena/hd-wallet':
  - changed-files:
      - any-glob-to-any-file: packages/libs/hd-wallet/*
'@kadena/js-monorepo':
  - changed-files:
      - any-glob-to-any-file: ./*
'@kadena/kadena-cli':
  - changed-files:
      - any-glob-to-any-file: packages/tools/kadena-cli/*
'@kadena/kda-cli':
  - changed-files:
      - any-glob-to-any-file: packages/tools/kda-cli/*
'@kadena/pactjs':
  - changed-files:
      - any-glob-to-any-file: packages/libs/pactjs/*
'@kadena/pactjs-cli':
  - changed-files:
      - any-glob-to-any-file: packages/tools/pactjs-cli/*
'@kadena/pactjs-generator':
  - changed-files:
      - any-glob-to-any-file: packages/libs/pactjs-generator/*
'@kadena/proof-of-us':
  - changed-files:
      - any-glob-to-any-file: packages/apps/proof-of-us/*
'@kadena/react-icons':
  - changed-files:
      - any-glob-to-any-file: packages/libs/react-icons/*
'@kadena/react-ui':
  - changed-files:
      - any-glob-to-any-file: packages/libs/react-ui/*
'@kadena/spirekey-example':
  - changed-files:
      - any-glob-to-any-file: packages/apps/spirekey-example/*
'@kadena/toolbox':
  - changed-files:
      - any-glob-to-any-file: packages/libs/toolbox/*
'@kadena/tools':
  - changed-files:
      - any-glob-to-any-file: packages/apps/tools/*
'@kadena/types':
  - changed-files:
      - any-glob-to-any-file: packages/libs/types/*
'@kadena-dev/e2e-base':
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-base/*
'@kadena-dev/eslint-config':
  - changed-files:
      - any-glob-to-any-file: packages/tools/eslint-config/*
'@kadena-dev/eslint-plugin':
  - changed-files:
      - any-glob-to-any-file: packages/tools/eslint-plugin/*
'@kadena-dev/integration-tests':
  - changed-files:
      - any-glob-to-any-file: packages/tools/integration-tests/*
'@kadena-dev/lint-package':
  - changed-files:
      - any-glob-to-any-file: packages/tools/lint-package/*
'@kadena-dev/markdown':
  - changed-files:
      - any-glob-to-any-file: packages/tools/markdown/*
'@kadena-dev/scripts':
  - changed-files:
      - any-glob-to-any-file: packages/tools/scripts/*
'@kadena-dev/shared-config':
  - changed-files:
      - any-glob-to-any-file: packages/tools/shared-config/*
e2e-docs:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-docs/*
e2e-graph:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-graph/*
e2e-tools:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-tools/*
kadena.js:
  - changed-files:
      - any-glob-to-any-file: packages/libs/kadena.js/*

fix: create basebutton and link and provide extra tests
  packages/apps/docs/src/components/BottomPageSection/components/EditPage.tsx
  packages/libs/react-ui/src/components/Button/BaseButton/BaseButton.css.ts
  packages/libs/react-ui/src/components/Button/BaseButton/BaseButton.spec.tsx
  packages/libs/react-ui/src/components/Button/BaseButton/BaseButton.tsx
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.spec.tsx
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Button/ToggleButton.tsx
  packages/libs/react-ui/src/components/Button/index.ts
  packages/libs/react-ui/src/components/Button/utils.ts
  packages/libs/react-ui/src/components/Form/Combobox/Combobox.css.ts
  packages/libs/react-ui/src/components/Link/BaseLink.tsx
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/Link/Link.tsx
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/index.ts
Labels: none

fix: hardcoded value for amount
  packages/apps/graph/src/devnet/simulation/marmalade/simulate.ts
Labels: none

chore: changeset file
  .changeset/bright-llamas-talk.md
Labels: none

fix: fix append error messages to file
  packages/apps/graph/src/devnet/simulation/coin/simulate.ts
  packages/apps/graph/src/devnet/simulation/marmalade/simulate.ts
Labels: none

fix: small fixes related to marmalade simulation
  packages/apps/graph/src/devnet/simulation/marmalade/simulate.ts
Labels: none

use the same submit flow for attendance and connect
  packages/apps/proof-of-us/src/components/ConnectView/ConnectView.tsx
  packages/apps/proof-of-us/src/components/List/ListItem.tsx
  packages/apps/proof-of-us/src/components/ProofOfUsProvider/ProofOfUsProvider.tsx
  packages/apps/proof-of-us/src/components/TokenProvider/TokenProvider.tsx
  packages/apps/proof-of-us/src/features/ScanAttendanceEvent/ScanAttendanceEvent.tsx
  packages/apps/proof-of-us/src/hooks/data/hasMintedAttendaceToken.ts
  packages/apps/proof-of-us/src/hooks/data/signToken.ts
  packages/apps/proof-of-us/src/hooks/submit.ts
  packages/apps/proof-of-us/src/pages/scan/e/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/mint/[requestKey]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/[requestkey]/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/index.tsx
  packages/apps/proof-of-us/src/scripts/createEvent.ts
Labels: none

fix: Link typing and exclude test coverage on non relavant files
  packages/libs/react-ui/src/components/Link/Link.tsx
  packages/libs/react-ui/src/components/NavHeader/NavHeaderButtonLink.tsx
  packages/libs/react-ui/vitest.config.ts
Labels: @kadena/react-ui

fix build
  packages/apps/proof-of-us/src/components/AvatarEditor/AvatarEditor.tsx
  packages/apps/proof-of-us/src/components/TokenProvider/TokenProvider.tsx
  packages/apps/proof-of-us/src/features/ScanAttendanceEvent/ScanAttendanceEvent.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/mint/[requestKey]/index.tsx
Labels: none

chore: update options helper text
  packages/tools/kadena-cli/src/account/accountOptions.ts
  packages/tools/kadena-cli/src/dapp/dappOptions.ts
  packages/tools/kadena-cli/src/keys/keysOptions.ts
  packages/tools/kadena-cli/src/tx/txOptions.ts
  packages/tools/kadena-cli/src/utils/globalOptions.ts
Labels: none

chore: improve help description for account command options
  packages/tools/kadena-cli/src/account/accountOptions.ts
Labels: none

fix successful attendance link in dashboard
  packages/apps/proof-of-us/src/components/TokenProvider/TokenProvider.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/mint/[requestKey]/index.tsx
  packages/apps/proof-of-us/src/scripts/createEvent.ts
Labels: none

fix: let subscribe button use onClick instead of onPress
  packages/apps/docs/src/components/BottomPageSection/components/Subscribe.tsx
  packages/apps/docs/src/components/BottomPageSection/components/useSubscribe.ts
Labels: none

fix: add spacing to togglebutton for icon only variant
  packages/libs/react-ui/src/components/Button/ToggleButton.tsx
Labels: none

docs(kadena-cli): update readme of generate-key and export
  packages/tools/kadena-cli/README.md
Labels: @kadena/kadena-cli

docs(kadena-cli): update readme of generate-key and export
  packages/tools/kadena-cli/README.md
Labels: @kadena/kadena-cli

fix showing correct data during minting
  packages/apps/proof-of-us/src/pages/user/proof-of-us/mint/[requestKey]/index.tsx
  packages/apps/proof-of-us/src/scripts/createEvent.ts
Labels: none

feat: change sigs formatting in transactions in graph
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/builder.ts
  packages/apps/graph/src/graph/index.ts
  packages/apps/graph/src/graph/objects/signer.ts
  packages/apps/graph/src/graph/objects/transaction-signature.ts
  packages/apps/graph/src/graph/objects/transaction.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
Labels: @kadena/graph

feat: adapt pages and queries to adopt new transactions format
  packages/apps/graph-client/src/graphql/fields/signer.graph.ts
  packages/apps/graph-client/src/graphql/fields/transaction.graph.ts
  packages/apps/graph-client/src/graphql/queries.graph.ts
  packages/apps/graph-client/src/graphql/subscriptions.graph.ts
  packages/apps/graph-client/src/pages/transactions/[key].tsx
Labels: none

chore: changeset files
  .changeset/purple-bananas-punch.md
  .changeset/witty-tigers-prove.md
Labels: none

fix attendance token minting
  packages/apps/proof-of-us/src/components/TokenProvider/TokenProvider.tsx
  packages/apps/proof-of-us/src/hooks/submit.ts
  packages/apps/proof-of-us/src/pages/user/proof-of-us/mint/[requestKey]/index.tsx
  packages/apps/proof-of-us/src/scripts/createEvent.ts
Labels: none

feat(pou): Add a confirmation popup for Logout
  packages/apps/proof-of-us/src/components/Confirmation/Confirmation.tsx
  packages/apps/proof-of-us/src/components/DetailView/DetailView.tsx
  packages/apps/proof-of-us/src/components/Modal/style.css.ts
  packages/apps/proof-of-us/src/components/SocialShare/SocialShare.tsx
  packages/apps/proof-of-us/src/pages/user/index.tsx
Labels: none

chore: improve help description for options (#1923)
  packages/tools/kadena-cli/src/account/accountOptions.ts
  packages/tools/kadena-cli/src/dapp/dappOptions.ts
  packages/tools/kadena-cli/src/keys/keysOptions.ts
  packages/tools/kadena-cli/src/tx/txOptions.ts
  packages/tools/kadena-cli/src/utils/globalOptions.ts
Labels: none

chore: colors
  packages/libs/react-ui/src/components/Form/NumberField/NumberField.tsx
  packages/libs/react-ui/src/components/NavHeader/NavHeader.css.ts
  packages/libs/react-ui/src/components/NavHeader/NavHeader.stories.tsx
  packages/libs/react-ui/src/components/NavHeader/NavHeaderButton.tsx
Labels: none

feat: implement data loader and eslint ignores
  packages/apps/graph/src/graph/data-loaders/account-details.ts
  packages/apps/graph/src/graph/data-loaders/non-fungible-chain-check.ts
  packages/apps/graph/src/graph/data-loaders/signers.ts
  packages/apps/graph/src/graph/data-loaders/token-details.ts
  packages/apps/graph/src/graph/objects/transaction.ts
  packages/apps/graph/src/services/chainweb-node/signer.ts
Labels: none

feat: fix e2e testing
  packages/e2e/e2e-graph/queries/getTransactions.ts
  packages/e2e/e2e-graph/tests/transaction.test.ts
Labels: none

feat(pou): Add a confirmation popup for Logout
  packages/apps/proof-of-us/src/components/Confirmation/Confirmation.tsx
  packages/apps/proof-of-us/src/components/Confirmation/styles.css.ts
  packages/apps/proof-of-us/src/components/ConnectView/ConnectView.tsx
  packages/apps/proof-of-us/src/components/ConnectView/styles.css.ts
Labels: none

feat(kadena-cli) no early exit / check password before continuing / move password forward
  packages/tools/kadena-cli/src/prompts/security.ts
  packages/tools/kadena-cli/src/services/wallet/wallet.service.ts
  packages/tools/kadena-cli/src/wallets/commands/walletChangePassword.ts
  packages/tools/kadena-cli/src/wallets/commands/walletExport.ts
  packages/tools/kadena-cli/src/wallets/commands/walletGenerateKey.ts
Labels: none

fix(kadena-cli) lint fix
  packages/tools/kadena-cli/src/tx/utils/txHelpers.ts
Labels: none

moved guard to balance level and updated graph client
  packages/apps/graph-client/src/components/token-table/token-table.tsx
  packages/apps/graph-client/src/graphql/queries.graph.ts
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/objects/non-fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-token-balance.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
  packages/apps/graph/src/services/account-service.ts
  packages/apps/graph/src/services/chainweb-node/non-fungible-account-details.ts
  packages/apps/graph/src/services/token-service.ts
Labels: @kadena/graph

Fixed proof-of-us
  packages/apps/proof-of-us/src/graphql/queries.graph.ts
  packages/apps/proof-of-us/src/hooks/data/getAllProofOfUs.ts
  packages/apps/proof-of-us/src/pages/api/cron.ts
Labels: none

fix(kadena-cli): remove printing secret key for plain key gen
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
Labels: none

fix(kadena-cli): account add prompt wallet first
  packages/tools/kadena-cli/src/account/commands/accountAddFromWallet.ts
Labels: none

fix(kadena-cli): lint error
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
Labels: none

fix(kadena-cli): copy changes to output
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
Labels: none

fix(kadena-cli): merge issue
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
Labels: none

feat(kadena-cli) list signers
  packages/tools/kadena-cli/src/tx/utils/txHelpers.ts
  packages/tools/kadena-cli/src/tx/utils/txSignWithWallet.ts
Labels: none

fix(kadena-cli) lint fix
  packages/tools/kadena-cli/src/tx/utils/txHelpers.ts
Labels: none

chore(kadena-cli): add option to config init in home directory
  packages/tools/kadena-cli/package.json
  packages/tools/kadena-cli/src/account/commands/accountDelete.ts
  packages/tools/kadena-cli/src/account/utils/__tests__/createAccountConfigFile.test.ts
  packages/tools/kadena-cli/src/account/utils/accountHelpers.ts
  packages/tools/kadena-cli/src/account/utils/addHelpers.ts
  packages/tools/kadena-cli/src/config/commands/configInit.ts
  packages/tools/kadena-cli/src/config/commands/configPath.ts
  packages/tools/kadena-cli/src/config/configOptions.ts
  packages/tools/kadena-cli/src/config/index.ts
  packages/tools/kadena-cli/src/constants/config.ts
  packages/tools/kadena-cli/src/constants/networks.ts
  packages/tools/kadena-cli/src/networks/commands/networkCreate.ts
  packages/tools/kadena-cli/src/networks/commands/networkDefault.ts
  packages/tools/kadena-cli/src/networks/commands/networkManage.ts
  packages/tools/kadena-cli/src/networks/utils/networkDisplay.ts
  packages/tools/kadena-cli/src/networks/utils/networkHelpers.ts
  packages/tools/kadena-cli/src/prompts/config.ts
  packages/tools/kadena-cli/src/prompts/contract.ts
  packages/tools/kadena-cli/src/prompts/index.ts
  packages/tools/kadena-cli/src/prompts/network.ts
  packages/tools/kadena-cli/src/services/config/config.service.ts
  packages/tools/kadena-cli/src/services/service-error.ts
  packages/tools/kadena-cli/src/test-setup.ts
  packages/tools/kadena-cli/src/tx/commands/templates/templates.ts
  packages/tools/kadena-cli/src/tx/commands/txCreateTransaction.ts
  packages/tools/kadena-cli/src/utils/createCommand.ts
  packages/tools/kadena-cli/src/utils/helpers.ts
  packages/tools/kadena-cli/src/wallets/commands/walletAdd.ts
Labels: @kadena/kadena-cli

fix(kadena-cli): fix typescript errors
  packages/tools/kadena-cli/src/config/commands/configPath.ts
  packages/tools/kadena-cli/src/networks/utils/networkDisplay.ts
Labels: none
