Repository kadena-community/kadena.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Config & Actions, @kadena/bootstrap-lib, @kadena/chainweb-node-client, @kadena/chainweb-stream-client, @kadena/chainwebjs, @kadena/client, @kadena/client-examples, @kadena/client-utils, @kadena/cookbook, @kadena/create-kadena-app, @kadena/cryptography-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/docs, @kadena/docs-tools, @kadena/graph, @kadena/graph-client, @kadena/hd-wallet, @kadena/js-monorepo, @kadena/kadena-cli, @kadena/kda-cli, @kadena/pactjs, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/react-icons, @kadena/react-ui, @kadena/spirekey-example, @kadena/toolbox, @kadena/tools, @kadena/types, @kadena-dev/e2e-base, @kadena-dev/eslint-config, @kadena-dev/eslint-plugin, @kadena-dev/integration-tests, @kadena-dev/lint-package, @kadena-dev/markdown, @kadena-dev/scripts, @kadena-dev/shared-config, e2e-docs, e2e-graph, e2e-tools, kadena.js

error check when something went wrong with the minting of connection
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/[requestkey]/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/index.tsx
  packages/apps/proof-of-us/src/utils/proofOfUs.ts
Labels: none

Update vitest to latest version
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/package.json
  packages/apps/docs/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/tools/package.json
  packages/libs/bootstrap-lib/package.json
  packages/libs/chainweb-node-client/package.json
  packages/libs/chainweb-stream-client/package.json
  packages/libs/chainwebjs/package.json
  packages/libs/client-utils/package.json
  packages/libs/client/package.json
  packages/libs/cryptography-utils/package.json
  packages/libs/hd-wallet/package.json
  packages/libs/kadena.js/package.json
  packages/libs/pactjs-generator/package.json
  packages/libs/pactjs/package.json
  packages/libs/react-ui/package.json
  packages/libs/toolbox/package.json
  packages/tools/docs-tools/package.json
  packages/tools/integration-tests/package.json
  packages/tools/kadena-cli/package.json
  packages/tools/kda-cli/package.json
  packages/tools/pactjs-cli/package.json
  packages/tools/shared-config/package.json
  pnpm-lock.yaml
Labels: @kadena/bootstrap-lib, @kadena/chainweb-node-client, @kadena/chainweb-stream-client, @kadena/chainwebjs, @kadena/client, @kadena/client-utils, @kadena/cryptography-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/docs, @kadena/docs-tools, @kadena/hd-wallet, @kadena/js-monorepo, @kadena/kadena-cli, @kadena/kda-cli, @kadena/pactjs, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/react-ui, @kadena/toolbox, @kadena/tools, @kadena-dev/integration-tests, @kadena-dev/shared-config, kadena.js

use max-height instead of height
  packages/libs/react-ui/src/components/Popover/Popover.css.ts
Labels: none

fix(select): flickering when space is limited
  packages/libs/react-ui/src/components/Popover/Popover.css.ts
Labels: none

chore: add changeset entry
  .changeset/chatty-elephants-taste.md
Labels: none

Finished adding Guard to chain accounts
  packages/apps/graph-client/src/graphql/fields/non-fungible-chain-account.graph.ts
  packages/apps/graph-client/src/graphql/queries.graph.ts
  packages/apps/graph-client/src/pages/account/overview/[fungible]/[account].tsx
  packages/apps/graph-client/src/pages/account/overview/[fungible]/[account]/[chain].tsx
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-chain-account.ts
  packages/apps/graph/src/services/account-service.ts
  packages/apps/graph/src/services/chainweb-node/non-fungible-account-details.ts
Labels: none

changeset
  .changeset/proud-zoos-smoke.md
Labels: none

feat(kadena-cli) list signers
  packages/tools/kadena-cli/src/tx/utils/txHelpers.ts
  packages/tools/kadena-cli/src/tx/utils/txSignWithWallet.ts
Labels: none

fix the minting error report
  packages/apps/proof-of-us/package.json
  packages/apps/proof-of-us/src/components/List/ListItem.tsx
  packages/apps/proof-of-us/src/components/TokenProvider/TokenProvider.tsx
  packages/apps/proof-of-us/src/hooks/listen.ts
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/[requestkey]/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/index.tsx
Labels: @kadena/proof-of-us

remove logs
  packages/apps/proof-of-us/src/components/TokenProvider/TokenProvider.tsx
Labels: none

fix build
  packages/apps/proof-of-us/package.json
Labels: @kadena/proof-of-us

cli draft wip
  packages/apps/docs/src/docs/reference/kadena-client/kadena-cli.md
Labels: none

Update cli
  packages/apps/docs/src/docs/build/kadena-cli.md
Labels: none

Copy new cli into reference for now
  packages/apps/docs/src/docs/reference/kadena-client/kadena-cli.md
Labels: none

Delete packages/apps/docs/src/current-config.yaml
  packages/apps/docs/src/current-config.yaml
Labels: none

remove backup graphics
  packages/apps/docs/public/assets/.$offer.png.bkp
  packages/apps/docs/public/assets/marmalade/.$buy.png.bkp
  packages/apps/docs/public/assets/marmalade/.$mint_flow.png.bkp
  packages/apps/docs/public/assets/marmalade/.$mint_flow.png.dtmp
  packages/apps/docs/public/assets/marmalade/.$offer.png.bkp
  packages/apps/docs/public/assets/marmalade/.$royalty.png.bkp
Labels: none

fix: small fixes related to marmalade simulation
  packages/apps/graph/src/devnet/simulation/marmalade/simulate.ts
Labels: none

fix: fix append error messages to file
  packages/apps/graph/src/devnet/simulation/coin/simulate.ts
  packages/apps/graph/src/devnet/simulation/marmalade/simulate.ts
Labels: none

fix: hardcoded value for amount
  packages/apps/graph/src/devnet/simulation/marmalade/simulate.ts
Labels: none

chore: changeset file
  .changeset/bright-llamas-talk.md
Labels: none

new minting page
  packages/apps/proof-of-us/src/components/ConnectView/ConnectView.tsx
  packages/apps/proof-of-us/src/components/List/ListItem.tsx
  packages/apps/proof-of-us/src/components/ProofOfUsProvider/ProofOfUsProvider.tsx
  packages/apps/proof-of-us/src/hooks/data/signToken.ts
  packages/apps/proof-of-us/src/hooks/submit.ts
  packages/apps/proof-of-us/src/pages/scan/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/scan/e/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/[id]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/mint/[requestKey]/index.tsx
  packages/apps/proof-of-us/src/pages/user/proof-of-us/t/[tokenId]/index.tsx
  packages/apps/proof-of-us/src/scripts/createEvent.ts
Labels: none

Update compact a database topic
  packages/apps/docs/src/docs/deploy/chainweb/compact-a-database.md
Labels: none

chore: all gone
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Form/Select/Select.stories.tsx
  packages/libs/react-ui/src/components/Form/TextField/TextField.stories.tsx
  packages/libs/react-ui/src/components/Form/TextareaField/TextareaField.stories.tsx
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/NavHeader/NavHeader.stories.tsx
  packages/libs/react-ui/src/components/Tag/Tag.stories.tsx
  packages/libs/react-ui/src/components/Tooltip/Tooltip.stories.tsx
  packages/libs/react-ui/src/components/Tree/TreeItems.tsx
Labels: none

chore: cov
  packages/libs/react-ui/src/components/Form/NumberField/NumberField.tsx
  packages/libs/react-ui/vitest.config.ts
Labels: @kadena/react-ui

cli under build work in progress for alpha 5
  packages/apps/docs/src/docs/build/kadena-cli.md
Labels: none

CLI doc in progress for review
  packages/apps/docs/public/assets/docs/kadena-cli-overview.png
  packages/apps/docs/src/docs/reference/kadena-client/kadena-cli.md
Labels: none

fix: avatar styling
  packages/libs/react-ui/src/components/Avatar/Avatar.css.ts
  packages/libs/react-ui/src/components/Avatar/Avatar.stories.tsx
  packages/libs/react-ui/src/components/Avatar/Avatar.tsx
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.tsx
Labels: none

chore: run prettier
  packages/libs/react-ui/src/components/index.ts
Labels: none

fix: remove onclick button test
  packages/libs/react-ui/src/components/Button/Button.spec.tsx
Labels: none

fix: text styles and loading state
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/styles/tokens/contract.css.ts
  packages/libs/react-ui/src/styles/tokens/dark.css.ts
  packages/libs/react-ui/src/styles/tokens/light.css.ts
  packages/libs/react-ui/src/styles/tokens/styles.css.ts
Labels: none

fix: button size variants
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.tsx
Labels: none

feat: setup new button component
  packages/libs/react-ui/src/components/Avatar/Avatar.tsx
  packages/libs/react-ui/src/components/Badge/Badge.css.ts
  packages/libs/react-ui/src/components/Badge/Badge.stories.tsx
  packages/libs/react-ui/src/components/Badge/Badge.tsx
  packages/libs/react-ui/src/components/Badge/index.ts
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Button/SharedButton.css.ts
  packages/libs/react-ui/src/components/Button/ToggleButton.tsx
  packages/libs/react-ui/src/components/Button/utils.ts
  packages/libs/react-ui/src/components/Form/Combobox/Combobox.css.ts
  packages/libs/react-ui/src/components/Icon/IconWrapper.css.ts
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/Link/Link.tsx
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/storyDecorators/getVariants.ts
  packages/libs/react-ui/src/storyDecorators/iconControl.tsx
Labels: none

fix: replace Link components with Button components
  packages/libs/react-ui/src/components/NavHeader/NavHeaderButtonLink.tsx
  packages/libs/react-ui/src/components/TableV1/Tr.tsx
  packages/libs/react-ui/src/components/Typography/Heading/Heading.tsx
Labels: none

chore: resolve small left over fixes
  packages/apps/docs/src/docs/build/index.tsx
  packages/libs/react-ui/src/components/Avatar/Avatar.css.ts
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
Labels: none

fix: split button and link
  packages/libs/react-ui/src/components/Badge/Badge.css.ts
  packages/libs/react-ui/src/components/Badge/Badge.tsx
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/Link/Link.tsx
Labels: none

chore: add changeset and move util function to fix jsdocs
  .changeset/perfect-rabbits-worry.md
  packages/libs/react-ui/src/components/Button/Button.tsx
Labels: none

chore: add onclick to button for backwards compatibility and fix build error in docs
  packages/apps/docs/src/components/BottomPageSection/components/useSubscribe.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/results.tsx
  packages/libs/react-ui/src/components/Avatar/Avatar.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Link/Link.tsx
Labels: none

fix: change start and end icon prop to icon prop and add iconPosition prop
  packages/apps/docs/src/components/InfiniteScroll/InfiniteScroll.tsx
  packages/apps/docs/src/components/Search/components/SearchResults.tsx
  packages/apps/docs/src/docs/build/index.tsx
  packages/apps/docs/src/docs/marmalade/index.tsx
  packages/apps/docs/src/docs/pact/index.tsx
  packages/apps/docs/src/docs/pact/reference/index.md
  packages/apps/docs/src/pages/index.tsx
  packages/apps/graph-client/src/components/graphql-query-dialog/graphql-query-dialog.tsx
  packages/apps/tools/src/components/Common/WalletConnectButton/index.tsx
  packages/apps/tools/src/components/Global/AddNetworkModal/AddNetworkModal.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/results.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/utils.tsx
  packages/apps/tools/src/components/Partials/transactions/transfer/add-public-keys.tsx
  packages/apps/tools/src/components/Partials/transactions/transfer/sign-form.tsx
  packages/apps/tools/src/components/Partials/transactions/transfer/submit-transaction.tsx
  packages/apps/tools/src/pages/account/account-transactions/filters/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
  packages/apps/tools/src/pages/faucet/existing/index.tsx
  packages/apps/tools/src/pages/faucet/new/index.tsx
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-tracker/index.tsx
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Button/ToggleButton.tsx
  packages/libs/react-ui/src/components/Link/Link.stories.tsx
  packages/libs/react-ui/src/components/Pagination/PageNav.tsx
  packages/libs/react-ui/src/components/Popover/PopoverTrigger.tsx
Labels: none

fix: use correct replacement props for variants and update fixed semantic colors
  packages/apps/docs/src/docs/marmalade/index.tsx
  packages/apps/docs/src/docs/pact/index.tsx
  packages/apps/docs/src/pages/index.tsx
  packages/apps/tools/src/pages/account/account-transactions/results/index.tsx
  packages/apps/tools/src/pages/faucet/new/index.tsx
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-tracker/index.tsx
  packages/libs/react-ui/src/components/Pagination/PageNav.tsx
  packages/libs/react-ui/src/components/Pagination/PageNum.tsx
  packages/libs/react-ui/src/components/Typography/Heading/Heading.tsx
  packages/libs/react-ui/src/styles/tokens/contract.css.ts
  packages/libs/react-ui/src/styles/tokens/dark.css.ts
  packages/libs/react-ui/src/styles/tokens/light.css.ts
Labels: none

fix: added submit button types to fix onpress and fix loading text styles
  packages/apps/tools/src/pages/account/account-transactions/filters/index.tsx
  packages/libs/react-ui/src/components/Button/Button.stories.tsx
  packages/libs/react-ui/src/components/Button/Button.tsx
Labels: none

.github/labeler.yml:

Release:
  - head-branch:
      - changeset-release/main
Github Config & Actions:
  - changed-files:
      - any-glob-to-any-file: .github/*
'@kadena/bootstrap-lib':
  - changed-files:
      - any-glob-to-any-file: packages/libs/bootstrap-lib/*
'@kadena/chainweb-node-client':
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainweb-node-client/*
'@kadena/chainweb-stream-client':
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainweb-stream-client/*
'@kadena/chainwebjs':
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainwebjs/*
'@kadena/client':
  - changed-files:
      - any-glob-to-any-file: packages/libs/client/*
'@kadena/client-examples':
  - changed-files:
      - any-glob-to-any-file: packages/libs/client-examples/*
'@kadena/client-utils':
  - changed-files:
      - any-glob-to-any-file: packages/libs/client-utils/*
'@kadena/cookbook':
  - changed-files:
      - any-glob-to-any-file: packages/tools/cookbook/*
'@kadena/create-kadena-app':
  - changed-files:
      - any-glob-to-any-file: packages/tools/create-kadena-app/*
'@kadena/cryptography-utils':
  - changed-files:
      - any-glob-to-any-file: packages/libs/cryptography-utils/*
'@kadena/dev-wallet':
  - changed-files:
      - any-glob-to-any-file: packages/apps/dev-wallet/*
'@kadena/dev-wallet-desktop':
  - changed-files:
      - any-glob-to-any-file: packages/apps/dev-wallet-desktop/*
'@kadena/docs':
  - changed-files:
      - any-glob-to-any-file: packages/apps/docs/*
'@kadena/docs-tools':
  - changed-files:
      - any-glob-to-any-file: packages/tools/docs-tools/*
'@kadena/graph':
  - changed-files:
      - any-glob-to-any-file: packages/apps/graph/*
'@kadena/graph-client':
  - changed-files:
      - any-glob-to-any-file: packages/apps/graph-client/*
'@kadena/hd-wallet':
  - changed-files:
      - any-glob-to-any-file: packages/libs/hd-wallet/*
'@kadena/js-monorepo':
  - changed-files:
      - any-glob-to-any-file: ./*
'@kadena/kadena-cli':
  - changed-files:
      - any-glob-to-any-file: packages/tools/kadena-cli/*
'@kadena/kda-cli':
  - changed-files:
      - any-glob-to-any-file: packages/tools/kda-cli/*
'@kadena/pactjs':
  - changed-files:
      - any-glob-to-any-file: packages/libs/pactjs/*
'@kadena/pactjs-cli':
  - changed-files:
      - any-glob-to-any-file: packages/tools/pactjs-cli/*
'@kadena/pactjs-generator':
  - changed-files:
      - any-glob-to-any-file: packages/libs/pactjs-generator/*
'@kadena/proof-of-us':
  - changed-files:
      - any-glob-to-any-file: packages/apps/proof-of-us/*
'@kadena/react-icons':
  - changed-files:
      - any-glob-to-any-file: packages/libs/react-icons/*
'@kadena/react-ui':
  - changed-files:
      - any-glob-to-any-file: packages/libs/react-ui/*
'@kadena/spirekey-example':
  - changed-files:
      - any-glob-to-any-file: packages/apps/spirekey-example/*
'@kadena/toolbox':
  - changed-files:
      - any-glob-to-any-file: packages/libs/toolbox/*
'@kadena/tools':
  - changed-files:
      - any-glob-to-any-file: packages/apps/tools/*
'@kadena/types':
  - changed-files:
      - any-glob-to-any-file: packages/libs/types/*
'@kadena-dev/e2e-base':
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-base/*
'@kadena-dev/eslint-config':
  - changed-files:
      - any-glob-to-any-file: packages/tools/eslint-config/*
'@kadena-dev/eslint-plugin':
  - changed-files:
      - any-glob-to-any-file: packages/tools/eslint-plugin/*
'@kadena-dev/integration-tests':
  - changed-files:
      - any-glob-to-any-file: packages/tools/integration-tests/*
'@kadena-dev/lint-package':
  - changed-files:
      - any-glob-to-any-file: packages/tools/lint-package/*
'@kadena-dev/markdown':
  - changed-files:
      - any-glob-to-any-file: packages/tools/markdown/*
'@kadena-dev/scripts':
  - changed-files:
      - any-glob-to-any-file: packages/tools/scripts/*
'@kadena-dev/shared-config':
  - changed-files:
      - any-glob-to-any-file: packages/tools/shared-config/*
e2e-docs:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-docs/*
e2e-graph:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-graph/*
e2e-tools:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-tools/*
kadena.js:
  - changed-files:
      - any-glob-to-any-file: packages/libs/kadena.js/*
