Repository kadena-community/kadena.js, changes with the labels that .github/labeler.yml gives for each.
All labels: Github Config & Actions, bootstrap-lib, chainweb-node-client, chainweb-stream-client, chainwebjs, client, client-examples, client-utils, cookbook, create-kadena-app, cryptography-utils, dev-wallet, dev-wallet-desktop, docs, docs-tools, graph, graph-client, hd-wallet, js-monorepo, kadena-cli, kda-cli, pactjs, pactjs-cli, pactjs-generator, proof-of-us, react-icons, react-ui, spirekey-example, toolbox, tools, types, e2e-base, eslint-config, eslint-plugin, integration-tests, lint-package, markdown, scripts, shared-config, e2e-docs, e2e-graph, e2e-tools, kadena.js

.github/labeler.yml:

Release:
  - head-branch:
      - changeset-release/main
Github Config & Actions:
  - changed-files:
      - any-glob-to-any-file: .github/*
bootstrap-lib:
  - changed-files:
      - any-glob-to-any-file: packages/libs/bootstrap-lib/*
chainweb-node-client:
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainweb-node-client/*
chainweb-stream-client:
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainweb-stream-client/*
chainwebjs:
  - changed-files:
      - any-glob-to-any-file: packages/libs/chainwebjs/*
client:
  - changed-files:
      - any-glob-to-any-file: packages/libs/client/*
client-examples:
  - changed-files:
      - any-glob-to-any-file: packages/libs/client-examples/*
client-utils:
  - changed-files:
      - any-glob-to-any-file: packages/libs/client-utils/*
cookbook:
  - changed-files:
      - any-glob-to-any-file: packages/tools/cookbook/*
create-kadena-app:
  - changed-files:
      - any-glob-to-any-file: packages/tools/create-kadena-app/*
cryptography-utils:
  - changed-files:
      - any-glob-to-any-file: packages/libs/cryptography-utils/*
dev-wallet:
  - changed-files:
      - any-glob-to-any-file: packages/apps/dev-wallet/*
dev-wallet-desktop:
  - changed-files:
      - any-glob-to-any-file: packages/apps/dev-wallet-desktop/*
docs:
  - changed-files:
      - any-glob-to-any-file: packages/apps/docs/*
docs-tools:
  - changed-files:
      - any-glob-to-any-file: packages/tools/docs-tools/*
graph:
  - changed-files:
      - any-glob-to-any-file: packages/apps/graph/*
graph-client:
  - changed-files:
      - any-glob-to-any-file: packages/apps/graph-client/*
hd-wallet:
  - changed-files:
      - any-glob-to-any-file: packages/libs/hd-wallet/*
js-monorepo:
  - changed-files:
      - any-glob-to-any-file: ./*
kadena-cli:
  - changed-files:
      - any-glob-to-any-file: packages/tools/kadena-cli/*
kda-cli:
  - changed-files:
      - any-glob-to-any-file: packages/tools/kda-cli/*
pactjs:
  - changed-files:
      - any-glob-to-any-file: packages/libs/pactjs/*
pactjs-cli:
  - changed-files:
      - any-glob-to-any-file: packages/tools/pactjs-cli/*
pactjs-generator:
  - changed-files:
      - any-glob-to-any-file: packages/libs/pactjs-generator/*
proof-of-us:
  - changed-files:
      - any-glob-to-any-file: packages/apps/proof-of-us/*
react-icons:
  - changed-files:
      - any-glob-to-any-file: packages/libs/react-icons/*
react-ui:
  - changed-files:
      - any-glob-to-any-file: packages/libs/react-ui/*
spirekey-example:
  - changed-files:
      - any-glob-to-any-file: packages/apps/spirekey-example/*
toolbox:
  - changed-files:
      - any-glob-to-any-file: packages/libs/toolbox/*
tools:
  - changed-files:
      - any-glob-to-any-file: packages/apps/tools/*
types:
  - changed-files:
      - any-glob-to-any-file: packages/libs/types/*
e2e-base:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-base/*
eslint-config:
  - changed-files:
      - any-glob-to-any-file: packages/tools/eslint-config/*
eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: packages/tools/eslint-plugin/*
integration-tests:
  - changed-files:
      - any-glob-to-any-file: packages/tools/integration-tests/*
lint-package:
  - changed-files:
      - any-glob-to-any-file: packages/tools/lint-package/*
markdown:
  - changed-files:
      - any-glob-to-any-file: packages/tools/markdown/*
scripts:
  - changed-files:
      - any-glob-to-any-file: packages/tools/scripts/*
shared-config:
  - changed-files:
      - any-glob-to-any-file: packages/tools/shared-config/*
e2e-docs:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-docs/*
e2e-graph:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-graph/*
e2e-tools:
  - changed-files:
      - any-glob-to-any-file: packages/e2e/e2e-tools/*
kadena.js:
  - changed-files:
      - any-glob-to-any-file: packages/libs/kadena.js/*

chore: add description on transactions
  packages/apps/graph/src/graph/objects/non-fungible-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-chain-account.ts
Labels: none

chore: changeset file
  .changeset/thin-lies-impress.md
Labels: none

feat: added dynamic api version and fixed marmalade simulation
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/devnet/simulation/marmalade/create-token-id.ts
  packages/apps/graph/src/services/systems-check.ts
  packages/apps/graph/src/utils/network.ts
Labels: graph

chore: rest of upgrades
  packages/apps/dev-wallet/package.json
  packages/apps/docs/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/tools/package.json
Labels: dev-wallet, docs, proof-of-us, tools

Added guard to non fungibles
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/data-loaders/account-details.ts
  packages/apps/graph/src/graph/data-loaders/fungible-account-details.ts
  packages/apps/graph/src/graph/data-loaders/non-fungible-account-details.ts
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-chain-account.ts
  packages/apps/graph/src/graph/query/non-fungible-account.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
  packages/apps/graph/src/services/account-service.ts
  packages/apps/graph/src/services/chainweb-node/fungible-account-details.ts
  packages/apps/graph/src/services/chainweb-node/non-fungible-account-details.ts
Labels: graph

chore: lock
  pnpm-lock.yaml
Labels: js-monorepo
