Repository kadena-community/kadena.js, pull requests merged in 2024-12, with the labels that each got.

#2599 (dev-wallet): adds ERD to Contributing.md
  packages/apps/dev-wallet/CONTRIBUTING.md
  packages/apps/dev-wallet/README.md
Labels: @kadena/dev-wallet

#2703 chore(tools): create redirect for transfer-ledger-create.html to support old version
  packages/apps/tools/next.config.js
Labels: @kadena/tools

#1997 feat(client): add default value of for proof
  .changeset/polite-bats-call.md
  packages/libs/client/src/composePactCommand/composePactCommand.ts
Labels: no-pr-activity

#2611 feat(client): support headers in client
  .changeset/hungry-steaks-count.md
  packages/libs/chainweb-node-client/etc/chainweb-node-client.api.md
  packages/libs/chainweb-node-client/src/listen.ts
  packages/libs/chainweb-node-client/src/local.ts
  packages/libs/chainweb-node-client/src/poll.ts
  packages/libs/chainweb-node-client/src/send.ts
  packages/libs/chainweb-node-client/src/spv.ts
  packages/libs/chainweb-node-client/src/stringifyAndMakePOSTRequest.ts
  packages/libs/chainweb-node-client/src/tests/stringifyAndMakePOSTRequest.test.ts
  packages/libs/client-utils/etc/client-utils-core.api.md
  packages/libs/client-utils/src/core/cross-chain.ts
  packages/libs/client/etc/client.api.md
  packages/libs/client/src/client/api/runPact.ts
  packages/libs/client/src/client/api/spv.ts
  packages/libs/client/src/client/api/status.ts
  packages/libs/client/src/client/api/tests/status.test.ts
  packages/libs/client/src/client/client.ts
  packages/libs/client/src/client/interfaces/interfaces.ts
  packages/libs/client/src/client/tests/client.test.ts
  packages/libs/client/src/client/utils/mergeOptions.ts
  packages/libs/client/src/client/utils/retry.ts
  packages/libs/client/src/client/utils/tests/mergeOptions.test.ts
  packages/libs/client/src/client/utils/tests/retry.test.ts
  packages/libs/client/src/client/utils/utils.ts
  packages/libs/client/src/index.ts
  packages/libs/client/vitest.config.ts
Labels: @kadena/client

#2660 hd-wallet - cleanup docs to match wallet-sdk
  packages/libs/hd-wallet/README.md
Labels: @kadena/hd-wallet

#2720 fix(rwa-demo): set local packages to workspace
  packages/apps/rwa-demo/package.json
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#2726 fix(graph): transfers query when using pagination
  .changeset/grumpy-ducks-push.md
  .changeset/hip-toys-call.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/graph-configuration.ts
  packages/apps/graph/src/index.ts
  packages/apps/graph/src/utils/dotenv.ts
  packages/apps/graph/tsconfig.json
Labels: @kadena/graph

#2690 Chore/gh docker workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/apps/graph/docker-compose.yaml
Labels: @kadena/graph

#2743 chore(rwa): update agent and investor lists when add or remove account
  .changeset/late-dingos-hang.md
  packages/apps/rwa-demo/next.config.js
  packages/apps/rwa-demo/src/app/(app)/agents/[agentAccount]/page.tsx
  packages/apps/rwa-demo/src/components/AgentsList/AgentsList.tsx
  packages/apps/rwa-demo/src/components/InvestorBalance/InvestorBalance.tsx
  packages/apps/rwa-demo/src/components/InvestorList/InvestorList.tsx
  packages/apps/rwa-demo/src/components/TableFormatters/FormatEditAgent.tsx
  packages/apps/rwa-demo/src/hooks/createContract.ts
  packages/apps/rwa-demo/src/hooks/editAgent.ts
  packages/apps/rwa-demo/src/hooks/freezeInvestor.ts
  packages/apps/rwa-demo/src/hooks/getInvestors.ts
  packages/apps/rwa-demo/src/hooks/removeAgent.ts
  packages/apps/rwa-demo/src/services/isOwner.ts
  packages/apps/rwa-demo/src/services/isPaused.ts
  packages/apps/rwa-demo/src/utils/loadingData.ts
  packages/libs/kode-ui/src/patterns/CompactTable/FieldCell.tsx
  packages/libs/kode-ui/src/patterns/CompactTable/LoadingSkeleton/types.ts
  packages/libs/kode-ui/src/patterns/CompactTable/utils/__test__/getItem.test.ts
  packages/libs/kode-ui/src/patterns/CompactTable/utils/getItem.ts
Labels: @kadena/rwa-demo
