Repository kadena-community/kadena.js, pull requests merged in 2024-10, with the labels that each got.

#2564 Feat wallet-console + activity model
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/AccountBalanceDistribution.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/components/ChainBalance.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/components/ChainList.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/components/style.css.ts
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/processChainAccounts.ts
  packages/apps/dev-wallet/src/Components/CompactTable/CompactTable.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/CompactTableDesktop/CompactTableDesktop.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/CompactTableDesktop/FieldCell.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/CompactTableDesktop/styles.css.ts
  packages/apps/dev-wallet/src/Components/CompactTable/CompactTableMobile/CompactTableMobile.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/CompactTableMobile/styles.css.ts
  packages/apps/dev-wallet/src/Components/CompactTable/TablePagination/PaginationButton/PaginationButton.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/TablePagination/TablePagination.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/TablePagination/styles.css.ts
  packages/apps/dev-wallet/src/Components/CompactTable/styles.css.ts
  packages/apps/dev-wallet/src/Components/CompactTable/usePagination.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/formatAccount.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/formatAmount.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/formatDefault.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/formatLink.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/formatMultiStepTx.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/formatStatus.tsx
  packages/apps/dev-wallet/src/Components/CompactTable/utils/getItem.ts
  packages/apps/dev-wallet/src/Components/Media/media.ts
  packages/apps/dev-wallet/src/Components/QRCode/QRCode.tsx
  packages/apps/dev-wallet/src/Components/Sidebar/Sidebar.tsx
  packages/apps/dev-wallet/src/modules/account/account.service.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/pages/account/Components/ActivityTable.tsx
  packages/apps/dev-wallet/src/pages/account/Components/Redistribute.tsx
  packages/apps/dev-wallet/src/pages/account/account.tsx
  packages/apps/dev-wallet/src/pages/terminal/react-console-emulator.d.ts
  packages/apps/dev-wallet/src/pages/terminal/style.css.ts
  packages/apps/dev-wallet/src/pages/terminal/terminal.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxList.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/utils.ts
  packages/apps/dev-wallet/src/utils/useAsync.tsx
  packages/apps/dev-wallet/vite.config.ts
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2562 fix(proof): test ipfs proxy
  .changeset/moody-cats-jump.md
  packages/apps/proof-of-us/.env.example
  packages/apps/proof-of-us/next.config.mjs
  packages/apps/proof-of-us/src/components/CookieConsent/CookieConsent.tsx
  packages/apps/proof-of-us/src/components/Providers/Providers.tsx
  packages/apps/proof-of-us/src/pages/api/uploadimage.ts
  packages/apps/proof-of-us/src/pages/api/uploadmeta.ts
  packages/apps/proof-of-us/src/scripts/createEvent.ts
  packages/apps/proof-of-us/src/utils/__tests__/getIPFSLink.test.ts
  packages/apps/proof-of-us/src/utils/getIPFSLink.ts
Labels: @kadena/proof-of-us

#2551 feat(dev-wallet): wip: allow importing chainweaver from file
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/PromptProvider/Prompt.tsx
  packages/apps/dev-wallet/src/modules/key-source/hd-wallet/chainweaver.ts
  packages/apps/dev-wallet/src/modules/key-source/key-source.repository.ts
  packages/apps/dev-wallet/src/pages/import-chainweaver-export/createProfileFromChainweaverData.tsx
  packages/apps/dev-wallet/src/pages/import-chainweaver-export/createSelectionOptions.tsx
  packages/apps/dev-wallet/src/pages/import-chainweaver-export/forEachKey.tsx
  packages/apps/dev-wallet/src/pages/import-chainweaver-export/import-chainweaver-export.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.tsx
  packages/apps/dev-wallet/src/utils/chainweaver/chainweaver.d.ts
  packages/apps/dev-wallet/src/utils/chainweaver/convertFromChainweaver.ts
  packages/apps/dev-wallet/src/utils/chainweaver/tests/chainweaver.test.ts
  packages/apps/dev-wallet/src/utils/chainweaver/tests/deepfreeze.ts
  packages/apps/dev-wallet/src/utils/chainweaver/tests/exampleExport.ts
  packages/apps/dev-wallet/src/utils/chainweaver/validateStructure.ts
  packages/apps/dev-wallet/vite.config.ts
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2570 feat(dw): networks page + create client based on networks in db
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/layout.tsx
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/AccountBalanceDistribution.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/components/ChainBalance.tsx
  packages/apps/dev-wallet/src/Components/Accounts/Accounts.tsx
  packages/apps/dev-wallet/src/Components/Sidebar/Sidebar.tsx
  packages/apps/dev-wallet/src/Components/Sidebar/style.css.ts
  packages/apps/dev-wallet/src/modules/account/account.repository.ts
  packages/apps/dev-wallet/src/modules/account/account.service.ts
  packages/apps/dev-wallet/src/modules/activity/activity.repository.ts
  packages/apps/dev-wallet/src/modules/activity/activity.service.ts
  packages/apps/dev-wallet/src/modules/db/db.service.tsx
  packages/apps/dev-wallet/src/modules/network/network.repository.ts
  packages/apps/dev-wallet/src/modules/network/network.service.ts
  packages/apps/dev-wallet/src/modules/transaction/transaction.repository.ts
  packages/apps/dev-wallet/src/modules/transaction/transaction.service.ts
  packages/apps/dev-wallet/src/modules/types.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.provider.tsx
  packages/apps/dev-wallet/src/pages/account-discovery/account-dsicovery.tsx
  packages/apps/dev-wallet/src/pages/account/account.tsx
  packages/apps/dev-wallet/src/pages/create-account/create-account.tsx
  packages/apps/dev-wallet/src/pages/create-profile/create-profile.tsx
  packages/apps/dev-wallet/src/pages/home/home-page.tsx
  packages/apps/dev-wallet/src/pages/import-chainweaver-export/createProfileFromChainweaverData.tsx
  packages/apps/dev-wallet/src/pages/keyset/keyset.tsx
  packages/apps/dev-wallet/src/pages/networks/Components/network-form.tsx
  packages/apps/dev-wallet/src/pages/networks/create-network.tsx
  packages/apps/dev-wallet/src/pages/networks/networks.tsx
  packages/apps/dev-wallet/src/pages/signature-builder/signature-builder.tsx
  packages/apps/dev-wallet/src/pages/terminal/terminal.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxList.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/helpers.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/style.css.ts
  packages/apps/dev-wallet/src/pages/transactions/transactions.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/Steps/Redistribution.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/Steps/TransferForm.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/transfer-v2.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/utils.ts
  packages/apps/dev-wallet/src/pages/transfer/transfer.tsx
  packages/libs/client-utils/src/faucet/read-history.ts
Labels: @kadena/dev-wallet

#2556 feat(proof): create a spirekey page
  .changeset/nasty-lamps-allow.md
  packages/apps/proof-of-us/next.config.mjs
  packages/apps/proof-of-us/package.json
  packages/apps/proof-of-us/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/proof-of-us/src/components/AttendanceTicket/style.css.ts
  packages/apps/proof-of-us/src/components/MintingCheck/MintingCheck.tsx
  packages/apps/proof-of-us/src/components/Status/ErrorStatus.tsx
  packages/apps/proof-of-us/src/features/ScanAttendanceEvent/ScanAttendanceEvent.tsx
  packages/apps/proof-of-us/src/pages/index.tsx
  packages/apps/proof-of-us/src/scripts/createEvent.ts
  packages/apps/proof-of-us/src/utils/createManifest.ts
  packages/apps/proof-of-us/src/utils/getIPFSLink.ts
  pnpm-lock.yaml
Labels: @kadena/proof-of-us

#2588 chore(market): load ipfs images via proxy
  .changeset/grumpy-timers-sing.md
  packages/apps/marmalade-marketplace/next.config.js
  packages/apps/marmalade-marketplace/next.config.mjs
  packages/apps/marmalade-marketplace/src/utils/token.ts
Labels: @kadena/marmalade-marketplace

#2589 feat(market): add analytics
  .changeset/plenty-ravens-fold.md
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/components/Analytics/Analytics.tsx
  packages/apps/marmalade-marketplace/src/components/CookieConsent/CookieConsent.tsx
  packages/apps/marmalade-marketplace/src/components/CookieConsent/styles.css.ts
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/pages/_app.tsx
  packages/apps/marmalade-marketplace/src/utils/__test__/analytics.test.ts
  packages/apps/marmalade-marketplace/src/utils/analytics.ts
  packages/apps/marmalade-marketplace/tsconfig.json
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2600 chore(proof): bump spirekey sdk version
  .changeset/dirty-mugs-think.md
  packages/apps/proof-of-us/package.json
  packages/libs/kode-ui/src/styles/tokens/contract.css.ts
  packages/libs/kode-ui/src/styles/tokens/dark.css.ts
  packages/libs/kode-ui/src/styles/tokens/light.css.ts
  pnpm-lock.yaml
Labels: @kadena/proof-of-us

#2604 Feat/contact page
  packages/apps/dev-wallet/index.html
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/main.tsx
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/AccountBalanceDistribution.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/components/ChainBalance.tsx
  packages/apps/dev-wallet/src/Components/AccountBalanceDistribution/components/ChainList.tsx
  packages/apps/dev-wallet/src/Components/AccountInput/AccountInput.tsx
  packages/apps/dev-wallet/src/Components/AccountItem/AccountItem.tsx
  packages/apps/dev-wallet/src/Components/Accounts/Accounts.tsx
  packages/apps/dev-wallet/src/Components/Accounts/WatchAccountDialog.tsx
  packages/apps/dev-wallet/src/Components/Accounts/style.css.ts
  packages/apps/dev-wallet/src/Components/AssetsCard/AssetsCard.tsx
  packages/apps/dev-wallet/src/Components/ConfirmDeletion/ConfirmDeletion.tsx
  packages/apps/dev-wallet/src/Components/Key/Key.tsx
  packages/apps/dev-wallet/src/Components/KeysetDialog/KeySetDialog.tsx
  packages/apps/dev-wallet/src/Components/PromptProvider/Prompt.tsx
  packages/apps/dev-wallet/src/Components/Sidebar/Sidebar.tsx
  packages/apps/dev-wallet/src/Components/UnlockPrompt/UnlockPrompt.tsx
  packages/apps/dev-wallet/src/config.ts
  packages/apps/dev-wallet/src/index.ts
  packages/apps/dev-wallet/src/main.tsx
  packages/apps/dev-wallet/src/modules/account/account.repository.ts
  packages/apps/dev-wallet/src/modules/account/account.service.ts
  packages/apps/dev-wallet/src/modules/activity/activity.repository.ts
  packages/apps/dev-wallet/src/modules/contact/contact.repository.ts
  packages/apps/dev-wallet/src/modules/db/db.service.tsx
  packages/apps/dev-wallet/src/modules/key-source/key-source-manager.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.provider.tsx
  packages/apps/dev-wallet/src/pages/account/account.tsx
  packages/apps/dev-wallet/src/pages/contacts/Components/ContactDialog.tsx
  packages/apps/dev-wallet/src/pages/contacts/contacts.tsx
  packages/apps/dev-wallet/src/pages/create-account/create-account.tsx
  packages/apps/dev-wallet/src/pages/keys/Components/CreateKeySetDialog.tsx
  packages/apps/dev-wallet/src/pages/keys/Components/Keys.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/ExpandedTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxList.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxPipeLine.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxTile.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/style.css.ts
  packages/apps/dev-wallet/src/pages/transfer-v2/Steps/Result.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/Steps/TransferForm.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/transfer-v2.tsx
  packages/apps/dev-wallet/src/pages/transfer/components/DiscoverdAccounts.tsx
  packages/apps/dev-wallet/src/pages/transfer/utils.ts
Labels: @kadena/dev-wallet

#2610 fix(market): style fixes
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/src/components/Bid/NormalBid.tsx
  packages/apps/marmalade-marketplace/src/components/Bid/index.tsx
  packages/apps/marmalade-marketplace/src/components/ConnectWallet/ConnectButton.tsx
  packages/apps/marmalade-marketplace/src/components/CreateSale/CreateSale.tsx
  packages/apps/marmalade-marketplace/src/components/CreateToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/RegularSale.tsx
  packages/apps/marmalade-marketplace/src/components/SendTransaction/index.tsx
  packages/apps/marmalade-marketplace/src/hooks/removeSale.ts
  packages/apps/marmalade-marketplace/src/pages/api/cron.ts
  packages/apps/marmalade-marketplace/src/pages/mint/index.tsx
  packages/apps/marmalade-marketplace/src/pages/tokens/[tokenId]/index.tsx
  packages/apps/marmalade-marketplace/src/pages/transaction/index.tsx
  packages/apps/marmalade-marketplace/src/providers/TransactionProvider/TransactionProvider.tsx
  packages/apps/marmalade-marketplace/src/styles/token.css.ts
  packages/libs/client-utils/src/marmalade/create-token.ts
  packages/libs/client-utils/src/marmalade/mint-token.ts
  packages/libs/client-utils/src/marmalade/offer-token.ts
  packages/libs/kode-ui/src/components/Tabs/Tab.tsx
  packages/libs/kode-ui/src/components/Tabs/Tabs.css.ts
Labels: @kadena/marmalade-marketplace

#2615 Fix/dw findings
  packages/apps/dev-wallet/index.html
  packages/apps/dev-wallet/public/boot.css
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/Components/Accounts/WatchAccountDialog.tsx
  packages/apps/dev-wallet/src/Components/CopyButton/CopyButton.tsx
  packages/apps/dev-wallet/src/Components/Keyset/Keyset.tsx
  packages/apps/dev-wallet/src/index.ts
  packages/apps/dev-wallet/src/modules/account/account.service.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.provider.tsx
  packages/apps/dev-wallet/src/pages/account-discovery/account-dsicovery.tsx
  packages/apps/dev-wallet/src/pages/create-account/create-account.tsx
  packages/apps/dev-wallet/src/pages/create-account/style.css.ts
  packages/apps/dev-wallet/src/pages/home/style.css.ts
  packages/apps/dev-wallet/src/pages/import-wallet/import-wallet.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.css.ts
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/CommandView.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/ExpandedTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/Signers.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxList.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxPipeLine.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxTile.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/style.css.ts
  packages/apps/dev-wallet/src/pages/transfer-v2/Steps/TransferForm.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/Steps/style.css.ts
  packages/apps/dev-wallet/src/pages/transfer-v2/transfer-v2.tsx
  packages/apps/dev-wallet/src/pages/transfer/style.css.ts
Labels: @kadena/dev-wallet

#2619 chore(rwa): init project
  .changeset/wild-zoos-relax.md
  .github/labeler.yml
  packages.json
  packages/apps/rwa-demo/.eslintignore
  packages/apps/rwa-demo/.eslintrc.js
  packages/apps/rwa-demo/.gitignore
  packages/apps/rwa-demo/.prettierignore
  packages/apps/rwa-demo/README.md
  packages/apps/rwa-demo/next.config.js
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/layout.tsx
  packages/apps/rwa-demo/src/app/page.tsx
  packages/apps/rwa-demo/tsconfig.json
  packages/apps/rwa-demo/vitest-globals.ts
  packages/apps/rwa-demo/vitest.config.ts
  packages/apps/rwa-demo/vitest.setup.ts
  pnpm-lock.yaml
Labels: Github Config & Actions

#2620 feat(ui): add sidebar component
  .changeset/brave-bats-look.md
  packages/apps/dev-wallet/src/App/BetaHeader.tsx
  packages/apps/dev-wallet/src/App/Layout/Layout.tsx
  packages/apps/dev-wallet/src/App/Layout/SideBar.tsx
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/layout-mini.css.ts
  packages/apps/dev-wallet/src/App/layout-mini.tsx
  packages/apps/dev-wallet/src/App/layout.tsx
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/NetworkSelector/NetworkSelector.tsx
  packages/apps/dev-wallet/src/pages/BreadCrumbs/BreadCrumbs.tsx
  packages/apps/dev-wallet/src/pages/networks/networks.tsx
  packages/libs/kode-ui/package.json
  packages/libs/kode-ui/src/components/Link/Link.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBar.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/aside.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/Logo/KLogo.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/Logo/KadenaLogo.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarAppContext.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarAside.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarContext.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarFooter.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarFooterItem.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarHeader.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarItem.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarItemsInline.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarNavigation.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarProvider.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarTree.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarTreeItem.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/sidebar.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/storybook.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/styles.css.ts
  packages/libs/kode-ui/src/patterns/index.ts
  packages/libs/kode-ui/src/styles/tokens/contract.css.ts
  packages/libs/kode-ui/src/styles/tokens/dark.css.ts
  packages/libs/kode-ui/src/styles/tokens/light.css.ts
  pnpm-lock.yaml
Labels: @kadena/kode-ui
