Repository kadena-community/kadena.js, pull requests merged in 2024-11, with the labels that each got.

#2612 fix(kadena-cli): malformed json in txsend fixed, now also accepts yml
  .changeset/olive-pigs-rhyme.md
  packages/tools/kadena-cli/package.json
  packages/tools/kadena-cli/src/commands/tx/utils/txHelpers.ts
  packages/tools/kadena-cli/src/services/config/config.service.ts
  packages/tools/kadena-cli/src/utils/globalHelpers.ts
Labels: @kadena/kadena-cli

#2596 feat(wallet-sdk): documentation for key gen
  packages/libs/wallet-sdk/README.md
Labels: @kadena/wallet-sdk

#2639 chore(devwallet): stylefixes
  .changeset/purple-rabbits-drum.md
  packages/apps/dev-wallet/src/App/Layout/BreadCrumbs.tsx
  packages/apps/dev-wallet/src/App/Layout/Layout.tsx
  packages/apps/dev-wallet/src/App/Layout/SideBar.tsx
  packages/apps/dev-wallet/src/Components/SideBarBreadcrumbs/SideBarBreadcrumbs.tsx
  packages/apps/dev-wallet/src/pages/account/account.tsx
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/backup-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/write-down/write-down-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/contacts/contacts.tsx
  packages/apps/dev-wallet/src/pages/home/home-page.tsx
  packages/apps/dev-wallet/src/pages/keys/keys-page.tsx
  packages/apps/dev-wallet/src/pages/networks/networks.tsx
  packages/apps/dev-wallet/src/pages/signature-builder/signature-builder.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transactions/transactions.tsx
  packages/apps/dev-wallet/src/pages/transfer-v2/transfer-v2.tsx
  packages/libs/kode-ui/package.json
  packages/libs/kode-ui/src/components/Breadcrumbs/Breadcrumbs.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBar.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/aside.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/Breadcrumbs/SideBarBreadcrumbs.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/Breadcrumbs/SideBarBreadcrumbsItem.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/Breadcrumbs/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/LayoutProvider.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarAside.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarHeader.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarTree.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarTreeWrapper.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/sidebartree.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/sidebar.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/styles.css.ts
  packages/libs/kode-ui/src/patterns/index.ts
  packages/libs/kode-ui/src/styles/tokens/contract.css.ts
  packages/libs/kode-ui/src/styles/tokens/dark.css.ts
  packages/libs/kode-ui/src/styles/tokens/light.css.ts
  pnpm-lock.yaml
Labels: @kadena/kode-ui

#2657 feat(rwa): layoutv2
  packages/apps/rwa-demo/next.config.js
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/(app)/KLogo.tsx
  packages/apps/rwa-demo/src/app/(app)/SideBar.tsx
  packages/apps/rwa-demo/src/app/(app)/layout.tsx
  packages/apps/rwa-demo/src/app/(app)/page.tsx
  packages/apps/rwa-demo/src/app/(loggedout)/login/page.tsx
  packages/apps/rwa-demo/src/app/Providers.tsx
  packages/apps/rwa-demo/src/app/layout.tsx
  packages/apps/rwa-demo/src/app/page.tsx
  packages/apps/rwa-demo/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/rwa-demo/src/constants.ts
  packages/apps/rwa-demo/src/hooks/account.ts
  packages/apps/rwa-demo/src/utils/env.ts
  packages/apps/rwa-demo/src/utils/getAccountCookieName.ts
  packages/apps/rwa-demo/tsconfig.json
  packages/apps/rwa-demo/vitest.config.ts
  packages/libs/kode-ui/src/components/Media/index.ts
  packages/libs/kode-ui/src/components/index.ts
  packages/libs/kode-ui/src/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarHeader.tsx
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#2658 fix(dw): communication
  packages/apps/dev-wallet-example/package.json
  packages/apps/dev-wallet-example/src/app/page.tsx
  packages/apps/dev-wallet/index.html
  packages/apps/dev-wallet/public/boot.css
  packages/apps/dev-wallet/public/favicon.png
  packages/apps/dev-wallet/src/App/Layout/SideBar.tsx
  packages/apps/dev-wallet/src/App/Layout/style.css.ts
  packages/apps/dev-wallet/src/Components/NetworkSelector/NetworkSelector.tsx
  packages/apps/dev-wallet/src/config.ts
  packages/apps/dev-wallet/src/modules/account/account.service.ts
  packages/apps/dev-wallet/src/modules/communication/communication.provider.tsx
  packages/apps/dev-wallet/src/modules/transaction/transaction.service.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/pages/account/Components/ActivityTable.tsx
  packages/apps/dev-wallet/src/pages/create-profile/create-profile.tsx
  packages/apps/dev-wallet/src/pages/signature-builder/signature-builder.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/CommandView.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/ExpandedTransaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/Signers.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxContainer.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxList.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/TxPipeLine.tsx
  packages/apps/dev-wallet/src/pages/transactions/transactions.tsx
  packages/apps/dev-wallet/src/utils/normalizeSigs.ts
  packages/apps/dev-wallet/src/utils/parsedCodeToPact.ts
  packages/apps/dev-wallet/src/utils/transaction-scheme.ts
  pnpm-lock.yaml
Labels: @kadena/dev-wallet, @kadena/dev-wallet-example

#2663 feat(dw): sync state between all tabs
  packages/apps/dev-wallet/index.html
  packages/apps/dev-wallet/public/boot.css
  packages/apps/dev-wallet/src/App/Layout/SideBar.tsx
  packages/apps/dev-wallet/src/App/Layout/style.css.ts
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/session.tsx
  packages/apps/dev-wallet/src/Components/BootContent/BootContent.tsx
  packages/apps/dev-wallet/src/Components/ProfileChanger/ProfileChanger.tsx
  packages/apps/dev-wallet/src/Components/UnlockPrompt/UnlockPrompt.tsx
  packages/apps/dev-wallet/src/config.ts
  packages/apps/dev-wallet/src/index.ts
  packages/apps/dev-wallet/src/modules/account/account.repository.ts
  packages/apps/dev-wallet/src/modules/account/account.service.ts
  packages/apps/dev-wallet/src/modules/db/db.provider.tsx
  packages/apps/dev-wallet/src/modules/db/db.service.tsx
  packages/apps/dev-wallet/src/modules/security/fallback.service.ts
  packages/apps/dev-wallet/src/modules/security/security.service.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.provider.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.service.ts
  packages/apps/dev-wallet/src/pages/account/account.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.tsx
  packages/apps/dev-wallet/src/service-worker/encryption.ts
  packages/apps/dev-wallet/src/service-worker/service-worker.ts
  packages/apps/dev-wallet/src/service-worker/types.ts
  packages/apps/dev-wallet/src/utils/service-worker-com.ts
  packages/apps/dev-wallet/src/utils/session.ts
  packages/apps/dev-wallet/src/utils/unlockWithWebAuthn.ts
  packages/apps/dev-wallet/vite.config.ts
Labels: @kadena/dev-wallet

#2662 feat(rwa): createtoken
  packages/apps/dev-wallet/src/Components/SideBarBreadcrumbs/SideBarBreadcrumbs.tsx
  packages/apps/proof-of-us/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/rwa-demo/.eslintrc.js
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/(app)/page.tsx
  packages/apps/rwa-demo/src/app/Providers.tsx
  packages/apps/rwa-demo/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/rwa-demo/src/components/AddAgentForm/AddAgentForm.tsx
  packages/apps/rwa-demo/src/components/AssetProvider/AssetProvider.tsx
  packages/apps/rwa-demo/src/components/InitTokenForm/InitTokenForm.tsx
  packages/apps/rwa-demo/src/components/NetworkProvider/NetworkProvider.tsx
  packages/apps/rwa-demo/src/components/SideBarBreadcrumbs/SideBarBreadcrumbs.tsx
  packages/apps/rwa-demo/src/constants.ts
  packages/apps/rwa-demo/src/hooks/asset.ts
  packages/apps/rwa-demo/src/hooks/networks.ts
  packages/apps/rwa-demo/src/services/addAgent.ts
  packages/apps/rwa-demo/src/services/getAccount.ts
  packages/apps/rwa-demo/src/services/initToken.ts
  packages/apps/rwa-demo/src/utils/client.ts
  packages/apps/rwa-demo/src/utils/env.ts
  packages/apps/rwa-demo/src/utils/getPubKey.ts
  packages/libs/kode-ui/src/components/Breadcrumbs/Breadcrumbs.css.ts
  packages/libs/kode-ui/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/libs/kode-ui/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/libs/kode-ui/src/components/ContextMenu/ContextMenu.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/LayoutProvider.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/RightAside/RightAside.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/RightAside/RightAsideContent.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarAside.tsx
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#2664 feat(rwa): login with devwallet
  .changeset/rich-wombats-shop.md
  .changeset/sour-dolphins-push.md
  packages/apps/rwa-demo/codegen-sdk.yml
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/__generated__/sdk.ts
  packages/apps/rwa-demo/src/app/(app)/page.tsx
  packages/apps/rwa-demo/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/rwa-demo/src/components/AccountProvider/utils.ts
  packages/apps/rwa-demo/src/components/AddAgentForm/AddAgentForm.tsx
  packages/apps/rwa-demo/src/components/AgentsList/AgentsList.tsx
  packages/apps/rwa-demo/src/components/NetworkProvider/NetworkProvider.tsx
  packages/apps/rwa-demo/src/hooks/getAgents.ts
  packages/apps/rwa-demo/src/services/addAgent.ts
  packages/apps/rwa-demo/src/services/fetchAgents.ts
  packages/apps/rwa-demo/src/services/graph/agent.graph.ts
  packages/apps/rwa-demo/src/services/graph/fragments/events.graph.ts
  packages/apps/rwa-demo/src/utils/checkNetwork.ts
  packages/apps/rwa-demo/src/utils/env.ts
  packages/libs/kode-ui/src/components/Modal/Modal.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/aside.css.ts
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#2671 feat(tools): adding a cron for checking test.graph
  .changeset/kind-schools-lick.md
  packages/apps/tools/next.config.js
  packages/apps/tools/src/app/api/graph/route.route.ts
  packages/apps/tools/src/scripts/constants.ts
  packages/apps/tools/src/scripts/faucetCron/__tests__/index.test.ts
  packages/apps/tools/src/scripts/faucetCron/__tests__/messages.test.ts
  packages/apps/tools/src/scripts/faucetCron/index.ts
  packages/apps/tools/src/scripts/faucetCron/messages.ts
  packages/apps/tools/src/scripts/graphCron/index.ts
  packages/apps/tools/src/scripts/graphCron/messages.ts
  packages/apps/tools/vercel.json
Labels: @kadena/tools

#2679 fix(graph): performance improvement on the `transfers` query
  .changeset/beige-nails-battle.md
  packages/apps/explorer/src/components/AccountTransfersTable/AccountTransfers.graph.ts
  packages/apps/explorer/src/components/AccountTransfersTable/AccountTransfersTable.tsx
  packages/apps/explorer/src/components/AccountTransfersTable/loadingDataAccountTransfersquery.ts
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/package.json
  packages/apps/graph/prisma/schema.prisma
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/prisma-pagination-queries.sql
  packages/apps/graph/src/graph/objects/query-fungible-account-transfers-chainweb-data.sql
  packages/apps/graph/src/graph/objects/simplified-query.sql
  packages/apps/graph/src/graph/objects/transaction-result.ts
  packages/apps/graph/src/graph/objects/union-all-chainweb-data.sql
  packages/apps/graph/src/graph/query/transfers.ts
  packages/libs/kode-ui/src/patterns/CompactTable/CompactTable.tsx
  packages/libs/kode-ui/src/patterns/CompactTable/TablePagination/TablePagination.tsx
  pnpm-lock.yaml
Labels: @kadena/graph

#2684 fix(graph): allow all files to be published to npm
  .changeset/wise-ants-study.md
  packages/apps/graph/package.json
Labels: @kadena/graph

#2685 chore(monorepo): maintenance. Use `runner-setup` task everywhere. Move cache to runner-setup
  .github/actions/runner-setup/action.yaml
  .github/workflows/chainweb-node-changelogs.yml
  .github/workflows/ci.yml
  .github/workflows/docs-ingestion.yml
  .github/workflows/release.yml
  package.json
  packages/tools/scripts/symlink-turbo-cache-worktrees.sh
  pnpm-lock.yaml
Labels: @kadena-dev/scripts

#2683 feat(dw): export/import DB
  packages/apps/dev-wallet/index.html
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/Assets/AddTokenForm.tsx
  packages/apps/dev-wallet/src/Components/AssetsCard/AssetsCard.tsx
  packages/apps/dev-wallet/src/Components/ButtonItem/ButtonItem.tsx
  packages/apps/dev-wallet/src/Components/ButtonItem/style.css.ts
  packages/apps/dev-wallet/src/Components/ConfirmDeletion/ConfirmDeletion.tsx
  packages/apps/dev-wallet/src/config.ts
  packages/apps/dev-wallet/src/modules/account/account.repository.ts
  packages/apps/dev-wallet/src/modules/backup/backup.service.ts
  packages/apps/dev-wallet/src/modules/backup/fileApi.ts
  packages/apps/dev-wallet/src/modules/db/backup/backup.ts
  packages/apps/dev-wallet/src/modules/db/db.service.tsx
  packages/apps/dev-wallet/src/modules/db/indexeddb.ts
  packages/apps/dev-wallet/src/modules/db/migration/createDB.ts
  packages/apps/dev-wallet/src/modules/db/migration/migrateFrom37to38.ts
  packages/apps/dev-wallet/src/modules/key-source/hd-wallet/chainweaver.ts
  packages/apps/dev-wallet/src/modules/network/network.repository.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.provider.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.repository.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.service.ts
  packages/apps/dev-wallet/src/pages/create-account/create-account.tsx
  packages/apps/dev-wallet/src/pages/import-chainweaver-export/createProfileFromChainweaverData.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.tsx
  packages/apps/dev-wallet/src/pages/settings/auto-backup/auto-backup.tsx
  packages/apps/dev-wallet/src/pages/settings/settings.tsx
  packages/apps/dev-wallet/src/pages/settings/utils/download-file.ts
  packages/apps/dev-wallet/src/pages/unlock-profile/unlock-profile.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/Components/LegacyImport.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/Components/RecoveredV3.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/import-chainweaver-export/createProfileFromChainweaverData.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/import-chainweaver-export/createSelectionOptions.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/import-chainweaver-export/forEachKey.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/import-chainweaver-export/import-chainweaver-export.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/recover-from-mnemonic/recover-from-mnemonic.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/wallet-recovery.tsx
  packages/apps/dev-wallet/src/utils/parsedCodeToPact.ts
  packages/apps/dev-wallet/src/utils/select-file.ts
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2689 feat(rwa): add firebase
  .changeset/afraid-parents-sparkle.md
  .changeset/tame-horses-heal.md
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/(app)/layout.tsx
  packages/apps/rwa-demo/src/app/(app)/page.tsx
  packages/apps/rwa-demo/src/components/ActiveTransactionsList/ActiveTransactionsList.tsx
  packages/apps/rwa-demo/src/components/AddAgentForm/AddAgentForm.tsx
  packages/apps/rwa-demo/src/components/AddInvestorForm/AddInvestorForm.tsx
  packages/apps/rwa-demo/src/components/AgentsList/AgentsList.tsx
  packages/apps/rwa-demo/src/components/DistributionForm/DistributionForm.tsx
  packages/apps/rwa-demo/src/components/FreezeInvestor/FreezeInvestor.tsx
  packages/apps/rwa-demo/src/components/HomePage/InvestorRootPage.tsx
  packages/apps/rwa-demo/src/components/InvestorList/InvestorList.tsx
  packages/apps/rwa-demo/src/components/PauseForm/PauseForm.tsx
  packages/apps/rwa-demo/src/components/SendTransactionAnimation/SendTransactionAnimation.tsx
  packages/apps/rwa-demo/src/components/SendTransactionAnimation/styles.css.ts
  packages/apps/rwa-demo/src/components/TransactionsProvider/TransactionsProvider.tsx
  packages/apps/rwa-demo/src/hooks/distributeTokens.ts
  packages/apps/rwa-demo/src/hooks/getAgents.ts
  packages/apps/rwa-demo/src/hooks/getInvestors.ts
  packages/apps/rwa-demo/src/hooks/setCompliance.ts
  packages/apps/rwa-demo/src/hooks/transferTokens.ts
  packages/apps/rwa-demo/src/utils/store/firebase.ts
  packages/apps/rwa-demo/src/utils/store/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/aside.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/LayoutProvider/SideBarLayoutProvider.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarHeader.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarHeaderContext/SideBarHeaderContext.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/sidebar.css.ts
  packages/libs/kode-ui/src/patterns/index.ts
  pnpm-lock.yaml
Labels: @kadena/rwa-demo
