Repository kadena-community/kadena.js, pull requests merged in 2024-05, with the labels that each got.

#2032 TEST: test memory
  .changeset/clean-teachers-reflect.md
  packages/apps/docs/package.json
  packages/apps/docs/src/pages/_app.tsx
  packages/tools/docs-tools/src/utils/staticGeneration/getData.ts
Labels: @kadena/docs

#2049 feat(docs): add editbutton to top of page
  .changeset/tiny-emus-hammer.md
  packages/apps/docs/package.json
  packages/apps/docs/src/components/BottomPageSection/components/EditPage.tsx
  packages/apps/docs/src/components/Layout/Full/Full.tsx
  packages/apps/docs/src/components/Layout/Redocly/Redocly.tsx
  packages/apps/docs/src/components/TopPageSection/TopPageSection.tsx
Labels: @kadena/docs

#2048 Adjust reconcile view amount fields to decimals
  .changeset/dry-trees-begin.md
  packages/apps/graph/cwd-extra-migrations/2.3.0.0.6_replace_reconcile_view.sql
  packages/apps/graph/package.json
  packages/apps/graph/prisma/schema.prisma
  packages/apps/graph/src/services/token-service.ts
Labels: @kadena/graph

#2057 fix: Only increase heap size for next build
  packages/apps/docs/package.json
  packages/apps/docs/src/pages/_app.tsx
Labels: @kadena/docs

#1984 Network Info Endpoint (feat)
  .changeset/red-chicken-unite.md
  packages/apps/graph/.env.example
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/builder.ts
  packages/apps/graph/src/graph/index.ts
  packages/apps/graph/src/graph/objects/network-info.ts
  packages/apps/graph/src/graph/query/network-info.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
  packages/apps/graph/src/services/chainweb-node/mempool.ts
  packages/apps/graph/src/services/network.ts
  packages/apps/graph/src/utils/dotenv.ts
  packages/apps/graph/src/utils/errors.ts
  packages/apps/graph/src/utils/network.ts
Labels: @kadena/graph

#2005 Feat/kadena cli/unit test wallet2
  packages/tools/kadena-cli/src/keys/tests/plainGenerate.test.ts
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
  packages/tools/kadena-cli/src/tx/tests/createTransaction.test.ts
  packages/tools/kadena-cli/src/tx/tests/send.test.ts
  packages/tools/kadena-cli/src/utils/createCommand.ts
  packages/tools/kadena-cli/src/utils/globalOptions.ts
  packages/tools/kadena-cli/src/utils/helpers.ts
  packages/tools/kadena-cli/src/utils/test.util.ts
  packages/tools/kadena-cli/src/wallets/commands/walletDelete.ts
  packages/tools/kadena-cli/src/wallets/commands/walletExport.ts
  packages/tools/kadena-cli/src/wallets/commands/walletImport.ts
  packages/tools/kadena-cli/src/wallets/commands/walletList.ts
  packages/tools/kadena-cli/src/wallets/tests/walletAdd.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletDelete.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletExport.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletGenerateKey.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletImport.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletList.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletsDeleteWallet.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletsExport.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletsGenerate.test.ts
  packages/tools/kadena-cli/src/wallets/tests/walletsGenerateKeys.test.ts
Labels: @kadena/kadena-cli

#2050 feat: correctly archive the report and update playwright
  .github/workflows/ci.yml
  .github/workflows/visual-regression-tests.yml
  packages/e2e/e2e-base/package.json
  packages/e2e/e2e-base/playwright.config.ts
  packages/e2e/e2e-docs/package.json
  packages/e2e/e2e-graph/package.json
  packages/e2e/e2e-graph/tests/transaction.test.ts
  packages/e2e/e2e-tools/.eslintrc.js
  packages/e2e/e2e-tools/package.json
  packages/e2e/e2e-tools/setup/devnet.setup.ts
  pnpm-lock.yaml
Labels: @kadena-dev/e2e-base, e2e-docs, e2e-graph, e2e-tools

#2019 fix: prompt message ending with colon
  packages/tools/kadena-cli/src/account/commands/accountAddFromWallet.ts
  packages/tools/kadena-cli/src/config/commands/configInit.ts
  packages/tools/kadena-cli/src/prompts/account.ts
  packages/tools/kadena-cli/src/prompts/config.ts
  packages/tools/kadena-cli/src/prompts/devnet.ts
  packages/tools/kadena-cli/src/prompts/generic.ts
  packages/tools/kadena-cli/src/prompts/keys.ts
  packages/tools/kadena-cli/src/prompts/network.ts
  packages/tools/kadena-cli/src/prompts/simulate.ts
  packages/tools/kadena-cli/src/prompts/tx.ts
  packages/tools/kadena-cli/src/prompts/typescript.ts
  packages/tools/kadena-cli/src/prompts/wallets.ts
  packages/tools/kadena-cli/src/tx/commands/txSignOptions.ts
  packages/tools/kadena-cli/src/wallets/commands/walletChangePassword.ts
  packages/tools/kadena-cli/src/wallets/commands/walletGenerateKey.ts
  packages/tools/kadena-cli/src/wallets/commands/walletImport.ts
Labels: @kadena/kadena-cli

#2013 fix: account fund healthcheck
  packages/tools/kadena-cli/src/account/commands/accountFund.ts
  packages/tools/kadena-cli/src/account/utils/fundHelpers.ts
  packages/tools/kadena-cli/src/devnet/utils/network.ts
Labels: @kadena/kadena-cli

#2047 fix: add custom instruction for checkbox selection
  packages/tools/kadena-cli/src/account/commands/accountAddFromWallet.ts
  packages/tools/kadena-cli/src/constants/config.ts
  packages/tools/kadena-cli/src/constants/global.ts
  packages/tools/kadena-cli/src/prompts/account.ts
  packages/tools/kadena-cli/src/prompts/network.ts
  packages/tools/kadena-cli/src/prompts/tx.ts
  packages/tools/kadena-cli/src/prompts/wallets.ts
Labels: @kadena/kadena-cli

#2034 fix: account alias command table header
  packages/tools/kadena-cli/src/account/commands/accountDetails.ts
  packages/tools/kadena-cli/src/account/commands/accountList.ts
Labels: @kadena/kadena-cli

#2015 fix: add account alias prompt for init + wallet add command
  packages/tools/kadena-cli/README.md
  packages/tools/kadena-cli/src/config/commands/configInit.ts
  packages/tools/kadena-cli/src/wallets/commands/walletAdd.ts
Labels: @kadena/kadena-cli

#2070 feat(kadena-cli): fix legacy signing and add more tests
  packages/tools/kadena-cli/src/test-setup.ts
  packages/tools/kadena-cli/src/tx/commands/txTestSignedTransaction.ts
  packages/tools/kadena-cli/src/tx/tests/createTransaction.test.ts
  packages/tools/kadena-cli/src/tx/tests/send.test.ts
  packages/tools/kadena-cli/src/tx/tests/sign.test.ts
  packages/tools/kadena-cli/src/tx/tests/transaction-legacy-live.test.ts
  packages/tools/kadena-cli/src/tx/tests/transaction-live.test.ts
  packages/tools/kadena-cli/src/tx/utils/txHelpers.ts
  packages/tools/kadena-cli/src/tx/utils/txSignWithKeypair.ts
  packages/tools/kadena-cli/src/tx/utils/txSignWithWallet.ts
  packages/tools/kadena-cli/src/utils/globalOptions.ts
Labels: @kadena/kadena-cli

#2043 fix: tx add command prefix alias + index for keys and account
  packages/tools/kadena-cli/src/prompts/tx.ts
Labels: @kadena/kadena-cli

#2036 fix: network update command prefill values from existing config
  packages/tools/kadena-cli/src/networks/commands/networkManage.ts
  packages/tools/kadena-cli/src/prompts/network.ts
Labels: @kadena/kadena-cli

#2074 feat(account): combine account add-manual and add-from-wallet into one command
  packages/tools/kadena-cli/src/account/accountAddOptions.ts
  packages/tools/kadena-cli/src/account/accountOptions.ts
  packages/tools/kadena-cli/src/account/commands/accountAdd.ts
  packages/tools/kadena-cli/src/account/commands/accountAddFromWallet.ts
  packages/tools/kadena-cli/src/account/commands/accountAddManual.ts
  packages/tools/kadena-cli/src/account/index.ts
  packages/tools/kadena-cli/src/account/utils/__tests__/createAccountName.test.ts
  packages/tools/kadena-cli/src/account/utils/createAccountName.ts
  packages/tools/kadena-cli/src/prompts/account.ts
Labels: @kadena/kadena-cli

#2078 K:Explorer - initial commit
  .changeset/afraid-emus-happen.md
  .github/labeler.yml
  packages.json
  packages/apps/explorer/.eslintignore
  packages/apps/explorer/.eslintrc.js
  packages/apps/explorer/.gitignore
  packages/apps/explorer/.prettierignore
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/LICENSE
  packages/apps/explorer/README.md
  packages/apps/explorer/apollo.config.js
  packages/apps/explorer/codegen-sdk.yml
  packages/apps/explorer/next.config.js
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/layout/index.tsx
  packages/apps/explorer/src/components/layout/styles.css.ts
  packages/apps/explorer/src/graphql/queries/network-info.graph.ts
  packages/apps/explorer/src/pages/_app.tsx
  packages/apps/explorer/src/pages/index.tsx
  packages/apps/explorer/tsconfig.json
  packages/apps/explorer/turbo.json
  pnpm-lock.yaml
Labels: Github Config & Actions, @kadena/explorer

#2071 Implement difficulty per block (Feat)
  .changeset/nine-lemons-fold.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/objects/block.ts
  packages/apps/graph/src/services/network.ts
Labels: @kadena/graph

#2079 fix(account): remove account create command
  packages/tools/kadena-cli/README.md
  packages/tools/kadena-cli/src/account/commands/accountCreate.ts
  packages/tools/kadena-cli/src/account/index.ts
  packages/tools/kadena-cli/src/account/utils/__tests__/createAccountOnMainnet.test.ts
  packages/tools/kadena-cli/src/account/utils/createAccountOnMainnet.ts
Labels: @kadena/kadena-cli

#2083 feat(account): public keys selection improvement for manual and wallet type
  packages/tools/kadena-cli/README.md
  packages/tools/kadena-cli/src/account/accountAddOptions.ts
  packages/tools/kadena-cli/src/account/commands/accountAddFromWallet.ts
  packages/tools/kadena-cli/src/account/commands/accountAddManual.ts
  packages/tools/kadena-cli/src/account/tests/accountAdd.test.ts
  packages/tools/kadena-cli/src/prompts/account.ts
  packages/tools/kadena-cli/src/wallets/commands/walletAdd.ts
  packages/tools/kadena-cli/src/wallets/commands/walletGenerateKey.ts
  packages/tools/kadena-cli/src/wallets/utils/walletHelpers.ts
Labels: @kadena/kadena-cli

#2099 Docs/kadena cli/docs improvements
  packages/tools/kadena-cli/README.md
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
  packages/tools/kadena-cli/src/utils/globalOptions.ts
Labels: @kadena/kadena-cli

#2098 feat(kadena-cli) fixes
  packages/tools/kadena-cli/README.md
Labels: @kadena/kadena-cli

#2104 chore: fix config init readme
  packages/tools/kadena-cli/README.md
Labels: @kadena/kadena-cli

#2107 Fix: Increase timeout for starting the graph server
  packages/e2e/e2e-graph/playwright.config.ts
Labels: e2e-graph

#2102 Lg/workaround cli readme
  .changeset/eighty-trains-mix.md
  packages/apps/docs/src/config.yaml
  packages/apps/docs/src/docs/reference/cli-README.md
  packages/apps/docs/src/docs/reference/reference.md
  packages/apps/docs/src/redirects/paths/version2.mjs
  packages/tools/kadena-cli/README.md
Labels: @kadena/kadena-cli

#2114 Release/kadena cli
  packages/apps/docs/.changeset/lovely-grapes-repair.md
  packages/tools/kadena-cli/package.json
Labels: @kadena/kadena-cli

#2120 feat(kadena-cli): add bundler
  packages/tools/kadena-cli/package.json
  packages/tools/kadena-cli/rollup.config.mjs
  packages/tools/kadena-cli/src/index.ts
  packages/tools/kadena-cli/src/utils/createOption.ts
  packages/tools/kadena-cli/tsconfig.json
  pnpm-lock.yaml
Labels: @kadena/kadena-cli

#2085 feat: basic app setup and create layouts with design
  packages/apps/dev-wallet/index.html
  packages/apps/dev-wallet/public/favicon.png
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/layout-mini.css.ts
  packages/apps/dev-wallet/src/App/layout-mini.tsx
  packages/apps/dev-wallet/src/App/layout.tsx
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/globals.css.ts
  packages/apps/dev-wallet/src/main.tsx
  packages/apps/dev-wallet/src/pages/account-discovery/account-dsicovery.tsx
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/backup-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/write-down/confirm-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/write-down/write-down-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/create-profile/create-profile.tsx
  packages/apps/dev-wallet/src/pages/home/home-page.tsx
  packages/apps/dev-wallet/src/pages/home/style.css.ts
  packages/apps/dev-wallet/src/pages/import-wallet/import-wallet.tsx
  packages/apps/dev-wallet/src/pages/networks/create-network.tsx
  packages/apps/dev-wallet/src/pages/networks/networks.tsx
  packages/apps/dev-wallet/src/pages/signature-builder/signature-builder.tsx
  packages/apps/dev-wallet/src/pages/unlock-profile/unlock-profile.tsx
Labels: @kadena/dev-wallet

#2086 Added neighbor info to blocks and phased out CHAIN_COUNT and NETWORK_ID env vars
  .changeset/polite-plums-decide.md
  packages/apps/graph/.env.example
  packages/apps/graph/README.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/devnet/deployment/helper.ts
  packages/apps/graph/src/devnet/deployment/marmalade/config/arguments.ts
  packages/apps/graph/src/devnet/deployment/marmalade/deploy.ts
  packages/apps/graph/src/devnet/deployment/marmalade/namespace.ts
  packages/apps/graph/src/devnet/simulation/coin/crosschain-transfer.ts
  packages/apps/graph/src/devnet/simulation/coin/safe-transfer.ts
  packages/apps/graph/src/devnet/simulation/coin/simulate.ts
  packages/apps/graph/src/devnet/simulation/coin/transfer.ts
  packages/apps/graph/src/devnet/simulation/helper.ts
  packages/apps/graph/src/devnet/simulation/marmalade/create-token-id.ts
  packages/apps/graph/src/devnet/simulation/marmalade/create-token.ts
  packages/apps/graph/src/devnet/simulation/marmalade/get-token-info.ts
  packages/apps/graph/src/devnet/simulation/marmalade/mint-token.ts
  packages/apps/graph/src/devnet/simulation/marmalade/transfer-create-token.ts
  packages/apps/graph/src/graph/builder.ts
  packages/apps/graph/src/graph/objects/block.ts
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-account.ts
  packages/apps/graph/src/graph/query/blocks-from-height.ts
  packages/apps/graph/src/graph/query/completed-block-heights.ts
  packages/apps/graph/src/graph/query/fungible-account.ts
  packages/apps/graph/src/graph/query/fungible-accounts-by-public-key.ts
  packages/apps/graph/src/graph/subscription/new-blocks.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
  packages/apps/graph/src/services/chainweb-node/mempool.ts
  packages/apps/graph/src/services/network.ts
  packages/apps/graph/src/services/systems-check.ts
  packages/apps/graph/src/utils/chains.ts
  packages/apps/graph/src/utils/dotenv.ts
  packages/apps/graph/src/utils/network.ts
Labels: @kadena/graph

#2130 Added `endHeight` to `blocksFromHeight` query
  .changeset/tall-numbers-destroy.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/query/blocks-from-height.ts
Labels: @kadena/graph

#2144 fix: vanilla extract issue with vite in dev mode
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/vite.config.ts
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2137 fix(docs): remove the theme provider
  .changeset/late-lamps-poke.md
  packages/apps/docs/src/components/Layout/components/DocsLogo/DocsLogo.tsx
  packages/apps/docs/src/components/Layout/components/Header/Header.tsx
  packages/apps/docs/src/components/Layout/components/Header/ThemeToggle.tsx
  packages/apps/docs/src/components/Markdown/Heading/styles.css.ts
  packages/apps/docs/src/pages/_app.tsx
  packages/libs/react-ui/package.json
  packages/libs/react-ui/src/index.ts
  packages/libs/react-ui/src/utils/__tests__/useTheme.test.ts
  packages/libs/react-ui/src/utils/index.ts
  packages/libs/react-ui/src/utils/useTheme/index.ts
  packages/libs/react-ui/src/utils/useTheme/utils/constants.ts
  packages/libs/react-ui/src/utils/useTheme/utils/getSystemTheme.ts
  pnpm-lock.yaml
Labels: @kadena/react-ui

#2163 fix(docs): exclude tsx from test coverage
  packages/apps/docs/package.json
  packages/apps/docs/src/components/Layout/Full/useCreateSubmenu.ts
  packages/apps/docs/src/hooks/__tests__/useIphoneInputFix.test.ts
  packages/apps/docs/src/hooks/__tests__/useWindowScroll.test.ts
  packages/apps/docs/src/hooks/useIphoneInputFix.ts
  packages/apps/docs/src/hooks/useMediaQuery.ts
  packages/apps/docs/src/hooks/useMediumScreen.ts
  packages/apps/docs/src/hooks/useWindowScroll.ts
  packages/apps/docs/src/scripts/mdx2md.ts
  packages/apps/docs/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/docs

#2179 Feat/used ractui hook
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/layout.tsx
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2176 Deps: Upgrade Vitest to latest.
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/package.json
  packages/apps/docs/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/tools/package.json
  packages/libs/bootstrap-lib/package.json
  packages/libs/chainweb-node-client/package.json
  packages/libs/chainweb-stream-client/package.json
  packages/libs/chainwebjs/package.json
  packages/libs/client-utils/package.json
  packages/libs/client/package.json
  packages/libs/cryptography-utils/package.json
  packages/libs/hd-wallet/package.json
  packages/libs/kadena.js/package.json
  packages/libs/pactjs-generator/package.json
  packages/libs/pactjs/package.json
  packages/libs/react-ui/package.json
  packages/libs/toolbox/package.json
  packages/tools/docs-tools/package.json
  packages/tools/integration-tests/package.json
  packages/tools/kadena-cli/package.json
  packages/tools/kadena-cli/vitest.config.ts
  packages/tools/kda-cli/package.json
  packages/tools/pactjs-cli/package.json
  packages/tools/shared-config/package.json
  pnpm-lock.yaml
Labels: @kadena/client, @kadena/kadena-cli, kadena.js, @kadena/chainweb-node-client, @kadena/client-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/react-ui, @kadena/toolbox, @kadena-dev/integration-tests, @kadena/docs, @kadena/tools, @kadena/bootstrap-lib, @kadena/chainweb-stream-client, @kadena/chainwebjs, @kadena/cryptography-utils, @kadena/docs-tools, @kadena/hd-wallet, @kadena/pactjs, @kadena-dev/shared-config, @kadena/kda-cli

#2063 feat(docs): importchangelogs
  .changeset/beige-deers-leave.md
  packages/apps/docs/package.json
  packages/apps/docs/src/changelog.d.ts
  packages/apps/docs/src/data/changelogs.json
  packages/apps/docs/src/github.d.ts
  packages/apps/docs/src/hooks/useIphoneInputFix.ts
  packages/apps/docs/src/scripts/build.ts
  packages/apps/docs/src/scripts/importChangelogs/api.ts
  packages/apps/docs/src/scripts/importChangelogs/constants.ts
  packages/apps/docs/src/scripts/importChangelogs/index.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/checkNames.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/commits.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/createVersion.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/createVersionRecord.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/enrichPackageContent.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/misc.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/mock/changelog-notenriched.json
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/mock/changelog.json
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/prs.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/reduce.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/checkNames.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/commits.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/crawlContent.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/createVersion.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/createVersionRecord.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/enrichPackageContent.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/github.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/misc.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/prs.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/reduce.ts
  packages/apps/docs/src/scripts/runPrettier/__tests__/runPrettier.test.ts
  packages/apps/docs/src/scripts/runPrettier/index.ts
  packages/apps/docs/src/scripts/utils.ts
  packages/apps/docs/src/scripts/utils/__test__/globalError.test.ts
  packages/apps/docs/src/utils/__tests__/analytics.test.ts
  packages/apps/docs/src/utils/__tests__/author.test.ts
  packages/apps/docs/src/utils/__tests__/config.test.ts
  packages/apps/docs/src/utils/__tests__/storeAnalyticsData.test.ts
  packages/apps/docs/src/utils/author.ts
  packages/apps/docs/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/docs

#2068 E2E test improvements and fixes
  .github/actions/build-app-e2e/action.yaml
  .github/workflows/ci.yml
  package.json
  packages/apps/docs/package.json
  packages/apps/tools/.env.test
  packages/apps/tools/next.config.js
  packages/apps/tools/package.json
  packages/apps/tools/src/components/Partials/transactions/transfer/sender-details.tsx
  packages/apps/tools/src/components/Partials/transactions/transfer/sign-form-receiver.tsx
  packages/apps/tools/src/pages/index.spec.tsx
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
  packages/apps/tools/vitest.config.ts
  packages/e2e/e2e-base/README.MD
  packages/e2e/e2e-base/package.json
  packages/e2e/e2e-base/playwright.config.ts
  packages/e2e/e2e-base/src/fixtures/shared/i18n.fixture.ts
  packages/e2e/e2e-base/src/fixtures/shared/page-obects.fixture.ts
  packages/e2e/e2e-base/src/fixtures/shared/test.fixture.ts
  packages/e2e/e2e-base/src/helpers/client-utils/accounts.helper.ts
  packages/e2e/e2e-base/src/helpers/client-utils/transfer.helper.ts
  packages/e2e/e2e-base/src/page-objects/react-ui/card.component.ts
  packages/e2e/e2e-base/src/page-objects/react-ui/listBox.component.ts
  packages/e2e/e2e-base/src/page-objects/react-ui/notificationContainer.component.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/components/progressBar.component.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/components/toolsHeader.component.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/components/trackerCard.component.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/pages/faucet/fund-existing-account.page.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/pages/faucet/fund-new-account.page.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/pages/home.page.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/pages/transactions/cross-chain-finisher.page.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/pages/transactions/cross-chain-tracker.page.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/pages/transactions/transfer.page.ts
  packages/e2e/e2e-base/src/page-objects/tools-app/toolsApp.index.ts
  packages/e2e/e2e-base/src/smart-contracts/faucet/deploy.ts
  packages/e2e/e2e-base/src/smart-contracts/faucet/deploy/createNamespace.ts
  packages/e2e/e2e-base/src/smart-contracts/faucet/deploy/deployFaucet.ts
  packages/e2e/e2e-base/src/smart-contracts/faucet/deploy/fundGasStation.ts
  packages/e2e/e2e-base/src/smart-contracts/guards/deploy/deployGuardsContracts.ts
  packages/e2e/e2e-base/src/smart-contracts/kadena-xchain-gas/deploy.ts
  packages/e2e/e2e-base/tsconfig.json
  packages/e2e/e2e-docs/README.MD
  packages/e2e/e2e-docs/package.json
  packages/e2e/e2e-docs/playwright.config.ts
  packages/e2e/e2e-docs/tsconfig.json
  packages/e2e/e2e-graph/README.MD
  packages/e2e/e2e-graph/package.json
  packages/e2e/e2e-graph/tsconfig.json
  packages/e2e/e2e-tools/README.MD
  packages/e2e/e2e-tools/package.json
  packages/e2e/e2e-tools/playwright.config.ts
  packages/e2e/e2e-tools/tests/faucet.spec.ts
  packages/e2e/e2e-tools/tests/transactions.spec.ts
  packages/e2e/e2e-tools/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: @kadena-dev/e2e-base, @kadena/docs, @kadena/tools, e2e-docs, e2e-graph, e2e-tools

#2170 chore(hd-wallet): Separated test config for Chainweaver to avoid long…
  .changeset/spicy-knives-swim.md
  packages/libs/hd-wallet/docs/decisions/0002-support-chainweaver-key-derivation.md
  packages/libs/hd-wallet/package.json
  packages/libs/hd-wallet/vitest.chainweaver.config.ts
  packages/libs/hd-wallet/vitest.config.ts
Labels: @kadena/hd-wallet

#2186 doc(hd-wallet): expose api doc
  .changeset/happy-hornets-turn.md
  packages/libs/hd-wallet/etc/hd-wallet.api.md
  packages/libs/hd-wallet/package.json
  packages/libs/hd-wallet/src/SLIP10/kadenaGenKeypairFromSeed.ts
  packages/libs/hd-wallet/src/SLIP10/kadenaGetPublic.ts
  packages/libs/hd-wallet/src/SLIP10/kadenaKeyPairsFromRandom.ts
  packages/libs/hd-wallet/src/SLIP10/kadenaMnemonic.ts
  packages/libs/hd-wallet/src/SLIP10/kadenaSign.ts
  packages/libs/hd-wallet/src/SLIP10/utils/sign.ts
  packages/libs/hd-wallet/src/utils/crypto.ts
  packages/libs/hd-wallet/src/utils/kadenaEncryption.ts
Labels: @kadena/hd-wallet

#2169 chore: Pin sensitive dependencies to specific versions
  .changeset/hot-mice-unite.md
  packages/apps/dev-wallet/package.json
  packages/apps/graph/package.json
  packages/apps/tools/package.json
  packages/libs/client-utils/package.json
  packages/libs/client/package.json
  packages/libs/cryptography-utils/package.json
  packages/libs/hd-wallet/package.json
  packages/tools/kadena-cli/package.json
  packages/tools/kadena-cli/src/utils/helpers.ts
  packages/tools/pactjs-cli/package.json
  pnpm-lock.yaml
Labels: @kadena/client, @kadena/kadena-cli, @kadena/client-utils, @kadena/dev-wallet, @kadena/graph, @kadena/pactjs-cli, @kadena/tools, @kadena/cryptography-utils, @kadena/hd-wallet

#2143 test: add tests for dapp add command
  packages/tools/kadena-cli/src/dapp/commands/dappCreate.ts
  packages/tools/kadena-cli/src/dapp/tests/dappCreate.test.ts
Labels: @kadena/kadena-cli

#2160 fix(kadena-cli): Improved account list display formatting in account list command
  .changeset/brown-toys-divide.md
  packages/tools/kadena-cli/src/account/commands/accountList.ts
  packages/tools/kadena-cli/src/account/tests/accountList.test.ts
Labels: @kadena/kadena-cli

#2158 fix(kadena-cli): add warning message for not deploying faucet + update test case descriptions
  .changeset/polite-suns-dress.md
  packages/tools/kadena-cli/src/account/commands/accountFund.ts
  packages/tools/kadena-cli/src/account/tests/accountFund.test.ts
Labels: @kadena/kadena-cli

#2152 fix(kadena-cli): add empty log message for networks + empty state level to warning
  .changeset/five-pans-reply.md
  packages/tools/kadena-cli/src/account/commands/accountList.ts
  packages/tools/kadena-cli/src/keys/utils/keysDisplay.ts
  packages/tools/kadena-cli/src/networks/tests/networkList.test.ts
  packages/tools/kadena-cli/src/networks/utils/networkDisplay.ts
  packages/tools/kadena-cli/src/wallets/commands/walletList.ts
Labels: @kadena/kadena-cli

#2194 feat(docs): run import script
  .changeset/angry-falcons-burn.md
  package.json
  packages/apps/docs/package.json
  packages/apps/docs/src/changelog.d.ts
  packages/apps/docs/src/data/changelogs.json
  packages/apps/docs/src/scripts/__mocks__/changelog-notenriched.json
  packages/apps/docs/src/scripts/__mocks__/changelog.json
  packages/apps/docs/src/scripts/importChangelogs/constants.ts
  packages/apps/docs/src/scripts/importChangelogs/index.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/commits.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/content.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/enrichPackageContent.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/misc.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/prs.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/content.ts
Labels: @kadena/docs

#2177 feat(add-account): rename account type to from option and manual to key value
  .changeset/thick-trees-dance.md
  packages/tools/kadena-cli/src/account/accountAddOptions.ts
  packages/tools/kadena-cli/src/account/accountOptions.ts
  packages/tools/kadena-cli/src/account/commands/accountAdd.ts
  packages/tools/kadena-cli/src/account/commands/accountAddFromKey.ts
  packages/tools/kadena-cli/src/account/tests/accountAdd.test.ts
  packages/tools/kadena-cli/src/account/tests/accountDelete.test.ts
  packages/tools/kadena-cli/src/account/tests/accountDetails.test.ts
  packages/tools/kadena-cli/src/account/tests/accountFund.test.ts
  packages/tools/kadena-cli/src/account/tests/accountList.test.ts
  packages/tools/kadena-cli/src/prompts/account.ts
Labels: @kadena/kadena-cli

#1484 [@kadena/client-utils] Implement Marmalade functions (Feat)
  .changeset/sour-gorillas-raise.md
  packages/libs/client-utils/package.json
  packages/libs/client-utils/src/integration-tests/marmalade-collection-policy.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-conventional-auction.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-dutch-auction.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-gas-station.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-sale.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade.int.test.ts
  packages/libs/client-utils/src/integration-tests/support/helpers.ts
  packages/libs/client-utils/src/integration-tests/test-data/accounts.ts
  packages/libs/client-utils/src/marmalade/burn-token.ts
  packages/libs/client-utils/src/marmalade/buy-token.ts
  packages/libs/client-utils/src/marmalade/config.ts
  packages/libs/client-utils/src/marmalade/create-auction.ts
  packages/libs/client-utils/src/marmalade/create-bid-id.ts
  packages/libs/client-utils/src/marmalade/create-collection-id.ts
  packages/libs/client-utils/src/marmalade/create-collection.ts
  packages/libs/client-utils/src/marmalade/create-token-id.ts
  packages/libs/client-utils/src/marmalade/create-token.ts
  packages/libs/client-utils/src/marmalade/escrow-account.ts
  packages/libs/client-utils/src/marmalade/get-account-details.ts
  packages/libs/client-utils/src/marmalade/get-auction-details.ts
  packages/libs/client-utils/src/marmalade/get-bid.ts
  packages/libs/client-utils/src/marmalade/get-collection-token.ts
  packages/libs/client-utils/src/marmalade/get-collection.ts
  packages/libs/client-utils/src/marmalade/get-current-price.ts
  packages/libs/client-utils/src/marmalade/get-escrow-account.ts
  packages/libs/client-utils/src/marmalade/get-quote-info.ts
  packages/libs/client-utils/src/marmalade/get-token-balance.ts
  packages/libs/client-utils/src/marmalade/get-token-info.ts
  packages/libs/client-utils/src/marmalade/get-uri.ts
  packages/libs/client-utils/src/marmalade/helpers.ts
  packages/libs/client-utils/src/marmalade/index.ts
  packages/libs/client-utils/src/marmalade/mint-token.ts
  packages/libs/client-utils/src/marmalade/offer-token.ts
  packages/libs/client-utils/src/marmalade/place-bid.ts
  packages/libs/client-utils/src/marmalade/policy-config.ts
  packages/libs/client-utils/src/marmalade/transfer-create-token.ts
  packages/libs/client-utils/src/marmalade/transfer-token.ts
  packages/libs/client-utils/src/marmalade/update-auction.ts
  packages/libs/client-utils/src/marmalade/update-uri.ts
  packages/libs/client-utils/src/marmalade/withdraw-token.ts
  packages/libs/client-utils/src/nodejs/services/download-git-files.ts
  packages/libs/client-utils/src/scripts/setup-marmalade-test-env.ts
  packages/libs/client-utils/vitest.integration.config.ts
Labels: @kadena/client-utils

#2167 feat(kadena-cli): improve config show command to include all command paths and counts of wallets, accounts, networks, templates
  .changeset/early-apples-jog.md
  packages/tools/kadena-cli/src/account/tests/accountDetails.test.ts
  packages/tools/kadena-cli/src/account/tests/accountFund.test.ts
  packages/tools/kadena-cli/src/config/commands/configPath.ts
  packages/tools/kadena-cli/src/config/commands/configShow.ts
  packages/tools/kadena-cli/src/config/index.ts
  packages/tools/kadena-cli/src/config/tests/configPath.test.ts
  packages/tools/kadena-cli/src/config/tests/configShow.test.ts
  packages/tools/kadena-cli/src/networks/tests/networkDelete.test.ts
  packages/tools/kadena-cli/src/networks/tests/networkManage.test.ts
Labels: @kadena/kadena-cli

#2206 Explorer Media SSR
  .changeset/shy-pianos-own.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/layout/media.ts
  packages/apps/explorer/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: @kadena/explorer

#2197 fix(docs): add unit tests for getDocsTree
  .changeset/silver-shoes-cheer.md
  packages/apps/docs/src/scripts/__mocks__/config.mock.yaml
  packages/apps/docs/src/scripts/__mocks__/redirects.mock.ts
  packages/apps/docs/src/scripts/__mocks__/sitemap.mock.xml
  packages/apps/docs/src/scripts/checkRedirects/__tests__/checkImportedRedirectsSlugs.test.ts
  packages/apps/docs/src/scripts/checkRedirects/__tests__/checkUrlAgainstList.test.ts
  packages/apps/docs/src/scripts/checkRedirects/__tests__/checkUrlCreator.test.ts
  packages/apps/docs/src/scripts/checkRedirects/__tests__/getProductionSitemapLinks.test.ts
  packages/apps/docs/src/scripts/checkRedirects/__tests__/getSitemapLinks.test.ts
  packages/apps/docs/src/scripts/checkRedirects/__tests__/getSitemapLinkstoArray.test.ts
  packages/apps/docs/src/scripts/checkRedirects/__tests__/index.test.ts
  packages/apps/docs/src/scripts/checkRedirects/constants.ts
  packages/apps/docs/src/scripts/checkRedirects/index.ts
  packages/apps/docs/src/scripts/checkRedirects/types.d.ts
  packages/apps/docs/src/scripts/checkRedirects/utils/checkImportedRedirectsSlugs.ts
  packages/apps/docs/src/scripts/checkRedirects/utils/checkUrlAgainstList.ts
  packages/apps/docs/src/scripts/checkRedirects/utils/checkUrlCreator.ts
  packages/apps/docs/src/scripts/checkRedirects/utils/getProductionSitemapLinks.ts
  packages/apps/docs/src/scripts/checkRedirects/utils/getSitemapLinks.ts
  packages/apps/docs/src/scripts/getdocstree.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/convertFile.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/createTree.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/findPath.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/getFile.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/getFrontMatter.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/getLastModifiedDate.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/index.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/isIndex.test.ts
  packages/apps/docs/src/scripts/getdocstree/__tests__/pushToParent.test.ts
  packages/apps/docs/src/scripts/getdocstree/constants.ts
  packages/apps/docs/src/scripts/getdocstree/index.ts
  packages/apps/docs/src/scripts/getdocstree/types.d.ts
  packages/apps/docs/src/scripts/getdocstree/utils/convertFile.ts
  packages/apps/docs/src/scripts/getdocstree/utils/createTree.ts
  packages/apps/docs/src/scripts/getdocstree/utils/findPath.ts
  packages/apps/docs/src/scripts/getdocstree/utils/getFile.ts
  packages/apps/docs/src/scripts/getdocstree/utils/getFrontMatter.ts
  packages/apps/docs/src/scripts/getdocstree/utils/getLastModifiedDate.ts
  packages/apps/docs/src/scripts/getdocstree/utils/isIndex.ts
  packages/apps/docs/src/scripts/getdocstree/utils/pushToParent.ts
  packages/apps/docs/src/scripts/importReadme/createDoc.ts
  packages/apps/docs/vitest-globals.ts
  packages/apps/docs/vitest.config.ts
  packages/tools/docs-tools/src/index.ts
  packages/tools/docs-tools/src/utils/staticGeneration/getData.ts
Labels: @kadena/docs

#2198 feat(dev-wallet): Onboarding long version
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/layout-mini.css.ts
  packages/apps/dev-wallet/src/App/layout-mini.tsx
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/modules/layout/layout.provider.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.service.ts
  packages/apps/dev-wallet/src/pages/create-profile/create-profile.tsx
  packages/apps/dev-wallet/src/pages/create-profile/personalize-profile/personalize-profile.tsx
  packages/apps/dev-wallet/src/pages/create-profile/personalize-profile/styles.css.ts
  packages/apps/dev-wallet/src/pages/home/home-page.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.css.ts
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2181 Data Render Component and Transactions Table
  .changeset/famous-dolphins-stare.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/compact-transactions-table/compact-transactions-table-desktop/compact-transactions-table-desktop.tsx
  packages/apps/explorer/src/components/compact-transactions-table/compact-transactions-table-desktop/styles.css.ts
  packages/apps/explorer/src/components/compact-transactions-table/compact-transactions-table-mobile/compact-transactions-table-mobile.tsx
  packages/apps/explorer/src/components/compact-transactions-table/compact-transactions-table-mobile/styles.css.ts
  packages/apps/explorer/src/components/compact-transactions-table/compact-transactions-table.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-horizontal/data-render-component-horizontal.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-horizontal/styles.css.ts
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/data-render-component-vertical.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/styles.css.ts
  packages/apps/explorer/src/components/data-render-component/data-render-component.tsx
  packages/apps/explorer/src/components/data-render-component/styles.css.ts
  packages/apps/explorer/src/graphql/fragments/block.graph.ts
  packages/apps/explorer/src/graphql/queries/block.graph.ts
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/objects/block.ts
  packages/apps/graph/src/graph/objects/transaction.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
  packages/apps/graph/src/utils/network.ts
  pnpm-lock.yaml
Labels: @kadena/graph, @kadena/explorer

#2207 feat(docs): changelogs homepage
  .changeset/clean-forks-approve.md
  packages/apps/docs/src/components/Avatar/styles.css.ts
  packages/apps/docs/src/components/ChangelogTable/ChangelogTable.tsx
  packages/apps/docs/src/components/ChangelogTable/Row.tsx
  packages/apps/docs/src/components/ChangelogTable/styles.css.ts
  packages/apps/docs/src/data/changelogs.json
  packages/apps/docs/src/pages/index.tsx
  packages/apps/docs/src/redirects/paths/basics.mjs
  packages/apps/docs/src/scripts/__mocks__/changelog-notenriched.json
  packages/apps/docs/src/scripts/__mocks__/changelog.json
  packages/apps/docs/src/scripts/createSitemap/__tests__/getChangelogs.test.ts
  packages/apps/docs/src/scripts/importChangelogs/constants.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/enrichPackageContent.test.ts
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/misc.test.ts
  packages/apps/docs/vitest.config.ts
Labels: @kadena/docs

#2223 fix(docs): remove pinecone search
  .changeset/hot-tips-rule.md
  packages/apps/docs/.env.example
  packages/apps/docs/package.json
  packages/apps/docs/src/components/Layout/Landing/components/Headers/SearchHeader.tsx
  packages/apps/docs/src/components/Layout/Landing/components/Headers/style.css.ts
  packages/apps/docs/src/components/Search/Search.tsx
  packages/apps/docs/src/components/Search/SearchTab.tsx
  packages/apps/docs/src/components/Search/components/SearchResults.tsx
  packages/apps/docs/src/components/Search/styles.css.ts
  packages/apps/docs/src/components/Search/utils.ts
  packages/apps/docs/src/components/SearchDialog/SearchDialog.tsx
  packages/apps/docs/src/hooks/useSearch/useConversation.ts
  packages/apps/docs/src/hooks/useSearch/useSearch.ts
  packages/apps/docs/src/hooks/useSearch/useStream.ts
  packages/apps/docs/src/pages/api/search.ts
  packages/apps/docs/vitest.config.ts
Labels: @kadena/docs

#2221 feat(docs): add canonical links
  .changeset/proud-rocks-smash.md
  packages/apps/docs/src/components/Layout/__fixtures__/frontmatter.ts
  packages/apps/docs/src/pages/_app.tsx
  packages/tools/docs-tools/src/mock/config.mock.yaml
  packages/tools/docs-tools/src/mock/getData.mock.ts
  packages/tools/docs-tools/src/mock/loadConfigPages.mock.ts
  packages/tools/docs-tools/src/mock/menu.mock.json
  packages/tools/docs-tools/src/remarkFrontmatterToProps.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/index.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/createEditLink.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/createNavigation.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/getCurrentPostFromJson.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/getFileName.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/getFileNameInPackage.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/getFrontMatter.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/__tests__/remarkFrontmatterToProps.test.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/createEditLink.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/createNavigation.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/getCurrentPostFromJson.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/getFileName.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/getFileNameInPackage.ts
  packages/tools/docs-tools/src/remarkFrontmatterToProps/utils/getFrontMatter.ts
  packages/tools/docs-tools/src/types.ts
  packages/tools/docs-tools/src/utils/getFileFromNameOfUrl.ts
  packages/tools/docs-tools/src/utils/loadConfigPages.ts
  packages/tools/docs-tools/vitest.config.ts
Labels: @kadena/docs-tools
