Repository kadena-community/kadena.js, pull requests merged in 2024-09, with the labels that each got.

#2498 feat(tools): send message on slack
  .changeset/real-brooms-cry.md
  packages/apps/tools/.env.example
  packages/apps/tools/next.config.js
  packages/apps/tools/package.json
  packages/apps/tools/src/app/api/faucet/route.route.ts
  packages/apps/tools/src/scripts/faucetCron/__tests__/index.test.ts
  packages/apps/tools/src/scripts/faucetCron/__tests__/messages.test.ts
  packages/apps/tools/src/scripts/faucetCron/constants.ts
  packages/apps/tools/src/scripts/faucetCron/index.ts
  packages/apps/tools/src/scripts/faucetCron/messages.ts
  packages/apps/tools/src/scripts/faucetCron/slackManifest.json
  packages/apps/tools/tsconfig.json
  packages/apps/tools/vercel.json
  packages/apps/tools/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/tools

#2502 chore(tools): update cron
  .changeset/little-ghosts-dress.md
  packages/apps/tools/vercel.json
Labels: @kadena/tools

#2373 feat(proof): connect to spirekey sdk
  packages/apps/proof-of-us/.eslintrc.cjs
  packages/apps/proof-of-us/.gitignore
  packages/apps/proof-of-us/package.json
  packages/apps/proof-of-us/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/proof-of-us/src/components/LoginBoundry/LoginBoundry.tsx
  packages/apps/proof-of-us/src/components/MintView/MintView.tsx
  packages/apps/proof-of-us/src/components/MintView/style.css.ts
  packages/apps/proof-of-us/src/components/ProofOfUsProvider/ProofOfUsProvider.tsx
  packages/apps/proof-of-us/src/components/Providers/Providers.tsx
  packages/apps/proof-of-us/src/components/ShareView/ShareView.tsx
  packages/apps/proof-of-us/src/features/CreateProofOfUs/CreateProofOfUs.tsx
  packages/apps/proof-of-us/src/features/ScanAttendanceEvent/ScanAttendanceEvent.tsx
  packages/apps/proof-of-us/src/hooks/data/signToken.ts
  packages/apps/proof-of-us/src/hooks/submit.ts
  packages/apps/proof-of-us/src/hooks/transaction.ts
  packages/apps/proof-of-us/src/types.d.ts
  packages/apps/proof-of-us/src/utils/__tests__/setSignatures.test.ts
  packages/apps/proof-of-us/src/utils/cleanAccountForStore.ts
  packages/apps/proof-of-us/src/utils/getSigneeAccount.ts
  packages/apps/proof-of-us/src/utils/proofOfUs.ts
  packages/apps/proof-of-us/src/utils/setSignatures.ts
  packages/apps/proof-of-us/src/utils/socket/store.ts
  packages/apps/tools/src/components/Global/Ace/styles.css.ts
  packages/e2e/e2e-base/package.json
  packages/e2e/e2e-base/src/fixtures/shared/page-obects.fixture.ts
  packages/e2e/e2e-base/src/fixtures/shared/persona.fixture.ts
  packages/e2e/e2e-base/src/helpers/spirekey/webauthn.helper.ts
  packages/e2e/e2e-base/src/page-objects/proof-of-us/proofOfusApp.index.ts
  packages/e2e/e2e-base/src/page-objects/spirekey/spirekeyInline.index.ts
  packages/e2e/e2e-docs/package.json
  packages/e2e/e2e-graph/package.json
  packages/e2e/e2e-proof-of-us/package.json
  packages/e2e/e2e-proof-of-us/tests/test-1.spec.ts
  packages/e2e/e2e-tools/package.json
  pnpm-lock.yaml
Labels: @kadena/proof-of-us, @kadena-dev/e2e-base, e2e-docs, e2e-graph, e2e-tools, e2e-proof-of-us

#2507 chore: update spirekey package
  .changeset/breezy-colts-talk.md
  packages/apps/proof-of-us/package.json
  pnpm-lock.yaml
Labels: @kadena/proof-of-us

#2506 feat(graph): expose other types of guard aside from KeysetGuard only
  .changeset/README.md
  .changeset/brave-owls-mix.md
  .changeset/config.json
  .prettierignore
  packages/apps/explorer/src/components/LoadingSkeleton/loadingData/loadingDataBlockquery.ts
  packages/apps/explorer/src/graphql/fragments/account.graph.ts
  packages/apps/explorer/src/graphql/queries/block.graph.ts
  packages/apps/explorer/src/pages/[networkSlug]/account/[accountName].tsx
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/builder.ts
  packages/apps/graph/src/graph/index.ts
  packages/apps/graph/src/graph/objects/block.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/guard.ts
  packages/apps/graph/src/graph/objects/keyset-guard.ts
  packages/apps/graph/src/graph/objects/non-fungible-token-balance.ts
  packages/apps/graph/src/graph/types/graphql-types.ts
  packages/apps/graph/src/index.ts
  packages/apps/graph/src/services/account-service.ts
  packages/apps/graph/src/services/chainweb-node/non-fungible-account-details.ts
  packages/apps/graph/src/services/token-service.ts
  packages/apps/graph/src/utils/write-schema.ts
Labels: @kadena/graph

#2514 chore(tools): also send ping for faucet messenger
  .changeset/wild-dryers-wink.md
  packages/apps/tools/src/scripts/faucetCron/__tests__/index.test.ts
  packages/apps/tools/src/scripts/faucetCron/__tests__/messages.test.ts
  packages/apps/tools/src/scripts/faucetCron/constants.ts
  packages/apps/tools/src/scripts/faucetCron/index.ts
  packages/apps/tools/src/scripts/faucetCron/messages.ts
  packages/apps/tools/vercel.json
Labels: @kadena/tools

#2512 feat(ui): add the stepper component
  .changeset/cuddly-bees-shake.md
  packages/libs/kode-ui/package.json
  packages/libs/kode-ui/src/components/Stepper/Step.tsx
  packages/libs/kode-ui/src/components/Stepper/Stepper.css.tsx
  packages/libs/kode-ui/src/components/Stepper/Stepper.stories.tsx
  packages/libs/kode-ui/src/components/Stepper/Stepper.tsx
  packages/libs/kode-ui/src/components/Stepper/index.ts
  packages/libs/kode-ui/src/components/index.ts
  packages/libs/kode-ui/src/index.ts
Labels: @kadena/kode-ui

#1905 chore(monorepo): remove `libs/kadena.js` package
  .syncpackrc.js
  package.json
  packages.json
  packages/apps/tools/src/hooks/use-module-query.ts
  packages/apps/tools/src/hooks/use-modules-query.ts
  packages/libs/client/src/signing/index.ts
  packages/libs/kadena.js/.eslintignore
  packages/libs/kadena.js/.eslintrc.js
  packages/libs/kadena.js/.gitignore
  packages/libs/kadena.js/.prettierignore
  packages/libs/kadena.js/CHANGELOG.md
  packages/libs/kadena.js/LICENSE
  packages/libs/kadena.js/README.md
  packages/libs/kadena.js/package.json
  packages/libs/kadena.js/src/api/attachSignature.ts
  packages/libs/kadena.js/src/api/createCommand.ts
  packages/libs/kadena.js/src/api/createContCommand.ts
  packages/libs/kadena.js/src/api/createExecCommand.ts
  packages/libs/kadena.js/src/api/prepareContCommand.ts
  packages/libs/kadena.js/src/api/prepareExecCommand.ts
  packages/libs/kadena.js/src/api/pullAndCheckHashs.ts
  packages/libs/kadena.js/src/api/pullSigner.ts
  packages/libs/kadena.js/src/api/tests/attachSignature.test.ts
  packages/libs/kadena.js/src/api/tests/createCommand.test.ts
  packages/libs/kadena.js/src/api/tests/createContCommand.test.ts
  packages/libs/kadena.js/src/api/tests/createExecCommmand.test.ts
  packages/libs/kadena.js/src/api/tests/mockdata/contCommand.ts
  packages/libs/kadena.js/src/api/tests/mockdata/execCommand.ts
  packages/libs/kadena.js/src/api/tests/prepareContCommand.test.ts
  packages/libs/kadena.js/src/api/tests/prepareExecCommand.test.ts
  packages/libs/kadena.js/src/api/tests/pullAndCheckHashs.test.ts
  packages/libs/kadena.js/src/api/tests/pullSigner.test.ts
  packages/libs/kadena.js/src/index.ts
  packages/libs/kadena.js/src/tests/index.test.ts
  packages/libs/kadena.js/src/wallet/createCap.ts
  packages/libs/kadena.js/src/wallet/tests/createCap.test.ts
  packages/libs/kadena.js/tsconfig.eslint.json
  packages/libs/kadena.js/tsconfig.json
  packages/libs/kadena.js/turbo.json
  packages/libs/kadena.js/vitest.config.ts
  packages/libs/kode-ui/src/components/Form/index.ts
  packages/libs/kode-ui/src/components/TableV1/index.ts
  packages/libs/pactjs/src/index.ts
  pnpm-lock.yaml
Labels: kadena.js

#2528 feat(snap): add metamask snap package, moved from other repository
  .changeset/shaggy-insects-grab.md
  .github/labeler.yml
  README.md
  packages.json
  packages/libs/snap/.eslintrc.js
  packages/libs/snap/.prettierignore
  packages/libs/snap/LICENSE
  packages/libs/snap/README.md
  packages/libs/snap/images/icon.svg
  packages/libs/snap/jest.config.js
  packages/libs/snap/package.json
  packages/libs/snap/snap.config.ts
  packages/libs/snap/snap.manifest.json
  packages/libs/snap/src/home.ts
  packages/libs/snap/src/index.ts
  packages/libs/snap/src/services/addAccount.ts
  packages/libs/snap/src/services/deleteAccount.ts
  packages/libs/snap/src/services/deleteNetwork.ts
  packages/libs/snap/src/services/getAccounts.ts
  packages/libs/snap/src/services/getActiveNetwork.ts
  packages/libs/snap/src/services/getNetworks.ts
  packages/libs/snap/src/services/index.ts
  packages/libs/snap/src/services/setAccountName.ts
  packages/libs/snap/src/services/setActiveNetwork.ts
  packages/libs/snap/src/services/signTransaction.ts
  packages/libs/snap/src/services/storeAccount.ts
  packages/libs/snap/src/services/storeNetwork.ts
  packages/libs/snap/src/test/addAccount.test.ts
  packages/libs/snap/src/test/deleteAccount.test.ts
  packages/libs/snap/src/test/deleteNetwork.test.ts
  packages/libs/snap/src/test/getAccounts.test.ts
  packages/libs/snap/src/test/getActiveNetwork.test.ts
  packages/libs/snap/src/test/getNetworks.test.ts
  packages/libs/snap/src/test/helpers/test-data.ts
  packages/libs/snap/src/test/helpers/test-utils.ts
  packages/libs/snap/src/test/index.test.ts
  packages/libs/snap/src/test/setAccountName.test.ts
  packages/libs/snap/src/test/setActiveNetwork.test.ts
  packages/libs/snap/src/test/signTransaction.test.ts
  packages/libs/snap/src/test/storeNetwork.test.ts
  packages/libs/snap/src/types/index.ts
  packages/libs/snap/src/types/snap.ts
  packages/libs/snap/src/types/snapApi.ts
  packages/libs/snap/src/types/snapState.ts
  packages/libs/snap/src/utils/constants.ts
  packages/libs/snap/src/utils/createDefaultNetworks.ts
  packages/libs/snap/src/utils/kadenaUtils.ts
  packages/libs/snap/src/utils/parseCapabilities.ts
  packages/libs/snap/src/utils/renderNetwork.ts
  packages/libs/snap/src/utils/renderSignatureRequest.ts
  packages/libs/snap/src/utils/validate.ts
  packages/libs/snap/tsconfig.json
  pnpm-lock.yaml
Labels: Github Config & Actions

#2537 feat(client-utils): deploy faucet
  .changeset/violet-pigs-wonder.md
  packages/apps/docs/src/docs/build/pact/concepts.md
  packages/apps/docs/src/docs/reference/pact/syntax.md
  packages/libs/client-utils/etc/client-utils-built-in.api.md
  packages/libs/client-utils/etc/client-utils-coin.api.md
  packages/libs/client-utils/etc/client-utils-core.api.md
  packages/libs/client-utils/package.json
  packages/libs/client-utils/src/built-in/create-principal-namespace.ts
  packages/libs/client-utils/src/core/submit-and-listen.ts
  packages/libs/client-utils/src/core/test/submit-client.test.ts
  packages/libs/client-utils/src/core/utils/helpers.ts
  packages/libs/client-utils/src/faucet/fund-existing-account-on-testnet.ts
  packages/libs/client-utils/src/faucet/fund-new-account-on-testnet.ts
  packages/libs/client-utils/src/scripts/deploy-faucet/deploy-faucet.ts
  packages/libs/client-utils/src/scripts/deploy-faucet/deploy-helpers/.example.env
  packages/libs/client-utils/src/scripts/deploy-faucet/deploy-helpers/constants.ts
  packages/libs/client-utils/src/scripts/deploy-faucet/deploy-helpers/env.ts
  packages/libs/client-utils/src/scripts/deploy-faucet/deploy-helpers/tx-helpers.ts
  packages/libs/client-utils/src/scripts/deploy-faucet/testnet-faucet.pact
  packages/libs/pactjs/etc/pactjs.api.md
  packages/libs/pactjs/src/PactNumber.ts
  pnpm-lock.yaml
Labels: @kadena/client-utils

#2550 chore(kadena-snap): remove metamask patch, fixed in upstream
  package.json
  packages/libs/snap/package.json
  packages/libs/snap/snap.manifest.json
  patches/@metamask__snaps-utils@8.1.1.patch
  pnpm-lock.yaml
Labels: @kadena/snap

#2553 fix(syncpack): add dev to internal pinned workspace dependencies
  .syncpackrc.js
  packages/libs/snap/package.json
  pnpm-lock.yaml
Labels: @kadena/snap
