Repository kadena-community/kadena.js, pull requests merged in 2024-08, with the labels that each got.

#2453 Add Card Pattern components
  packages/libs/kode-ui/.gitignore
  packages/libs/kode-ui/package.json
  packages/libs/kode-ui/src/components/Card/Card.tsx
  packages/libs/kode-ui/src/entries/patterns.ts
  packages/libs/kode-ui/src/patterns/Card/CardContentBlock.tsx
  packages/libs/kode-ui/src/patterns/Card/CardFixedContainer.tsx
  packages/libs/kode-ui/src/patterns/Card/CardFooterGroup.tsx
  packages/libs/kode-ui/src/patterns/Card/CardPattern.css.ts
  packages/libs/kode-ui/src/patterns/Card/CardPattern.stories.tsx
  packages/libs/kode-ui/src/patterns/Card/index.ts
  packages/libs/kode-ui/src/patterns/index.ts
  packages/libs/kode-ui/src/storyDecorators/index.ts
  packages/libs/kode-ui/src/storyDecorators/withLayerStory.tsx
  packages/libs/kode-ui/turbo.json
Labels: @kadena/kode-ui

#2465 feat(explorer): accountpage
  .changeset/fifty-deers-train.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/AccountBalanceDistribution/AccountBalanceDistribution.tsx
  packages/apps/explorer/src/components/AccountBalanceDistribution/components/ChainBalance.tsx
  packages/apps/explorer/src/components/AccountBalanceDistribution/components/ChainList.tsx
  packages/apps/explorer/src/components/AccountBalanceDistribution/components/style.css.ts
  packages/apps/explorer/src/components/AccountCard/AccountCard.tsx
  packages/apps/explorer/src/components/AccountCard/style.css.ts
  packages/apps/explorer/src/components/DataRenderComponent/DataRenderComponentHorizontal/DataRenderComponentHorizontal.tsx
  packages/apps/explorer/src/components/Layout/Layout.tsx
  packages/apps/explorer/src/components/Layout/components/LayoutAside.tsx
  packages/apps/explorer/src/components/Layout/components/styles.css.ts
  packages/apps/explorer/src/components/LoadingSkeleton/loadingData/loadingDataAccountquery.ts
  packages/apps/explorer/src/constants/constants.ts
  packages/apps/explorer/src/context/searchContext/index.tsx
  packages/apps/explorer/src/pages/[networkSlug]/account/[accountName].tsx
  packages/apps/explorer/src/pages/[networkSlug]/block/[hash].tsx
  packages/apps/explorer/src/pages/[networkSlug]/event/[eventname].tsx
  packages/apps/explorer/src/pages/[networkSlug]/height/[height].tsx
  packages/apps/explorer/src/pages/[networkSlug]/transaction/[requestKey].tsx
  packages/apps/explorer/src/utils/__test__/processChainAccounts.test.ts
  packages/apps/explorer/src/utils/processChainAccounts.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2472 ag/graph performance transaction pactid
  .changeset/cyan-horses-lick.md
  packages/apps/explorer/next.config.js
  packages/apps/graph/.env.example
  packages/apps/graph/prisma/schema.prisma
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/transfer.ts
  packages/apps/graph/src/utils/bigintSortFn.ts
  packages/tools/eslint-config/turbo.json
  packages/tools/eslint-plugin/turbo.json
  packages/tools/markdown/turbo.json
  pnpm-lock.yaml
Labels: @kadena/graph, @kadena-dev/eslint-config, @kadena-dev/eslint-plugin, @kadena-dev/markdown, @kadena/explorer

#2482 Marketplace: add notification on mobile views
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/components/Layout/index.tsx
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2477 feat(explorer): add filter functionality for events
  .changeset/odd-maps-divide.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/EventFilter/EventFilter.tsx
  packages/apps/explorer/src/components/EventFilter/utils/__tests__/validation.test.ts
  packages/apps/explorer/src/components/EventFilter/utils/validation.ts
  packages/apps/explorer/src/components/LoadingSkeleton/loadingData/__test__/loadingDataEventquery.test.ts
  packages/apps/explorer/src/components/LoadingSkeleton/loadingData/loadingDataEventquery.ts
  packages/apps/explorer/src/components/Search/SearchComponent/SearchComponent.tsx
  packages/apps/explorer/src/graphql/queries/events.graph.ts
  packages/apps/explorer/src/hooks/events/eventData.tsx
  packages/apps/explorer/src/hooks/events/index.tsx
  packages/apps/explorer/src/hooks/events/utils/__tests__/createArrayOfChains.test.ts
  packages/apps/explorer/src/hooks/events/utils/__tests__/getChainsViewData.test.ts
  packages/apps/explorer/src/hooks/events/utils/__tests__/getLoadingData.test.ts
  packages/apps/explorer/src/hooks/events/utils/createArrayOfChains.ts
  packages/apps/explorer/src/hooks/events/utils/getChainsViewData.ts
  packages/apps/explorer/src/hooks/events/utils/getLoadingData.ts
  packages/apps/explorer/src/hooks/eventsPerChainQuery.ts
  packages/apps/explorer/src/pages/[networkSlug]/account/[accountName].tsx
  packages/apps/explorer/src/pages/[networkSlug]/block/[hash].tsx
  packages/apps/explorer/src/pages/[networkSlug]/event/[eventname].tsx
  packages/apps/explorer/src/pages/[networkSlug]/transaction/[requestKey].tsx
Labels: @kadena/explorer

#2234 chore: docs for marmalade client utils
  packages/libs/client-utils/src/marmalade/README.md
Labels: no-pr-activity

#2488 chore(graph): set version without version indicator
  .changeset/happy-starfishes-hear.md
  packages/apps/docs/public/assets/docs/1-pact-language-reference.png
  packages/apps/docs/public/assets/docs/2-pact-language-syntax.png
  packages/apps/docs/public/assets/docs/3-built-in-functions.png
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/codegen.yml
  pnpm-lock.yaml
Labels: @kadena/graph, @kadena/marmalade-marketplace

#2496 chore(monorepo): use cache for all github actions that run turbo build. Use `--no-cache` for docs
  .github/actions/build-app-e2e/action.yaml
  .github/actions/end-to-end-tests/action.yaml
  .github/workflows/chainweb-node-changelogs.yml
  .github/workflows/ci.yml
  .github/workflows/docs-ingestion.yml
  .github/workflows/release.yml
  packages/apps/docs/src/scripts/utils/build.ts
  packages/apps/docs/vitest.config.ts
Labels: @kadena/docs
