Repository kadena-community/kadena.js, pull requests merged in 2024-07, with the labels that each got.

#2337 feat(explorer): add header
  .changeset/polite-owls-collect.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/footer/footer-column.tsx
  packages/apps/explorer/src/components/footer/footer.tsx
  packages/apps/explorer/src/components/globalstyles.css.ts
  packages/apps/explorer/src/components/graphql-query-dialog/graphql-query-dialog.tsx
  packages/apps/explorer/src/components/header/header.tsx
  packages/apps/explorer/src/components/header/styles.css.ts
  packages/apps/explorer/src/components/layout/layout.tsx
  packages/apps/explorer/src/components/layout/search-layout/search-layout.tsx
  packages/apps/explorer/src/components/layout/styles.css.ts
  packages/apps/explorer/src/components/logo/mobile-logo.tsx
  packages/apps/explorer/src/components/navbar/navbar.tsx
  packages/apps/explorer/src/components/navbar/styles.css.ts
  packages/apps/explorer/src/components/search/search-component/search-component.css.ts
  packages/apps/explorer/src/components/search/search-component/search-component.tsx
  packages/apps/explorer/src/components/search/searchbar-header/searchbar-header.tsx
  packages/apps/explorer/src/components/sidemenu/sidemenu.tsx
  packages/apps/explorer/src/components/sidemenu/styles.css.ts
  packages/apps/explorer/src/components/statistics-component/statistics-component.tsx
  packages/apps/explorer/src/components/statistics-component/statistics-grid/statistics-grid.tsx
  packages/apps/explorer/src/components/statistics-component/statistics-stack/statistics-stack.css.ts
  packages/apps/explorer/src/components/statistics-component/statistics-stack/statistics-stack.tsx
  packages/apps/explorer/src/components/theme-toggle/styles.css.ts
  packages/apps/explorer/src/components/theme-toggle/theme-toggle.tsx
  packages/apps/explorer/src/hooks/search/index.ts
  packages/apps/explorer/src/pages/_app.tsx
  packages/apps/explorer/src/pages/account/[accountName].tsx
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/explorer/src/pages/index.tsx
  packages/apps/explorer/src/pages/transaction/[requestKey].tsx
  packages/apps/explorer/src/types.d.ts
  packages/apps/explorer/src/utils/debounce.ts
  packages/apps/explorer/src/utils/menuConfig.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2332 ag/add graphql info
  .changeset/fresh-dodos-prove.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/globalstyles.css.ts
  packages/apps/explorer/src/components/graphql-query-dialog/graphql-query-dialog.tsx
  packages/apps/explorer/src/components/search/search-component/search-component.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-result-component.tsx
  packages/apps/explorer/src/pages/block/[hash].tsx
  packages/apps/explorer/src/pages/transaction/[requestKey].tsx
  packages/apps/explorer/src/services/format.test.ts
  packages/apps/explorer/src/services/format.ts
  packages/apps/explorer/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2340 Aditional documentation
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/devnet/deployment/marmalade/config/namespaces.ts
  packages/apps/graph/src/devnet/deployment/marmalade/namespace.ts
  packages/apps/graph/src/graph/query/completed-block-heights.ts
  packages/apps/graph/src/graph/query/events.ts
Labels: @kadena/graph

#2342 docs(hd-wallet): add getting started to the README.md
  .changeset/sixty-vans-bake.md
  packages/libs/hd-wallet/.prettierignore
  packages/libs/hd-wallet/README.md
Labels: @kadena/hd-wallet

#2364 chore(explorer): add homepage design picture
  .changeset/violet-impalas-develop.md
  packages/apps/explorer/README.md
  packages/apps/explorer/kadena-block-explorer.png
Labels: @kadena/explorer

#1187 chore(client-utils): add codesandbox
  .changeset/metal-ducks-sell.md
  packages/libs/client-utils/README.md
  packages/libs/client-utils/codesandbox/.codesandbox/workspace.json
  packages/libs/client-utils/codesandbox/.gitignore
  packages/libs/client-utils/codesandbox/package.json
  packages/libs/client-utils/codesandbox/src/index.html
  packages/libs/client-utils/codesandbox/src/index.ts
  packages/libs/client-utils/codesandbox/src/styles.css
Labels: @kadena/client-utils

#2357 BREAKING: new pnpm version. eslint-config: add @typescript-eslint for proper linting
  .changeset/cyan-lemons-think.md
  .github/actions/runner-setup/action.yaml
  .github/workflows/docs-ingestion.yml
  .pnpmfile.cjs
  package.json
  packages/apps/dev-wallet/.eslintrc.cjs
  packages/apps/dev-wallet/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/tools/package.json
  packages/tools/create-kadena-app/templates/nextjs/package.json
  packages/tools/eslint-config/package.json
  packages/tools/eslint-config/profile/lib.js
  packages/tools/kadena-cli/.eslintrc.cjs
  pnpm-lock.yaml
Labels: @kadena/kadena-cli, @kadena/dev-wallet, @kadena/proof-of-us, @kadena/tools, @kadena-dev/eslint-config

#2374 chore(sentry): add sentry to @kadena/explorer
  .changeset/heavy-waves-kneel.md
  packages/apps/explorer/README.md
  packages/apps/explorer/next.config.js
  packages/apps/explorer/package.json
  packages/apps/explorer/src/instrumentation.ts
  packages/apps/explorer/src/pages/_error.tsx
  packages/apps/explorer/src/utils/sentry.client.config.ts
  packages/apps/explorer/src/utils/sentry.edge.config.ts
  packages/apps/explorer/src/utils/sentry.server.config.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2380 chore: update turbo to latest
  .github/actions/end-to-end-tests/action.yaml
  package.json
  packages/apps/docs/turbo.json
  packages/apps/explorer/package.json
  packages/apps/explorer/turbo.json
  packages/apps/graph-client/turbo.json
  packages/apps/marmalade-marketplace/turbo.json
  packages/apps/proof-of-us/turbo.json
  packages/apps/tools/turbo.json
  packages/libs/client-utils/turbo.json
  packages/libs/client/turbo.json
  packages/libs/hd-wallet/turbo.json
  packages/libs/kode-icons/turbo.json
  packages/libs/kode-ui/turbo.json
  packages/tools/eslint-config/turbo.json
  packages/tools/eslint-plugin/turbo.json
  packages/tools/kadena-cli/src/utils/createOption.ts
  packages/tools/kadena-cli/turbo.json
  packages/tools/markdown/turbo.json
  pnpm-lock.yaml
  turbo.json
Labels: @kadena/client, @kadena/kadena-cli, @kadena/client-utils, @kadena/graph-client, @kadena/proof-of-us, @kadena/docs, @kadena/tools, @kadena/hd-wallet, @kadena-dev/eslint-config, @kadena-dev/eslint-plugin, @kadena-dev/markdown, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/kode-ui, @kadena/kode-icons

#2382 fix(kadena-cli): remove usage of swc register
  packages/tools/kadena-cli/.gitignore
  packages/tools/kadena-cli/.swcrc
  packages/tools/kadena-cli/package.json
  pnpm-lock.yaml
Labels: @kadena/kadena-cli

#2381 Feat/dev wallet transfer
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/modules/transaction/transaction.repository.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/pages/account-discovery/account-dsicovery.tsx
  packages/apps/dev-wallet/src/pages/home/home-page.tsx
  packages/apps/dev-wallet/src/pages/import-wallet/import-wallet.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/SubmittedStatus.tsx
  packages/apps/dev-wallet/src/pages/transfer/components/DiscoverdAccounts.tsx
  packages/apps/dev-wallet/src/pages/transfer/components/style.css.ts
  packages/apps/dev-wallet/src/pages/transfer/transfer.tsx
  packages/libs/kode-ui/src/components/Form/Combobox/Combobox.tsx
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2390 chore(explorer): store network in cookie
  .changeset/early-cameras-try.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/context/networks-context.tsx
  packages/apps/explorer/src/pages/index.tsx
  pnpm-lock.yaml
Labels: @kadena/explorer

#2396 Create sale and Adding theming support
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/__tests__/pages/home.test.tsx
  packages/apps/marmalade-marketplace/src/components/CrudCard/index.tsx
  packages/apps/marmalade-marketplace/src/components/CrudCard/style.css.ts
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/style.css.ts
  packages/apps/marmalade-marketplace/src/pages/index.tsx
  packages/apps/marmalade-marketplace/src/pages/mytokens/index.tsx
  packages/apps/marmalade-marketplace/src/pages/sale/create.tsx
  packages/apps/marmalade-marketplace/src/pages/tokens/index.tsx
  packages/apps/marmalade-marketplace/src/providers/Providers.tsx
  packages/apps/marmalade-marketplace/src/styles/create-sale.css.ts
  packages/apps/marmalade-marketplace/src/styles/global.css.ts
  packages/apps/marmalade-marketplace/src/styles/layout.css.ts
  packages/apps/marmalade-marketplace/src/styles/tokens.css.ts
  packages/apps/marmalade-marketplace/src/utils/createSale.ts
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2398 fix(graph): sort bigints
  packages/apps/explorer/src/components/loading-skeleton/loading-data/loading-data-accountquery.ts
  packages/apps/explorer/src/context/networks-context.tsx
  packages/apps/explorer/src/graphql/queries/account.graph.ts
  packages/apps/explorer/src/pages/[networkId]/account/[accountName].tsx
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
Labels: @kadena/graph

#2376 chore(graph): add sentry to @kadena/graph
  packages/apps/graph/.env.example
  packages/apps/graph/package.json
  packages/apps/graph/src/graph/builder.ts
  packages/apps/graph/src/index.ts
  packages/apps/graph/src/utils/dotenv.ts
  pnpm-lock.yaml
Labels: @kadena/graph

#2399 Feat/dev wallet transfer
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet-desktop/src-tauri/Cargo.toml
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/backup-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/backup-recovery-phrase/write-down/write-down-recovery-phrase.tsx
  packages/apps/dev-wallet/src/pages/create-account/create-account.tsx
  packages/apps/dev-wallet/src/pages/transaction/Transaction.tsx
Labels: @kadena/dev-wallet-desktop

#2362 FEAT: Enable blob reporter and merging reports
  .github/actions/merge-publish-reports/action.yaml
  .github/workflows/ci.yml
  .github/workflows/report-cleanup.yaml
  .gitignore
  packages/e2e/e2e-base/playwright.config.ts
  packages/e2e/e2e-docs/playwright.config.ts
  packages/e2e/e2e-graph/playwright.config.ts
  packages/e2e/e2e-proof-of-us/playwright.config.ts
  packages/e2e/e2e-tools/playwright.config.ts
Labels: @kadena-dev/e2e-base, e2e-docs, e2e-graph, e2e-tools, e2e-proof-of-us

#2400 Chore/codeowners
  .github/CODEOWNERS
  .github/dependabot.yml
  .vercel/shouldDeploy.sh
Labels: Github Config & Actions

#2404 chore: fix storybook
  packages/libs/kode-ui/package.json
  pnpm-lock.yaml
Labels: @kadena/kode-ui

#2405 Fix/release
  packages/apps/docs/package.json
  pnpm-lock.yaml
Labels: @kadena/docs

#2403 feat(explorer): block info in table block detail. Stop calling networkInfo when error
  .changeset/heavy-maps-own.md
  packages/apps/explorer/next.config.js
  packages/apps/explorer/src/components/account.transactions-table/account.transactions-table.tsx
  packages/apps/explorer/src/components/block-activity-graph/block-activity-graph.tsx
  packages/apps/explorer/src/components/block-table/block-cell/block-cell.tsx
  packages/apps/explorer/src/components/block-table/block-header/block-header.css.ts
  packages/apps/explorer/src/components/block-table/block-header/block-header.tsx
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/block-table/block-row/height-info/height-info.tsx
  packages/apps/explorer/src/components/block-table/block-table.tsx
  packages/apps/explorer/src/components/block-transactions/block-transactions.graph.ts
  packages/apps/explorer/src/components/block-transactions/block-transactions.tsx
  packages/apps/explorer/src/components/block-transactions/loading-data-blocktransactionsquery.ts
  packages/apps/explorer/src/components/compact-table/utils/format-link.tsx
  packages/apps/explorer/src/components/header/header.tsx
  packages/apps/explorer/src/components/search/search-component/search-component.tsx
  packages/apps/explorer/src/components/search/search-results/search-results.tsx
  packages/apps/explorer/src/components/statistics-component/statistics-grid/statistics-grid.tsx
  packages/apps/explorer/src/components/statistics-component/statistics-stack/statistics-stack.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-request-component.tsx
  packages/apps/explorer/src/constants/constants.ts
  packages/apps/explorer/src/context/createInMemoryCache.ts
  packages/apps/explorer/src/context/networks-context.tsx
  packages/apps/explorer/src/graphql/queries/block.graph.ts
  packages/apps/explorer/src/hooks/search/index.ts
  packages/apps/explorer/src/pages/[networkId]/block/[hash].tsx
  packages/apps/explorer/src/pages/[networkId]/index.tsx
  packages/apps/explorer/src/utils/formatJson.ts
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/query/network-info.ts
  packages/apps/graph/src/utils/memoize.ts
Labels: @kadena/explorer

#2408 ag/graph/fix bug retrieving transfers
  .changeset/unlucky-llamas-ring.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/query/transactions.ts
Labels: @kadena/graph

#2411 chore(explorer): replace networkid with slug for routing
  .changeset/cold-geckos-hang.md
  packages/apps/docs/src/docs/build/pact/beginner/language-basics.md
  packages/apps/docs/src/docs/tutorials/language-basics.md
  packages/apps/explorer/next.config.js
  packages/apps/explorer/src/components/block-table/block-row/block-row.tsx
  packages/apps/explorer/src/components/routing/useRouter.tsx
  packages/apps/explorer/src/components/routing/utils.ts
  packages/apps/explorer/src/components/select-network/new-network.tsx
  packages/apps/explorer/src/components/select-network/select-network.tsx
  packages/apps/explorer/src/components/select-network/utils.ts
  packages/apps/explorer/src/constants/network.ts
  packages/apps/explorer/src/context/networks-context.tsx
  packages/apps/explorer/src/hooks/search/index.ts
  packages/apps/explorer/src/pages/[networkSlug]/account/[accountName].tsx
  packages/apps/explorer/src/pages/[networkSlug]/block/[hash].tsx
  packages/apps/explorer/src/pages/[networkSlug]/index.tsx
  packages/apps/explorer/src/pages/[networkSlug]/transaction/[requestKey].tsx
  packages/apps/explorer/src/pages/index.tsx
Labels: @kadena/explorer

#2419 Storybook brand updates
  .changeset/quiet-tigers-cry.md
  packages/apps/docs/src/scripts/importChangelogs/utils/__tests__/content.test.ts
  packages/libs/kode-ui/.storybook/global.css.ts
  packages/libs/kode-ui/.storybook/preview.tsx
  packages/libs/kode-ui/.storybook/theme.ts
  packages/libs/kode-ui/README.md
  packages/libs/kode-ui/src/styles/README.md
  packages/libs/kode-ui/src/styles/global.css.ts
  packages/libs/kode-ui/tsconfig.json
Labels: @kadena/kode-ui

#2426 chore: remove codeowners
  .changeset/tidy-kings-brush.md
  .github/CODEOWNERS
Labels: Github Config & Actions

#2415 Feat/spirekey sdk market place
  .syncpackrc.js
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/.gitignore
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/components/CreateToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/components/MintToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/ConventionalAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/DutchAuction.tsx
  packages/apps/marmalade-marketplace/src/components/SendTransaction/index.tsx
  packages/apps/marmalade-marketplace/src/components/Token/index.tsx
  packages/apps/marmalade-marketplace/src/pages/api/cron.ts
  packages/apps/marmalade-marketplace/src/pages/sale/[chainId]/[saleId].tsx
  packages/apps/marmalade-marketplace/src/pages/sale/create.tsx
  packages/apps/marmalade-marketplace/src/providers/AccountProvider/AccountProvider.tsx
  packages/apps/marmalade-marketplace/src/utils/createSale.ts
  packages/apps/marmalade-marketplace/src/utils/env.ts
  packages/apps/marmalade-marketplace/src/utils/signWithSpireKey.ts
  packages/apps/marmalade-marketplace/src/utils/types.d.ts
  packages/apps/marmalade-marketplace/tsconfig.cron.json
  packages/apps/marmalade-marketplace/tsconfig.json
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2431 chore(explorer): add analytics
  .changeset/chilly-radios-trade.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/Analytics/Analytics.tsx
  packages/apps/explorer/src/components/CookieConsent/CookieConsent.tsx
  packages/apps/explorer/src/components/CookieConsent/styles.css.ts
  packages/apps/explorer/src/components/Layout/Layout.tsx
  packages/apps/explorer/src/components/Search/SearchComponent/SearchComponent.tsx
  packages/apps/explorer/src/components/SelectNetwork/ConfigNetwork.tsx
  packages/apps/explorer/src/context/networksContext.tsx
  packages/apps/explorer/src/hooks/search/index.ts
  packages/apps/explorer/src/pages/_app.tsx
  packages/apps/explorer/src/utils/analytics.ts
  packages/apps/explorer/tsconfig.json
  pnpm-lock.yaml
Labels: @kadena/explorer

#2441 chore(explorer): add unit tests
  .changeset/quick-years-know.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/__mocks__/network.mock.ts
  packages/apps/explorer/src/components/AccountTransactionsTable/__test__/loadingData.test.ts
  packages/apps/explorer/src/components/AccountTransfersTable/__test__/loadingData.test.ts
  packages/apps/explorer/src/components/BlockTable/__test__/loadingData.test.ts
  packages/apps/explorer/src/components/BlockTransactions/__test__/loadingData.test.ts
  packages/apps/explorer/src/components/Footer/Footer.tsx
  packages/apps/explorer/src/components/Layout/__test__/media.test.ts
  packages/apps/explorer/src/components/LoadingSkeleton/loadingData/__test__/loadingData.test.ts
  packages/apps/explorer/src/components/LoadingSkeleton/loadingData/loadingDataAccountquery.ts
  packages/apps/explorer/src/components/Routing/__test__/utils.test.ts
  packages/apps/explorer/src/components/Search/__test__/loadingData.test.ts
  packages/apps/explorer/src/config/menuConfig.ts
  packages/apps/explorer/src/config/sentry.client.config.ts
  packages/apps/explorer/src/config/sentry.edge.config.ts
  packages/apps/explorer/src/config/sentry.server.config.ts
  packages/apps/explorer/src/instrumentation.ts
  packages/apps/explorer/src/services/__test__/format.test.ts
  packages/apps/explorer/src/utils/__test__/analytics.test.ts
  packages/apps/explorer/src/utils/__test__/checkNetwork.test.ts
  packages/apps/explorer/src/utils/__test__/defaultNamingOfNetwork.test.ts
  packages/apps/explorer/src/utils/__test__/formatJson.test.ts
  packages/apps/explorer/src/utils/__test__/getDefaultNetworks.test.ts
  packages/apps/explorer/src/utils/__test__/graphqlIdFor.test.ts
  packages/apps/explorer/src/utils/__test__/ifNill.test.ts
  packages/apps/explorer/src/utils/__test__/isDefaultNetwork.test.ts
  packages/apps/explorer/src/utils/debounce.ts
  packages/apps/explorer/src/utils/defaultNamingOfNetwork.ts
  packages/apps/explorer/src/utils/getDefaultNetworks.ts
  packages/apps/explorer/src/utils/graphqlIdFor.ts
  packages/apps/explorer/tsconfig.json
  packages/apps/explorer/vitest-globals.ts
  packages/apps/explorer/vitest.config.ts
  packages/apps/explorer/vitest.setup.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2437 Mint token improvements
  packages/apps/marmalade-marketplace/README.md
  packages/apps/marmalade-marketplace/src/components/MintToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/MintToken/style.css.ts
Labels: @kadena/marmalade-marketplace

#2442 chore(explorer): add tests for hooks
  .changeset/brave-seahorses-wink.md
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/Search/SearchComponent/SearchComponent.tsx
  packages/apps/explorer/src/components/Search/SearchResults/SearchResults.tsx
  packages/apps/explorer/src/components/Search/SearchbarHeader/SearchbarHeader.tsx
  packages/apps/explorer/src/components/SelectNetwork/__test__/utils.test.ts
  packages/apps/explorer/src/hooks/search/__test__/index.test.ts
  packages/apps/explorer/src/hooks/search/index.ts
  packages/apps/explorer/src/hooks/search/utils/__test__/account.test.ts
  packages/apps/explorer/src/hooks/search/utils/__test__/blockHash.test.ts
  packages/apps/explorer/src/hooks/search/utils/__test__/blockHeight.test.ts
  packages/apps/explorer/src/hooks/search/utils/__test__/event.test.ts
  packages/apps/explorer/src/hooks/search/utils/__test__/requestKey.test.ts
  packages/apps/explorer/src/hooks/search/utils/account.ts
  packages/apps/explorer/src/pages/[networkSlug]/index.tsx
  packages/apps/explorer/src/services/__test__/block.test.ts
  packages/apps/explorer/src/utils/__test__/formatJson.test.ts
  packages/apps/explorer/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2448 Update with r:account, add listing page
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/public/listingHeader.png
  packages/apps/marmalade-marketplace/src/__tests__/pages/home.test.tsx
  packages/apps/marmalade-marketplace/src/components/Badge/index.tsx
  packages/apps/marmalade-marketplace/src/components/Badge/style.css.ts
  packages/apps/marmalade-marketplace/src/components/CreateToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/GenerateURIForm/style.css.ts
  packages/apps/marmalade-marketplace/src/components/GuardForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/components/MintToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/MintToken/style.css.ts
  packages/apps/marmalade-marketplace/src/components/RoyaltyForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/ConventionalAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/DutchAuction.tsx
  packages/apps/marmalade-marketplace/src/components/Sale/RegularSale.tsx
  packages/apps/marmalade-marketplace/src/components/SendTransaction/index.tsx
  packages/apps/marmalade-marketplace/src/components/Token/index.tsx
  packages/apps/marmalade-marketplace/src/components/Token/style.css.ts
  packages/apps/marmalade-marketplace/src/components/TransactionPreview/index.tsx
  packages/apps/marmalade-marketplace/src/pages/index.tsx
  packages/apps/marmalade-marketplace/src/pages/mytokens/index.tsx
  packages/apps/marmalade-marketplace/src/pages/tokens/[tokenId]/index.tsx
  packages/apps/marmalade-marketplace/src/pages/transaction/index.tsx
  packages/apps/marmalade-marketplace/src/providers/AccountProvider/AccountProvider.tsx
  packages/apps/marmalade-marketplace/src/styles/create-token.css.ts
  packages/apps/marmalade-marketplace/src/styles/global.css.ts
  packages/apps/marmalade-marketplace/src/styles/sale.css.ts
  packages/apps/marmalade-marketplace/src/styles/token-details.css.ts
  packages/apps/marmalade-marketplace/src/styles/token.css.ts
  packages/apps/marmalade-marketplace/src/styles/tokens.css.ts
  packages/apps/marmalade-marketplace/src/utils/helper.ts
  packages/libs/client-utils/src/integration-tests/marmalade-collection-policy.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-conventional-auction.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-dutch-auction.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-gas-station.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-sale.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade.int.test.ts
  packages/libs/client-utils/src/marmalade/burn-token.ts
  packages/libs/client-utils/src/marmalade/buy-token.ts
  packages/libs/client-utils/src/marmalade/config.ts
  packages/libs/client-utils/src/marmalade/create-auction.ts
  packages/libs/client-utils/src/marmalade/create-collection-id.ts
  packages/libs/client-utils/src/marmalade/create-collection.ts
  packages/libs/client-utils/src/marmalade/create-token-id.ts
  packages/libs/client-utils/src/marmalade/create-token.ts
  packages/libs/client-utils/src/marmalade/helpers.ts
  packages/libs/client-utils/src/marmalade/mint-token.ts
  packages/libs/client-utils/src/marmalade/offer-token.ts
  packages/libs/client-utils/src/marmalade/place-bid.ts
  packages/libs/client-utils/src/marmalade/transfer-create-token.ts
  packages/libs/client-utils/src/marmalade/transfer-token.ts
  packages/libs/client-utils/src/marmalade/update-auction.ts
  packages/libs/client-utils/src/marmalade/update-uri.ts
  packages/libs/client-utils/src/marmalade/withdraw-token.ts
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace
