Repository kadena-community/kadena.js, pull requests merged in 2024-06, with the labels that each got.

#2136 chore(chainweb-node-client): use cross fetch only if native fetch is not available
  .changeset/metal-fishes-pump.md
  packages/libs/chainweb-node-client/src/listen.ts
  packages/libs/chainweb-node-client/src/local.ts
  packages/libs/chainweb-node-client/src/parseResponse.ts
  packages/libs/chainweb-node-client/src/parseResponseTEXT.ts
  packages/libs/chainweb-node-client/src/poll.ts
  packages/libs/chainweb-node-client/src/send.ts
  packages/libs/chainweb-node-client/src/spv.ts
  packages/libs/chainweb-node-client/src/tests/parseResponse.test.ts
  packages/libs/chainweb-node-client/src/tests/parseResponseTEXT.test.ts
  packages/libs/chainweb-node-client/src/utils/fetch.ts
  packages/libs/chainweb-node-client/vitest.config.ts
Labels: @kadena/chainweb-node-client

#2153 chore(monorepo): add testing to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github Config & Actions

#1969 Test/proof of us
  .github/labeler.yml
  packages.json
  packages/e2e/e2e-base/src/fixtures/shared/persona.fixture.ts
  packages/e2e/e2e-base/src/fixtures/shared/test.fixture.ts
  packages/e2e/e2e-base/src/helpers/spirekey/webauthn.helper.ts
  packages/e2e/e2e-base/src/page-objects/proof-of-us/proofOfusApp.index.ts
  packages/e2e/e2e-base/src/page-objects/spirekey/spirekeyApp.index.ts
  packages/e2e/e2e-proof-of-us/.eslintignore
  packages/e2e/e2e-proof-of-us/.eslintrc.js
  packages/e2e/e2e-proof-of-us/.prettierignore
  packages/e2e/e2e-proof-of-us/package.json
  packages/e2e/e2e-proof-of-us/playwright.config.ts
  packages/e2e/e2e-proof-of-us/tests/test-1.spec.ts
  packages/e2e/e2e-proof-of-us/tsconfig.json
  packages/e2e/e2e-proof-of-us/video.y4m
  pnpm-lock.yaml
Labels: Github Config & Actions

#2035 Tools dApp - Module Explorer UX/UI revamp - Module list
  packages/apps/tools/.eslintrc.js
  packages/apps/tools/next.config.js
  packages/apps/tools/package.json
  packages/apps/tools/src/components/Global/AccountNameField/index.tsx
  packages/apps/tools/src/components/Global/AddNetworkModal/AddNetworkModal.tsx
  packages/apps/tools/src/components/Global/CustomAccordion/CustomAccordion.css.ts
  packages/apps/tools/src/components/Global/CustomAccordion/CustomAccordion.tsx
  packages/apps/tools/src/components/Global/CustomAccordion/CustomAccordionItem.tsx
  packages/apps/tools/src/components/Global/CustomTree/CustomTree.css.ts
  packages/apps/tools/src/components/Global/CustomTree/CustomTree.tsx
  packages/apps/tools/src/components/Global/CustomTree/CustomTreeNode.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/index.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/outline.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/results.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/styles.css.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/utils.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/index.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/styles.css.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/types.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/utils.ts
  packages/apps/tools/src/components/Global/RequestKeyField/index.tsx
  packages/apps/tools/src/components/Partials/transactions/transfer/sign-form-receiver.tsx
  packages/apps/tools/src/hooks/use-account-chain-details-query.ts
  packages/apps/tools/src/hooks/use-account-details-query.ts
  packages/apps/tools/src/hooks/use-module-query.ts
  packages/apps/tools/src/hooks/use-modules-query.ts
  packages/apps/tools/src/pages/account/account-transactions/filters/index.tsx
  packages/apps/tools/src/pages/faucet/existing/index.tsx
  packages/apps/tools/src/pages/faucet/new/index.tsx
  packages/apps/tools/src/pages/modules/explorer/index.tsx
  packages/apps/tools/src/pages/modules/explorer/utils.test.ts
  packages/apps/tools/src/pages/modules/explorer/utils.ts
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-finisher/index.tsx
  packages/apps/tools/src/pages/transactions/cross-chain-transfer-tracker/index.tsx
  packages/apps/tools/src/types/utils.ts
  packages/libs/client-utils/etc/client-utils-built-in.api.md
  packages/libs/client-utils/src/built-in/index.ts
  packages/libs/client-utils/src/built-in/list-modules.ts
  pnpm-lock.yaml
Labels: @kadena/tools

#2222 feat(tx-logs): add tx history command
  .changeset/chatty-laws-mate.md
  packages/tools/kadena-cli/src/commands/tx/commands/txHistory.ts
  packages/tools/kadena-cli/src/commands/tx/commands/txLocal.ts
  packages/tools/kadena-cli/src/commands/tx/commands/txSend.ts
  packages/tools/kadena-cli/src/commands/tx/commands/txStatus.ts
  packages/tools/kadena-cli/src/commands/tx/index.ts
  packages/tools/kadena-cli/src/commands/tx/utils/txHelpers.ts
  packages/tools/kadena-cli/src/constants/config.ts
Labels: @kadena/kadena-cli

#2237 feat(explorer): transaction details page on /transaction/[requestKey]
  .changeset/grumpy-cougars-retire.md
  packages/apps/explorer/.eslintrc.js
  packages/apps/explorer/apollo.config.js
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/data-render-component/data-render-component-horizontal/data-render-component-horizontal.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component-vertical/data-render-component-vertical.tsx
  packages/apps/explorer/src/components/data-render-component/data-render-component.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-request-component.tsx
  packages/apps/explorer/src/components/transaction-components/transaction-result-component.tsx
  packages/apps/explorer/src/graphql/pages/transaction/transaction-requestkey.graph.ts
  packages/apps/explorer/src/pages/transaction/[requestKey].tsx
  packages/apps/explorer/src/services/format.ts
  packages/apps/explorer/src/utils/ifNill.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2261 chore: add marmalade team as codeowners
  .github/CODEOWNERS
Labels: Github Config & Actions

#2236 [Marmalade Marketplace] feat: fetch sale while indexing
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/src/hooks/getSales.tsx
  packages/apps/marmalade-marketplace/src/pages/api/cron.ts
  packages/apps/marmalade-marketplace/src/utils/env.ts
  packages/apps/marmalade-marketplace/src/utils/firebase.ts
Labels: @kadena/marmalade-marketplace

#2260 Setup vitest for marmalade-marketplace
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/components/Badge/__tests__/badge.test.tsx
  packages/apps/marmalade-marketplace/tsconfig.json
  packages/apps/marmalade-marketplace/vitest-globals.ts
  packages/apps/marmalade-marketplace/vitest.config.ts
  packages/apps/marmalade-marketplace/vitest.setup.ts
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2252 Tools dApp - Module Explorer UX/UI revamp - Editor
  .changeset/pretty-radios-relate.md
  packages/apps/tools/locales/en/common.json
  packages/apps/tools/package.json
  packages/apps/tools/src/components/Common/Layout/index.tsx
  packages/apps/tools/src/components/Common/Layout/styles.css.ts
  packages/apps/tools/src/components/Global/Ace/helper.ts
  packages/apps/tools/src/components/Global/Ace/index.tsx
  packages/apps/tools/src/components/Global/Ace/styles.css.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/index.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/styles.css.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/editor.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/index.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/statusbar.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/styles.css.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/tabs.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/types.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/utils.test.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/utils.ts
  packages/apps/tools/src/pages/_app.tsx
  packages/apps/tools/src/pages/modules/explorer/index.tsx
  packages/libs/react-ui/src/components/Tabs/Tab.tsx
  packages/libs/react-ui/src/components/Tabs/Tabs.stories.tsx
  packages/libs/react-ui/src/components/Tabs/Tabs.tsx
  packages/libs/react-ui/src/components/Tabs/TabsPagination.tsx
  packages/libs/react-ui/src/components/Tabs/index.ts
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/index.ts
  pnpm-lock.yaml
Labels: @kadena/tools

#2210 test: improve msw setup and create a helper utilities to create handlers
  packages/tools/kadena-cli/src/commands/account/tests/accountAdd.test.ts
  packages/tools/kadena-cli/src/commands/account/tests/accountFund.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/accountDetails.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/accountHelpers.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/addHelpers.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/createAccountConfigFile.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/createAccountName.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/createAndTransferFunds.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/fund.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/fundHelpers.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/getAccountDetails.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/mocks.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/transferFund.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/txKdnResolverChain.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/__tests__/validateAndRetrieveAccountDetails.test.ts
  packages/tools/kadena-cli/src/commands/account/utils/accountHelpers.ts
  packages/tools/kadena-cli/src/commands/account/utils/addHelpers.ts
  packages/tools/kadena-cli/src/commands/account/utils/createAccountConfigFile.ts
  packages/tools/kadena-cli/src/commands/account/utils/fund.ts
  packages/tools/kadena-cli/src/commands/account/utils/fundHelpers.ts
  packages/tools/kadena-cli/src/commands/account/utils/getAccountDetails.ts
  packages/tools/kadena-cli/src/commands/account/utils/txKdnResolverChain.ts
  packages/tools/kadena-cli/src/commands/account/utils/validateAndRetrieveAccountDetails.ts
  packages/tools/kadena-cli/src/commands/networks/utils/networkHelpers.ts
  packages/tools/kadena-cli/src/commands/tx/commands/txLocal.ts
  packages/tools/kadena-cli/src/commands/tx/tests/verifiers.test.ts
  packages/tools/kadena-cli/src/commands/wallets/utils/walletHelpers.ts
  packages/tools/kadena-cli/src/mocks/network.ts
  packages/tools/kadena-cli/src/mocks/server.ts
  packages/tools/kadena-cli/tsconfig.json
  packages/tools/kadena-cli/vitest.config.ts
Labels: @kadena/kadena-cli

#2232 Basic setup for My Tokens page in Marmalade Marketplace
  packages/apps/marmalade-marketplace/.gitignore
  packages/apps/marmalade-marketplace/.nvmrc
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/scripts/cron.ts
  packages/apps/marmalade-marketplace/scripts/setup-firebase-indexes.ts
  packages/apps/marmalade-marketplace/src/components/Layout/index.tsx
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/graphql/queries/client.ts
  packages/apps/marmalade-marketplace/src/graphql/queries/getTokens.ts
  packages/apps/marmalade-marketplace/src/pages/_app.tsx
  packages/apps/marmalade-marketplace/src/pages/index.tsx
  packages/apps/marmalade-marketplace/src/pages/mytokens/index.tsx
  packages/apps/marmalade-marketplace/src/pages/tokens/index.tsx
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2271 fix design system name
  .changeset/swift-parrots-shop.md
  packages/libs/react-ui/README.md
  packages/libs/react-ui/package.json
  packages/libs/react-ui/src/styles/global.css.ts
Labels: @kadena/react-ui

#2272 name fix leftover
  .changeset/pink-scissors-behave.md
  packages/libs/react-ui/README.md
Labels: @kadena/react-ui

#2257 [ci] Release
  .changeset/bright-waves-tap.md
  .changeset/clever-roses-suffer.md
  .changeset/large-rice-study.md
  .changeset/lucky-toes-cheer.md
  .changeset/pink-scissors-behave.md
  .changeset/plenty-feet-juggle.md
  .changeset/pretty-radios-relate.md
  .changeset/seven-camels-bathe.md
  .changeset/shaggy-mugs-run.md
  .changeset/spotty-jeans-sleep.md
  .changeset/strange-eyes-explain.md
  .changeset/swift-parrots-shop.md
  .changeset/ten-zoos-add.md
  .changeset/thin-waves-matter.md
  packages.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/docs/src/data/changelogs.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/apps/spirekey-example/CHANGELOG.md
  packages/apps/spirekey-example/package.json
  packages/libs/client-examples/CHANGELOG.md
  packages/libs/client-examples/package.json
  packages/libs/client-utils/CHANGELOG.md
  packages/libs/client-utils/package.json
  packages/libs/client/CHANGELOG.md
  packages/libs/client/package.json
  packages/libs/kadena.js/CHANGELOG.md
  packages/libs/kadena.js/package.json
  packages/libs/pactjs-generator/CHANGELOG.md
  packages/libs/pactjs-generator/package.json
  packages/libs/react-ui/CHANGELOG.md
  packages/libs/react-ui/package.json
  packages/tools/kadena-cli/CHANGELOG.md
  packages/tools/kadena-cli/package.json
  packages/tools/pactjs-cli/CHANGELOG.md
  packages/tools/pactjs-cli/package.json
Labels: @kadena/client, @kadena/kadena-cli, Release, kadena.js, @kadena/client-examples, @kadena/client-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/react-ui, @kadena/spirekey-example, @kadena/explorer, @kadena/marmalade-marketplace

#2269 Feat/configure graph endpoint
  packages/apps/explorer/.env.example
  packages/apps/explorer/next.config.js
  packages/apps/explorer/src/constants/graphHost.ts
  packages/apps/explorer/src/pages/_app.tsx
Labels: @kadena/explorer

#2285 Add `maxHeigh` and `minHeight` to Events and Transactions queries
  .changeset/gold-bulldogs-smell.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/query/events.ts
  packages/apps/graph/src/graph/query/transactions.ts
Labels: @kadena/graph

#2296 Fix local `.env` variables
  .changeset/three-coins-tap.md
  packages/apps/explorer/.env.example
Labels: @kadena/explorer

#2246 [feat] Marmalade Marketplace: add create-token functionality
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/components/CollectionForm/__tests__/collectionForm.test.tsx
  packages/apps/marmalade-marketplace/src/components/CollectionForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/CreateToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/GuardForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/PolicyForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/RoyaltyForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/SendTransaction/index.tsx
  packages/apps/marmalade-marketplace/src/hooks/transaction.ts
  packages/apps/marmalade-marketplace/src/pages/tokens/index.tsx
  packages/apps/marmalade-marketplace/src/providers/Providers.tsx
  packages/apps/marmalade-marketplace/src/providers/TransactionProvider/TransactionProvider.tsx
  packages/apps/marmalade-marketplace/src/styles/create-token.css.ts
  packages/apps/marmalade-marketplace/src/utils/env.ts
  packages/apps/marmalade-marketplace/src/utils/getPolicies.ts
  packages/apps/marmalade-marketplace/src/utils/signWithSpireKey.ts
  packages/apps/marmalade-marketplace/src/utils/upload.ts
  packages/libs/client-utils/src/marmalade/burn-token.ts
  packages/libs/client-utils/src/marmalade/buy-token.ts
  packages/libs/client-utils/src/marmalade/config.ts
  packages/libs/client-utils/src/marmalade/create-auction.ts
  packages/libs/client-utils/src/marmalade/create-collection.ts
  packages/libs/client-utils/src/marmalade/create-token.ts
  packages/libs/client-utils/src/marmalade/helpers.ts
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2283 [ci] Release
  .changeset/four-apricots-travel.md
  .changeset/gold-bulldogs-smell.md
  .changeset/perfect-horses-sparkle.md
  .changeset/popular-seahorses-check.md
  .changeset/strong-apes-exist.md
  .changeset/three-coins-tap.md
  .changeset/wet-pugs-end.md
  packages.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/docs/src/data/changelogs.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/libs/client-examples/CHANGELOG.md
  packages/libs/client-examples/package.json
  packages/libs/client-utils/CHANGELOG.md
  packages/libs/client-utils/package.json
  packages/libs/react-ui/CHANGELOG.md
  packages/libs/react-ui/package.json
  packages/tools/kadena-cli/CHANGELOG.md
  packages/tools/kadena-cli/package.json
Labels: @kadena/kadena-cli, Release, @kadena/client-examples, @kadena/client-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/proof-of-us, @kadena/react-ui, @kadena/explorer, @kadena/marmalade-marketplace

#2268 Tools dApp - Module Explorer UX/UI revamp - Search bar
  packages/apps/tools/locales/en/common.json
  packages/apps/tools/package.json
  packages/apps/tools/src/components/Global/CustomAccordion/CustomAccordion.tsx
  packages/apps/tools/src/components/Global/CustomTree/CustomTree.css.ts
  packages/apps/tools/src/components/Global/CustomTree/CustomTree.tsx
  packages/apps/tools/src/components/Global/CustomTree/CustomTreeNode.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/index.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/search-bar.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/SidePanel/styles.css.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/index.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/statusbar.tsx
  packages/apps/tools/src/components/Global/ModuleExplorer/utils.test.ts
  packages/apps/tools/src/components/Global/ModuleExplorer/utils.ts
  packages/apps/tools/src/hooks/use-modules-query.ts
  packages/apps/tools/src/pages/modules/explorer/index.tsx
  packages/apps/tools/src/pages/modules/explorer/utils.ts
  pnpm-lock.yaml
Labels: @kadena/tools

#2279 Fix/layers
  .changeset/slow-stingrays-chew.md
  packages/libs/react-ui/src/components/Accordion/Accordion.css.ts
  packages/libs/react-ui/src/components/Avatar/Avatar.css.ts
  packages/libs/react-ui/src/components/Badge/Badge.css.ts
  packages/libs/react-ui/src/components/Breadcrumbs/Breadcrumbs.css.ts
  packages/libs/react-ui/src/components/Button/Button.css.ts
  packages/libs/react-ui/src/components/Button/Button.tsx
  packages/libs/react-ui/src/components/Card/Card.css.ts
  packages/libs/react-ui/src/components/ContentHeader/ContentHeader.css.ts
  packages/libs/react-ui/src/components/Dialog/Dialog.css.ts
  packages/libs/react-ui/src/components/Divider/Divider.css.ts
  packages/libs/react-ui/src/components/Form/ActionButtons/CopyButton.css.ts
  packages/libs/react-ui/src/components/Form/Checkbox/Checkbox.css.ts
  packages/libs/react-ui/src/components/Form/Combobox/Combobox.css.ts
  packages/libs/react-ui/src/components/Form/Combobox/ComboboxButton.tsx
  packages/libs/react-ui/src/components/Form/Form.css.ts
  packages/libs/react-ui/src/components/Form/FormFieldHeader/FormFieldHeader.css.ts
  packages/libs/react-ui/src/components/Form/FormFieldHelpText/FormFieldHelpText.css.ts
  packages/libs/react-ui/src/components/Form/NumberField/NumberField.css.ts
  packages/libs/react-ui/src/components/Form/Select/Select.css.ts
  packages/libs/react-ui/src/components/Form/TextareaField/TextareaField.css.ts
  packages/libs/react-ui/src/components/Icon/IconWrapper.css.ts
  packages/libs/react-ui/src/components/Layout/Grid/Grid.css.ts
  packages/libs/react-ui/src/components/ListBox/ListBox.css.ts
  packages/libs/react-ui/src/components/Modal/Modal.css.ts
  packages/libs/react-ui/src/components/NavHeader/NavHeader.stories.tsx
  packages/libs/react-ui/src/components/NavHeader/index.ts
  packages/libs/react-ui/src/components/Notification/Notification.css.ts
  packages/libs/react-ui/src/components/Pagination/Pagination.css.ts
  packages/libs/react-ui/src/components/Popover/Popover.css.ts
  packages/libs/react-ui/src/components/TableV1/Tr.tsx
  packages/libs/react-ui/src/components/Tabs/Tabs.css.ts
  packages/libs/react-ui/src/components/Tag/Tag.css.ts
  packages/libs/react-ui/src/components/TextLink/TextLink.css.ts
  packages/libs/react-ui/src/components/Tooltip/Tooltip.css.ts
  packages/libs/react-ui/src/components/Typography/GradientText/GradientText.css.ts
  packages/libs/react-ui/src/components/Typography/Label/Label.css.ts
  packages/libs/react-ui/src/components/Typography/typography.css.ts
  packages/libs/react-ui/src/components/index.ts
  packages/libs/react-ui/src/styles/README.md
  packages/libs/react-ui/src/styles/global.css.ts
  packages/libs/react-ui/src/styles/index.ts
  packages/libs/react-ui/src/styles/layers.css.ts
  packages/libs/react-ui/src/styles/utils.test.ts
  packages/libs/react-ui/src/styles/utils.ts
  packages/libs/react-ui/vitest.config.ts
Labels: @kadena/react-ui

#2256 Feat/kadena cli/pactjs
  packages/tools/kadena-cli/package.json
  packages/tools/kadena-cli/src/commands/pactjs/commands/contractGenerate.ts
  packages/tools/kadena-cli/src/commands/pactjs/commands/retrieveContract.ts
  packages/tools/kadena-cli/src/commands/pactjs/commands/templateGenerate.ts
  packages/tools/kadena-cli/src/commands/pactjs/index.ts
  packages/tools/kadena-cli/src/commands/pactjs/options/contractOptions.ts
  packages/tools/kadena-cli/src/commands/pactjs/utils/utils.ts
  packages/tools/kadena-cli/src/program.ts
  packages/tools/kadena-cli/src/prompts/index.ts
  packages/tools/kadena-cli/src/prompts/pactjs.ts
  packages/tools/kadena-cli/src/services/fs/fs.memory.service.ts
  packages/tools/kadena-cli/src/services/fs/fs.service.ts
  packages/tools/kadena-cli/src/services/index.ts
  packages/tools/kadena-cli/src/services/pactjs/pactjs.schemas.ts
  packages/tools/kadena-cli/src/services/pactjs/pactjs.service.ts
  packages/tools/kadena-cli/src/services/pactjs/pactjs.types.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/callLocal.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/chainHelpers.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/extractImportedFiles.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/shallowFindFile.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/tests/callLocal.test.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/tests/retrieveContractFromChain.test.ts
  packages/tools/kadena-cli/src/services/pactjs/utils/verifyTsconfigTypings.ts
  packages/tools/kadena-cli/src/utils/version.ts
  packages/tools/kadena-cli/tsconfig.json
  pnpm-lock.yaml
Labels: @kadena/kadena-cli

#2290 Adding tests for mytokens page
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/__tests__/pages/mytokens.test.tsx
  packages/apps/marmalade-marketplace/src/components/Badge/__tests__/badge.test.tsx
  packages/apps/marmalade-marketplace/src/pages/mytokens/index.tsx
  packages/apps/marmalade-marketplace/tsconfig.json
  packages/apps/marmalade-marketplace/vitest-globals.ts
  packages/apps/marmalade-marketplace/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2313 chore(react-ui): add documentation for the useTheme hook
  .changeset/fifty-radios-train.md
  .github/CODEOWNERS
  packages/libs/react-ui/src/styles/README.md
Labels: Github Config & Actions

#2299 [ci] Release
  .changeset/cool-dolls-add.md
  .changeset/fifty-radios-train.md
  .changeset/lovely-trees-flow.md
  .changeset/metal-ladybugs-obey.md
  .changeset/slow-stingrays-chew.md
  .changeset/three-ghosts-cry.md
  .changeset/wet-bobcats-do.md
  packages.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/docs/src/data/changelogs.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/libs/react-ui/CHANGELOG.md
  packages/libs/react-ui/package.json
Labels: Release, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph-client, @kadena/proof-of-us, @kadena/react-ui, @kadena/explorer, @kadena/marmalade-marketplace

#2325 Fix completed heights issue
  .changeset/silly-scissors-wait.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/query/completed-block-heights.ts
Labels: @kadena/graph

#2320 chore(proof of us): switch ipfs
  .changeset/wet-grapes-serve.md
  packages/apps/proof-of-us/next.config.mjs
  packages/apps/proof-of-us/package.json
  packages/apps/proof-of-us/src/components/AttendanceTicket/AttendanceTicket.tsx
  packages/apps/proof-of-us/src/components/MintView/MintView.tsx
  packages/apps/proof-of-us/src/components/ShareView/ShareView.tsx
  packages/apps/proof-of-us/src/components/StartSigningButton/StartSigningButton.tsx
  packages/apps/proof-of-us/src/hooks/avatar.ts
  packages/apps/proof-of-us/src/pages/api/upload.ts
  packages/apps/proof-of-us/src/pages/api/uploadimage.ts
  packages/apps/proof-of-us/src/pages/api/uploadmeta.ts
  packages/apps/proof-of-us/src/scripts/createEvent.ts
  packages/apps/proof-of-us/src/types.d.ts
  packages/apps/proof-of-us/src/utils/__tests__/getIPFSLink.test.ts
  packages/apps/proof-of-us/src/utils/getIPFSLink.ts
  packages/apps/proof-of-us/src/utils/upload.ts
  packages/apps/proof-of-us/test.png
  pnpm-lock.yaml
Labels: @kadena/proof-of-us

#2311 Funding account from faucet, improve create, add mint
  packages/apps/marmalade-marketplace/.env.example
  packages/apps/marmalade-marketplace/package.json
  packages/apps/marmalade-marketplace/src/components/CreateToken/__tests__/createToken.tsx
  packages/apps/marmalade-marketplace/src/components/CreateToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/GenerateURIForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/GuardForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/MarketplaceHeader/index.tsx
  packages/apps/marmalade-marketplace/src/components/MintToken/index.tsx
  packages/apps/marmalade-marketplace/src/components/PolicyForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/RoyaltyForm/index.tsx
  packages/apps/marmalade-marketplace/src/components/SendTransaction/index.tsx
  packages/apps/marmalade-marketplace/src/components/UploadImage/index.tsx
  packages/apps/marmalade-marketplace/src/pages/api/files.ts
  packages/apps/marmalade-marketplace/src/pages/api/metadata.ts
  packages/apps/marmalade-marketplace/src/pages/marketplace/index.tsx
  packages/apps/marmalade-marketplace/src/pages/tokens/index.tsx
  packages/apps/marmalade-marketplace/src/pages/transaction/index.tsx
  packages/apps/marmalade-marketplace/src/providers/TransactionProvider/TransactionProvider.tsx
  packages/apps/marmalade-marketplace/src/styles/create-token.css.ts
  packages/apps/marmalade-marketplace/src/utils/env.ts
  packages/apps/marmalade-marketplace/src/utils/fund.ts
  packages/apps/marmalade-marketplace/src/utils/getPolicies.ts
  packages/apps/marmalade-marketplace/src/utils/helper.ts
  packages/apps/marmalade-marketplace/src/utils/upload.ts
  packages/apps/marmalade-marketplace/vitest.config.ts
  packages/libs/client-utils/src/marmalade/mint-token.ts
  packages/libs/client-utils/src/marmalade/offer-token.ts
  packages/libs/client-utils/src/marmalade/place-bid.ts
  packages/libs/client-utils/src/marmalade/transfer-create-token.ts
  packages/libs/client-utils/src/marmalade/transfer-token.ts
  packages/libs/client-utils/src/marmalade/update-auction.ts
  packages/libs/client-utils/src/marmalade/update-uri.ts
  packages/libs/client-utils/src/marmalade/withdraw-token.ts
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2335 Network Toogle Redirect
  .changeset/pretty-shrimps-invent.md
  packages/apps/explorer/.env.example
  packages/apps/explorer/src/components/layout/detail-layout/detail-layout.tsx
  packages/apps/explorer/src/components/navbar/navbar.tsx
  packages/apps/explorer/src/components/statistics-component/statistics-stack/statistics-stack.tsx
  packages/apps/explorer/src/constants/network.ts
  packages/apps/explorer/src/hooks/network/redirect.ts
  pnpm-lock.yaml
Labels: @kadena/explorer

#2287 Update documentation on Explorer - related to graph dependency
  .changeset/strange-shrimps-share.md
  packages/apps/explorer/.prettierignore
  packages/apps/explorer/README.md
Labels: @kadena/explorer

#2333 Add Cronjob to weekly check for updated chainweb changelogs
  .github/workflows/chainweb-node-changelogs.yml
  .syncpackrc.js
  packages/apps/docs/package.json
  packages/apps/docs/src/scripts/importChangelogs/index.ts
Labels: @kadena/docs

#2341 Form fields min-width issue + direction enhancement
  .changeset/hot-apricots-grin.md
  packages/libs/react-ui/README.md
  packages/libs/react-ui/src/components/Form/Checkbox/CheckboxGroup.stories.tsx
  packages/libs/react-ui/src/components/Form/Checkbox/CheckboxGroup.tsx
  packages/libs/react-ui/src/components/Form/Combobox/Combobox.tsx
  packages/libs/react-ui/src/components/Form/Field/Field.tsx
  packages/libs/react-ui/src/components/Form/Form.css.ts
  packages/libs/react-ui/src/components/Form/FormFieldHeader/FormFieldHeader.css.ts
  packages/libs/react-ui/src/components/Form/FormFieldHeader/FormFieldHeader.tsx
  packages/libs/react-ui/src/components/Form/NumberField/NumberField.css.ts
  packages/libs/react-ui/src/components/Form/NumberField/NumberField.stories.tsx
  packages/libs/react-ui/src/components/Form/NumberField/NumberField.tsx
  packages/libs/react-ui/src/components/Form/NumberField/NumberFieldActions.tsx
  packages/libs/react-ui/src/components/Form/RadioGroup/RadioGroup.stories.tsx
  packages/libs/react-ui/src/components/Form/RadioGroup/RadioGroup.tsx
  packages/libs/react-ui/src/components/Form/Select/Select.stories.tsx
  packages/libs/react-ui/src/components/Form/Select/Select.tsx
  packages/libs/react-ui/src/components/Form/TextField/TextField.stories.tsx
  packages/libs/react-ui/src/components/Form/TextField/TextField.tsx
  packages/libs/react-ui/src/components/Table/TableSelectionCell.tsx
  packages/libs/react-ui/src/styles/utils.ts
Labels: @kadena/react-ui
