Repository kadena-community/kadena.js, pull requests merged in 2025-05, with the labels that each got.

#2972 fix(wallet-adapter-ecko): update naming to be more consistent
  .github/labeler.yml
  packages/apps/wallet-adapter-react-example/src/main.tsx
  packages/libs/wallet-adapter-ecko/etc/wallet-adapter-ecko.api.md
  packages/libs/wallet-adapter-ecko/src/EckoAdapter.ts
  packages/libs/wallet-adapter-ecko/src/__tests__/eckoAdapterFactory.test.ts
  packages/libs/wallet-adapter-ecko/src/__tests__/eckoWalletAdapter.test.ts
  packages/libs/wallet-adapter-ecko/src/eckoAdapterFactory.ts
  packages/libs/wallet-adapter-ecko/src/index.ts
Labels: Github Config & Actions

#2973 chore(marketplace): maintenancemode
  packages/apps/marmalade-marketplace/next.config.mjs
  packages/apps/marmalade-marketplace/public/maintenance.html
Labels: @kadena/marmalade-marketplace

#2974 chore(marketplace): remove the builds for marketplace
  packages.json
  packages/apps/marmalade-marketplace/_package.json
Labels: @kadena/marmalade-marketplace

#2975 chore(marketplace): fix the removal of marketplace
  packages/apps/marmalade-marketplace/package.json_
  packages/apps/marmalade-marketplace/vercel.json
  pnpm-lock.yaml
Labels: @kadena/marmalade-marketplace

#2965 Chainweaver Wallet Adapter
  .github/labeler.yml
  README.md
  packages.json
  packages/apps/wallet-adapter-react-example/package.json
  packages/apps/wallet-adapter-react-example/src/App.tsx
  packages/apps/wallet-adapter-react-example/src/main.tsx
  packages/apps/wallet-adapter-react-example/src/transferTx.ts
  packages/apps/wallet-adapter-react-example/src/zodValidation.ts
  packages/libs/wallet-adapter-chainweaver-legacy/.eslintrc.js
  packages/libs/wallet-adapter-chainweaver-legacy/README.md
  packages/libs/wallet-adapter-chainweaver-legacy/api-extractor.json
  packages/libs/wallet-adapter-chainweaver-legacy/etc/wallet-adapter-chainweaver-legacy.api.md
  packages/libs/wallet-adapter-chainweaver-legacy/package.json
  packages/libs/wallet-adapter-chainweaver-legacy/src/ChainweaverLegacyAdapter.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/chainweaverLegacyAdapterFactory.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/constants.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/index.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/provider.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/utils.ts
  packages/libs/wallet-adapter-chainweaver-legacy/tsconfig.cjs.json
  packages/libs/wallet-adapter-chainweaver-legacy/tsconfig.esm.json
  packages/libs/wallet-adapter-chainweaver-legacy/tsconfig.json
  packages/libs/wallet-adapter-chainweaver-legacy/vitest.config.ts
  pnpm-lock.yaml
Labels: Github Config & Actions, wallet-adapter-react-example

#2971 feat(client): add gas estimation + change default TTL to 15 min
  .changeset/calm-bats-joke.md
  .changeset/clever-sheep-play.md
  packages/e2e/e2e-graph/tests/transaction.test.ts
  packages/libs/client-utils/README.md
  packages/libs/client-utils/etc/client-utils-core.api.md
  packages/libs/client-utils/src/core/estimate-gas.ts
  packages/libs/client-utils/src/core/estimateGasPrice/estimateGasPrice.ts
  packages/libs/client-utils/src/core/estimateGasPrice/index.ts
  packages/libs/client-utils/src/core/estimateGasPrice/tests/estimateGasPrice.test.ts
  packages/libs/client-utils/src/core/estimateGasPrice/utils.ts
  packages/libs/client-utils/src/core/index.ts
  packages/libs/client-utils/src/core/test/cross-chain-client.test.ts
  packages/libs/client-utils/src/core/test/preflight-client.test.ts
  packages/libs/client-utils/src/core/test/submit-client.test.ts
  packages/libs/client-utils/src/faucet/test/fund-existing-account-on-testnet.test.ts
  packages/libs/client-utils/src/faucet/test/fund-new-account-on-testnet.test.ts
  packages/libs/client-utils/src/integration-tests/estimate-gas-price.int.test.ts
  packages/libs/client-utils/vitest.config.ts
  packages/libs/client/src/composePactCommand/composePactCommand.ts
  packages/libs/client/src/createTransactionBuilder/tests/createTransactionBuilder.test.ts
  packages/libs/client/src/signing/keypair/tests/signWithKeypair.test.ts
  packages/libs/wallet-sdk/src/sdk/tests/crossChainFinishCreate.test.ts
Labels: @kadena/client-utils

#2960 feat: Add walletconnect adapter to wallet-connect
  .github/labeler.yml
  README.md
  packages.json
  packages/apps/tools/package.json
  packages/apps/wallet-adapter-react-example/package.json
  packages/apps/wallet-adapter-react-example/src/App.tsx
  packages/apps/wallet-adapter-react-example/src/main.tsx
  packages/apps/wallet-adapter-react-example/src/utils.ts
  packages/apps/wallet-adapter-react-example/vite.config.ts
  packages/libs/wallet-adapter-core/package.json
  packages/libs/wallet-adapter-ecko/README.md
  packages/libs/wallet-adapter-ecko/package.json
  packages/libs/wallet-adapter-react/package.json
  packages/libs/wallet-adapter-walletconnect/.eslintrc.js
  packages/libs/wallet-adapter-walletconnect/LICENSE
  packages/libs/wallet-adapter-walletconnect/README.md
  packages/libs/wallet-adapter-walletconnect/api-extractor.json
  packages/libs/wallet-adapter-walletconnect/package.json
  packages/libs/wallet-adapter-walletconnect/setupVitest.mjs
  packages/libs/wallet-adapter-walletconnect/src/WalletConnectAdapter.ts
  packages/libs/wallet-adapter-walletconnect/src/__tests__/WalletConnectAdapter.test.ts
  packages/libs/wallet-adapter-walletconnect/src/constants.ts
  packages/libs/wallet-adapter-walletconnect/src/index.ts
  packages/libs/wallet-adapter-walletconnect/src/provider.ts
  packages/libs/wallet-adapter-walletconnect/src/types.ts
  packages/libs/wallet-adapter-walletconnect/src/utils.ts
  packages/libs/wallet-adapter-walletconnect/src/walletConnectAdapterFactory.ts
  packages/libs/wallet-adapter-walletconnect/tsconfig.cjs.json
  packages/libs/wallet-adapter-walletconnect/tsconfig.esm.json
  packages/libs/wallet-adapter-walletconnect/tsconfig.json
  packages/libs/wallet-adapter-walletconnect/vitest.config.ts
  pnpm-lock.yaml
Labels: Github Config & Actions, @kadena/tools, @kadena/wallet-adapter-core, @kadena/wallet-adapter-react, @kadena/wallet-adapter-ecko, wallet-adapter-react-example

#2950 publish: Update wallet-adapter packages readme and beta version bump
  packages.json
  packages/libs/wallet-adapter-core/README.md
  packages/libs/wallet-adapter-core/package.json
  packages/libs/wallet-adapter-ecko/README.md
  packages/libs/wallet-adapter-ecko/package.json
  packages/libs/wallet-adapter-react/README.md
  packages/libs/wallet-adapter-react/package.json
Labels: @kadena/wallet-adapter-core, @kadena/wallet-adapter-react, @kadena/wallet-adapter-ecko

#2979 feat(wallet-adapter): zelcore adapter
  .github/labeler.yml
  README.md
  packages.json
  packages/apps/wallet-adapter-react-example/package.json
  packages/apps/wallet-adapter-react-example/src/App.tsx
  packages/apps/wallet-adapter-react-example/src/main.tsx
  packages/apps/wallet-adapter-react-example/src/transferCmd.ts
  packages/apps/wallet-adapter-react-example/src/transferTx.ts
  packages/libs/wallet-adapter-zelcore/.eslintrc.js
  packages/libs/wallet-adapter-zelcore/README.md
  packages/libs/wallet-adapter-zelcore/api-extractor.json
  packages/libs/wallet-adapter-zelcore/etc/wallet-adapter-zelcore.api.md
  packages/libs/wallet-adapter-zelcore/package.json
  packages/libs/wallet-adapter-zelcore/src/ZelcoreAdapter.ts
  packages/libs/wallet-adapter-zelcore/src/constants.ts
  packages/libs/wallet-adapter-zelcore/src/index.ts
  packages/libs/wallet-adapter-zelcore/src/provider.ts
  packages/libs/wallet-adapter-zelcore/src/utils.ts
  packages/libs/wallet-adapter-zelcore/src/zelcoreAdapterFactory.ts
  packages/libs/wallet-adapter-zelcore/tsconfig.cjs.json
  packages/libs/wallet-adapter-zelcore/tsconfig.esm.json
  packages/libs/wallet-adapter-zelcore/tsconfig.json
  packages/libs/wallet-adapter-zelcore/vitest.config.ts
  pnpm-lock.yaml
Labels: Github Config & Actions, wallet-adapter-react-example
