Repository kadena-community/kadena.js, pull requests merged in 2025-07, with the labels that each got.

#3038 fix(rwa): the next step not triggered in the setup wizard
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/components/AssetSetupCompletionOverview/AssetSetupCompletionOverview.tsx
  packages/apps/rwa-demo/src/hooks/__tests__/assetSetup.test.ts
  packages/apps/rwa-demo/src/hooks/assetSetup.ts
Labels: @kadena/rwa-demo

#2988 fix(wallet-adapter-zelcore): update readme and version
  packages/libs/wallet-adapter-zelcore/README.md
  packages/libs/wallet-adapter-zelcore/package.json
Labels: @kadena/wallet-adapter-zelcore

#3050 Fix link to CLI documentation
  packages/tools/kadena-cli/README.md
Labels: @kadena/kadena-cli

#3067 [ci] Release
  .changeset/fair-kiwis-visit.md
  .changeset/little-llamas-refuse.md
  .changeset/wild-coats-train.md
  packages.json
  packages/apps/chainweaver-wallet-connect-plugin/CHANGELOG.md
  packages/apps/chainweaver-wallet-connect-plugin/package.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/wallet-adapter-react-example/CHANGELOG.md
  packages/apps/wallet-adapter-react-example/package.json
  packages/libs/wallet-adapter-magic/CHANGELOG.md
  packages/libs/wallet-adapter-magic/package.json
Labels: Release, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/chainweaver-wallet-connect-plugin, wallet-adapter-react-example, @kadena/wallet-adapter-magic
