Repository kadena-community/kadena.js, pull requests merged in 2025-03, with the labels that each got.

#2892 fix(tools): pnpm for tools
  .github/workflows/ci.yml
  packages.json
  packages/apps/tools/package.json
  packages/e2e/e2e-tools/package.json
Labels: @kadena/tools, e2e-tools

#2635 feat(ui): buttongroup component
  .changeset/eight-birds-knock.md
  packages/libs/kode-ui/src/components/Button/Button.css.ts
  packages/libs/kode-ui/src/components/ButtonGroup/ButtonGroup.css.ts
  packages/libs/kode-ui/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/libs/kode-ui/src/components/ButtonGroup/ButtonGroup.tsx
  packages/libs/kode-ui/src/components/ButtonGroup/index.ts
  packages/libs/kode-ui/src/components/index.ts
  packages/libs/kode-ui/src/index.ts
Labels: no-pr-activity

#2905 chore(monorepo): enable deployment for release branches in vercel.json files
  packages/apps/dev-wallet/vercel.json
  packages/apps/explorer/vercel.json
  packages/apps/marmalade-marketplace/vercel.json
  packages/apps/proof-of-us/vercel.json
  packages/apps/rwa-demo/vercel.json
  packages/apps/tools/vercel.json
  vercel.json
Labels: @kadena/dev-wallet, @kadena/proof-of-us, @kadena/tools, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/rwa-demo

#2493 Update spirekey-ref.md
  packages/apps/docs/src/docs/reference/spirekey-ref.md
Labels: no-pr-activity

#2915 feat(wallet): improve the onboarding flow
  .changeset/yellow-crews-listen.md
  packages/apps/dev-wallet/package.json
  packages/apps/dev-wallet/src/App/LayoutLandingPage/Layout.tsx
  packages/apps/dev-wallet/src/App/LayoutLandingPage/components/CardContent.tsx
  packages/apps/dev-wallet/src/App/LayoutLandingPage/components/CardFooterContent.tsx
  packages/apps/dev-wallet/src/App/LayoutLandingPage/components/CardLayoutProvider.tsx
  packages/apps/dev-wallet/src/App/LayoutLandingPage/components/InnerContent.tsx
  packages/apps/dev-wallet/src/App/app.tsx
  packages/apps/dev-wallet/src/App/layout.css.ts
  packages/apps/dev-wallet/src/App/routes.tsx
  packages/apps/dev-wallet/src/Components/BackupMnemonic/BackupMnemonic.tsx
  packages/apps/dev-wallet/src/Components/ChainweaverLogo/ChainweaverLogo.tsx
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/pages/account-discovery/account-dsicovery.tsx
  packages/apps/dev-wallet/src/pages/account-discovery/style.css.ts
  packages/apps/dev-wallet/src/pages/create-profile/create-profile.tsx
  packages/apps/dev-wallet/src/pages/errors/404.tsx
  packages/apps/dev-wallet/src/pages/in-development/in-development.tsx
  packages/apps/dev-wallet/src/pages/maintenance/maintenance.tsx
  packages/apps/dev-wallet/src/pages/ready/ready.tsx
  packages/apps/dev-wallet/src/pages/select-profile/ChooseColor.tsx
  packages/apps/dev-wallet/src/pages/select-profile/select-profile.tsx
  packages/apps/dev-wallet/src/pages/settings/change-password/change-password.tsx
  packages/apps/dev-wallet/src/pages/settings/reveal-phrase/reveal-phrase.tsx
  packages/apps/dev-wallet/src/pages/unlock-profile/unlock-profile.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/Components/LegacyImport.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/Components/RecoveredV3.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/recover-from-mnemonic/recover-from-mnemonic.tsx
  packages/apps/dev-wallet/src/pages/wallet-recovery/wallet-recovery.tsx
  packages/e2e/e2e-base/src/page-objects/chainweaver/chainweaverApp.index.ts
  packages/libs/kode-ui/src/components/ButtonGroup/ButtonGroup.css.ts
  packages/libs/kode-ui/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/libs/kode-ui/src/components/ButtonGroup/ButtonGroup.tsx
  packages/libs/kode-ui/src/components/CompactStepper/CompactStepper.stories.tsx
  packages/libs/kode-ui/src/components/CompactStepper/CompactStepper.tsx
  packages/libs/kode-ui/src/components/CompactStepper/components/Step.tsx
  packages/libs/kode-ui/src/components/CompactStepper/index.ts
  packages/libs/kode-ui/src/components/index.ts
  packages/libs/kode-ui/src/index.ts
  packages/libs/kode-ui/src/patterns/Card/CardContentBlock.tsx
  pnpm-lock.yaml
Labels: @kadena/dev-wallet

#2921 chore(all): update the nextjs versions
  packages/apps/dev-wallet-example/package.json
  packages/apps/docs/package.json_
  packages/apps/explorer/package.json
  packages/apps/explorer/src/components/Layout/components/styles.css.ts
  packages/apps/graph-client/package.json
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/package.json
  packages/apps/tools/package.json
  pnpm-lock.yaml
Labels: @kadena/graph-client, @kadena/proof-of-us, @kadena/docs, @kadena/tools, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/rwa-demo

#2923 chore(rwa): update nextjs version
  .changeset/eighty-eggs-marry.md
  packages/apps/dev-wallet-example/package.json
  packages/apps/explorer/package.json
  packages/apps/graph-client/package.json
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/package.json
  packages/apps/tools/package.json
  pnpm-lock.yaml
Labels: @kadena/graph-client, @kadena/proof-of-us, @kadena/tools, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/rwa-demo

#2924 chore(explorer): update nextjs version
  .changeset/purple-worms-kick.md
  packages/apps/dev-wallet-example/package.json
  packages/apps/explorer/package.json
  packages/apps/graph-client/package.json
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/package.json
  packages/apps/tools/package.json
  pnpm-lock.yaml
Labels: @kadena/graph-client, @kadena/proof-of-us, @kadena/tools, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/rwa-demo

#2925 chore(proof): update nextjs version
  .changeset/pink-rivers-design.md
  packages/apps/dev-wallet-example/package.json
  packages/apps/explorer/package.json
  packages/apps/graph-client/package.json
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/package.json
  packages/apps/tools/package.json
  pnpm-lock.yaml
Labels: @kadena/graph-client, @kadena/proof-of-us, @kadena/tools, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/rwa-demo

#2931 fix(ui): storybook build
  packages/libs/kode-ui/.storybook/main.ts
  packages/libs/kode-ui/package.json
  pnpm-lock.yaml
Labels: @kadena/kode-ui

#2930 ag/fix/hw ledger tools inside repo
  .github/labeler.yml
  .syncpackrc.js
  packages.json
  packages/apps/marmalade-marketplace/next-env.d.ts
  packages/apps/tools/package.json
  packages/apps/tools/src/components/Partials/transactions/transfer/sign-form.tsx
  packages/apps/tools/src/components/Partials/transactions/transfer/submit-transaction.tsx
  packages/apps/tools/src/hooks/use-ledger-sign.ts
  packages/apps/tools/src/pages/transactions/transfer/index.tsx
  packages/apps/tools/src/utils/ledger.ts
  packages/libs/hw-app-kda-clone/.eslintignore
  packages/libs/hw-app-kda-clone/.eslintrc.cjs
  packages/libs/hw-app-kda-clone/.gitignore
  packages/libs/hw-app-kda-clone/.prettierignore
  packages/libs/hw-app-kda-clone/CHANGELOG.md
  packages/libs/hw-app-kda-clone/LICENSE
  packages/libs/hw-app-kda-clone/README.md
  packages/libs/hw-app-kda-clone/api-extractor.json
  packages/libs/hw-app-kda-clone/etc/hw-app-kda-clone.api.json
  packages/libs/hw-app-kda-clone/etc/hw-app-kda-clone.api.md
  packages/libs/hw-app-kda-clone/package.cjs.json
  packages/libs/hw-app-kda-clone/package.json
  packages/libs/hw-app-kda-clone/rollup.config.mjs
  packages/libs/hw-app-kda-clone/src/hw-app-alamgu.ts
  packages/libs/hw-app-kda-clone/src/index.ts
  packages/libs/hw-app-kda-clone/tsconfig.cjs.json
  packages/libs/hw-app-kda-clone/tsconfig.json
  packages/libs/hw-app-kda-clone/turbo.json
  packages/libs/hw-app-kda-clone/vitest.config.ts
  pnpm-lock.yaml
Labels: Github Config & Actions, @kadena/tools, @kadena/marmalade-marketplace

#2922 chore(wallet): add a preview banner when it is not the live wallet
  .changeset/eleven-kangaroos-remember.md
  packages/apps/dev-wallet/src/App/BetaHeader.tsx
  packages/apps/dev-wallet/src/App/Layout/Layout.tsx
  packages/apps/dev-wallet/src/App/Layout/SideBar.tsx
  packages/apps/dev-wallet/src/App/Layout/style.css.ts
  packages/apps/dev-wallet/src/App/LayoutLandingPage/Layout.tsx
  packages/apps/dev-wallet/src/Components/PreviewBanner/PreviewBanner.tsx
  packages/apps/dev-wallet/src/pages/select-profile/initials.tsx
  packages/apps/rwa-demo/src/app/(app)/SideBar.tsx
  packages/apps/rwa-demo/src/app/(app)/layout.tsx
  packages/libs/kode-ui/package.json
  packages/libs/kode-ui/src/components/Notification/Notification.css.ts
  packages/libs/kode-ui/src/components/Notification/Notification.stories.tsx
  packages/libs/kode-ui/src/components/Notification/Notification.tsx
  packages/libs/kode-ui/src/patterns/FocussedLayout/FocussedLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/FocussedLayout/FocussedLayout.tsx
  packages/libs/kode-ui/src/patterns/FocussedLayout/components/LayoutProvider/FocussedLayoutProvider.tsx
  packages/libs/kode-ui/src/patterns/FocussedLayout/components/TopBanner/TopBanner.tsx
  packages/libs/kode-ui/src/patterns/FocussedLayout/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBar.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.stories.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/SideBarLayout.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/aside.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/LayoutProvider/SideBarLayoutProvider.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarAppContext.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarAside.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarContext.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/SideBarHeader.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/components/TopBanner/TopBanner.tsx
  packages/libs/kode-ui/src/patterns/SideBarLayout/index.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/sidebar.css.ts
  packages/libs/kode-ui/src/patterns/SideBarLayout/styles.css.ts
  packages/libs/kode-ui/src/patterns/index.ts
  pnpm-lock.yaml
Labels: @kadena/kode-ui
