Repository kadena-community/kadena.js, pull requests merged in 2025-09, with the labels that each got.

#3080 [ci] Release
  .changeset/cool-ways-attend.md
  .changeset/curvy-frogs-behave.md
  .changeset/hip-ligers-compete.md
  .changeset/sweet-toes-battle.md
  packages.json
  packages/apps/chainweaver-pact-console-plugin/CHANGELOG.md
  packages/apps/chainweaver-pact-console-plugin/package.json
  packages/apps/chainweaver-wallet-connect-plugin/CHANGELOG.md
  packages/apps/chainweaver-wallet-connect-plugin/package.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet-example/CHANGELOG.md
  packages/apps/dev-wallet-example/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/CHANGELOG.md
  packages/apps/rwa-demo/package.json
  packages/apps/wallet-adapter-react-example/CHANGELOG.md
  packages/apps/wallet-adapter-react-example/package.json
  packages/apps/wallet-sdk-example/CHANGELOG.md
  packages/apps/wallet-sdk-example/package.json
  packages/libs/client-examples/CHANGELOG.md
  packages/libs/client-examples/package.json
  packages/libs/client-utils/CHANGELOG.md
  packages/libs/client-utils/package.json
  packages/libs/kode-icons/CHANGELOG.md
  packages/libs/kode-icons/package.json
  packages/libs/kode-ui/CHANGELOG.md
  packages/libs/kode-ui/package.json
  packages/libs/wallet-adapter-react/CHANGELOG.md
  packages/libs/wallet-adapter-react/package.json
  packages/libs/wallet-adapter-walletconnect/CHANGELOG.md
  packages/libs/wallet-adapter-walletconnect/package.json
  packages/libs/wallet-sdk/CHANGELOG.md
  packages/libs/wallet-sdk/package.json
  packages/tools/create-kadena-app/CHANGELOG.md
  packages/tools/create-kadena-app/package.json
  packages/tools/kadena-cli/CHANGELOG.md
  packages/tools/kadena-cli/package.json
Labels: @kadena/kadena-cli, Release, @kadena/client-examples, @kadena/client-utils, @kadena/create-kadena-app, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/proof-of-us, @kadena/explorer, @kadena/kode-ui, @kadena/kode-icons, @kadena/dev-wallet-example, @kadena/wallet-sdk, @kadena/rwa-demo, wallet-sdk-example-app, @kadena/chainweaver-pact-console-plugin, @kadena/chainweaver-wallet-connect-plugin, @kadena/wallet-adapter-react, wallet-adapter-react-example, @kadena/wallet-adapter-walletconnect

#3062 feat(explorer): add network headers
  packages/apps/explorer/next.config.js
  packages/apps/explorer/src/components/SelectNetwork/ConfigNetwork.tsx
  packages/apps/explorer/src/components/SelectNetwork/Headers.tsx
  packages/apps/explorer/src/components/SelectNetwork/__test__/utils.test.ts
  packages/apps/explorer/src/components/SelectNetwork/utils.ts
  packages/apps/explorer/src/constants/network.ts
  packages/apps/explorer/src/context/networksContext.tsx
  packages/apps/explorer/src/pages/[networkSlug]/index.tsx
  packages/apps/explorer/src/utils/__test__/checkNetwork.test.ts
  packages/apps/explorer/src/utils/checkNetwork.ts
  packages/apps/explorer/src/utils/defaultNamingOfNetwork.ts
Labels: @kadena/explorer

#3099 chore(explorer): get coverrage back to 90
  packages/apps/explorer/src/context/createInMemoryCache.test.ts
  packages/apps/explorer/vitest.config.ts
Labels: @kadena/explorer

#3109 chore(rwa-demo): turbo.json to enable cache
  .github/actions/runner-setup/action.yaml
  .github/workflows/ci.yml
  packages/apps/rwa-demo/turbo.json
  turbo.json
Labels: @kadena/rwa-demo
