Repository kadena-community/kadena.js, pull requests merged in 2025-06, with the labels that each got.

#3002 feat(rwa): add alias to accounts
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/(app)/(asset)/investors/[investorAccount]/page.tsx
  packages/apps/rwa-demo/src/components/AgentForm/AgentForm.tsx
  packages/apps/rwa-demo/src/components/DiscoveredAccount/DiscoveredAccount.tsx
  packages/apps/rwa-demo/src/components/DiscoveredAccount/style.css.ts
  packages/apps/rwa-demo/src/components/Fields/AccountNameField.tsx
  packages/apps/rwa-demo/src/components/Forms/AliasForm/AliasForm.tsx
  packages/apps/rwa-demo/src/components/InvestorForm/InvestorForm.tsx
  packages/apps/rwa-demo/src/components/TableFormatters/FormatAccount.tsx
  packages/apps/rwa-demo/src/components/TableFormatters/style.css.ts
  packages/apps/rwa-demo/src/hooks/getAgents.ts
  packages/apps/rwa-demo/src/hooks/getInvestorBalance.ts
  packages/apps/rwa-demo/src/hooks/getInvestors.ts
  packages/apps/rwa-demo/src/providers/AccountProvider/AccountProvider.tsx
  packages/apps/rwa-demo/src/providers/UserProvider/UserProvider.tsx
  packages/apps/rwa-demo/src/services/addAgent.ts
  packages/apps/rwa-demo/src/services/discoverAccount.ts
  packages/apps/rwa-demo/src/services/registerIdentity.ts
  packages/apps/rwa-demo/src/utils/__tests__/setAliasesToAccounts.test.ts
  packages/apps/rwa-demo/src/utils/setAliasesToAccounts.ts
  packages/apps/rwa-demo/src/utils/store/index.ts
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#3003 bug(rwa): fix the graphql subscription for distribution of tokens
  packages/apps/rwa-demo/src/hooks/getInvestorBalance.ts
  packages/apps/rwa-demo/src/providers/UserProvider/UserProvider.tsx
Labels: @kadena/rwa-demo

#3007 feat(rwa): error handling with sentry
  packages/apps/explorer/package.json
  packages/apps/rwa-demo/instrumentation-client.js
  packages/apps/rwa-demo/instrumentation.js
  packages/apps/rwa-demo/next.config.js
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/sentry.client.config.js
  packages/apps/rwa-demo/sentry.server.config.js
  packages/apps/rwa-demo/src/app/(loggedout)/verify-email/page.tsx
  packages/apps/rwa-demo/src/app/error.tsx
  packages/apps/rwa-demo/src/app/layout.tsx
  packages/apps/rwa-demo/src/components/DistributionForm/DistributionForm.tsx
  packages/apps/rwa-demo/src/components/admin/AdminsList/AdminsList.tsx
  packages/apps/rwa-demo/src/components/admin/UsersList/UsersList.tsx
  packages/apps/rwa-demo/src/hooks/__tests__/addInvestor.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/batchAddInvestors.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/batchFreezeInvestors.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/batchTransferTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/createContract.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/deleteInvestor.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/distributeTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/editAgent.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/faucet.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/forcedTransferTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/freezeInvestor.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/notifications.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/removeAgent.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/setCompliance.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/togglePartiallyFreezeTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/togglePause.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/transferTokens.test.ts
  packages/apps/rwa-demo/src/hooks/addInvestor.ts
  packages/apps/rwa-demo/src/hooks/batchAddInvestors.ts
  packages/apps/rwa-demo/src/hooks/batchFreezeInvestors.ts
  packages/apps/rwa-demo/src/hooks/batchTransferTokens.ts
  packages/apps/rwa-demo/src/hooks/createContract.ts
  packages/apps/rwa-demo/src/hooks/deleteInvestor.ts
  packages/apps/rwa-demo/src/hooks/distributeTokens.ts
  packages/apps/rwa-demo/src/hooks/editAgent.ts
  packages/apps/rwa-demo/src/hooks/faucet.ts
  packages/apps/rwa-demo/src/hooks/forcedTransferTokens.ts
  packages/apps/rwa-demo/src/hooks/freezeInvestor.ts
  packages/apps/rwa-demo/src/hooks/notifications.ts
  packages/apps/rwa-demo/src/hooks/removeAgent.ts
  packages/apps/rwa-demo/src/hooks/setCompliance.ts
  packages/apps/rwa-demo/src/hooks/togglePartiallyFreezeTokens.ts
  packages/apps/rwa-demo/src/hooks/togglePause.ts
  packages/apps/rwa-demo/src/hooks/transferTokens.ts
  packages/apps/rwa-demo/src/providers/TransactionsProvider/TransactionsProvider.tsx
  packages/apps/rwa-demo/src/utils/__tests__/analytics.test.ts
  packages/apps/rwa-demo/src/utils/analytics.ts
  packages/libs/kode-ui/src/patterns/LayoutUtils/index.ts
  packages/libs/kode-ui/src/patterns/index.ts
  pnpm-lock.yaml
Labels: @kadena/explorer, @kadena/rwa-demo

#3013 chore(rwa): fix batch transferform
  packages/apps/rwa-demo/database.rules.json
  packages/apps/rwa-demo/src/app/(app)/SideBar.tsx
  packages/apps/rwa-demo/src/components/BatchTransferAsset/BatchTransferAssetForm.tsx
  packages/apps/rwa-demo/src/components/DragNDropCSV/style.css.ts
Labels: @kadena/rwa-demo

#3001 [wallet-adapter-magic] add magic-sdk wallet adapter
  packages/apps/wallet-adapter-react-example/package.json
  packages/apps/wallet-adapter-react-example/src/App.tsx
  packages/apps/wallet-adapter-react-example/src/main.tsx
  packages/apps/wallet-adapter-react-example/src/utils.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/ChainweaverLegacyAdapter.ts
  packages/libs/wallet-adapter-chainweaver-legacy/src/chainweaverLegacyAdapterFactory.ts
  packages/libs/wallet-adapter-core/etc/wallet-adapter-core.api.json
  packages/libs/wallet-adapter-core/etc/wallet-adapter-core.api.md
  packages/libs/wallet-adapter-core/src/WalletAdapterClient.ts
  packages/libs/wallet-adapter-core/src/guard.ts
  packages/libs/wallet-adapter-core/src/index.ts
  packages/libs/wallet-adapter-core/src/types.ts
  packages/libs/wallet-adapter-ecko/src/EckoAdapter.ts
  packages/libs/wallet-adapter-ecko/src/__tests__/eckoWalletAdapter.test.ts
  packages/libs/wallet-adapter-magic/.eslintrc.js
  packages/libs/wallet-adapter-magic/README.md
  packages/libs/wallet-adapter-magic/api-extractor.json
  packages/libs/wallet-adapter-magic/etc/wallet-adapter-magic.api.md
  packages/libs/wallet-adapter-magic/package.json
  packages/libs/wallet-adapter-magic/src/MagicAdapter.ts
  packages/libs/wallet-adapter-magic/src/__tests__/magicAdapterFactory.test.ts
  packages/libs/wallet-adapter-magic/src/__tests__/magicWalletAdapter.test.ts
  packages/libs/wallet-adapter-magic/src/__tests__/mock.ts
  packages/libs/wallet-adapter-magic/src/constants.ts
  packages/libs/wallet-adapter-magic/src/index.ts
  packages/libs/wallet-adapter-magic/src/magicAdapterFactory.ts
  packages/libs/wallet-adapter-magic/src/provider.ts
  packages/libs/wallet-adapter-magic/src/utils/json.ts
  packages/libs/wallet-adapter-magic/tsconfig.cjs.json
  packages/libs/wallet-adapter-magic/tsconfig.esm.json
  packages/libs/wallet-adapter-magic/tsconfig.json
  packages/libs/wallet-adapter-magic/vitest.config.ts
  packages/libs/wallet-adapter-walletconnect/src/WalletConnectAdapter.ts
  packages/libs/wallet-adapter-walletconnect/src/__tests__/WalletConnectAdapter.test.ts
  packages/libs/wallet-adapter-zelcore/src/ZelcoreAdapter.ts
  pnpm-lock.yaml
Labels: wallet-adapter-react-example

#3017 chore(rwa): add tests
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/api/admin/claims/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/admin/contract/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/admin/contract/route.ts
  packages/apps/rwa-demo/src/app/api/admin/user/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/admin/user/route.ts
  packages/apps/rwa-demo/src/app/api/admin/users/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/admin/users/route.ts
  packages/apps/rwa-demo/src/app/api/origin/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/reset-password-send/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/reset-password/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/set-password/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/verify/__tests__/route.test.ts
  packages/apps/rwa-demo/src/app/api/withAuth.ts
  packages/apps/rwa-demo/src/providers/TransactionsProvider/TransactionsProvider.tsx
  packages/apps/rwa-demo/src/providers/TransactionsProvider/__tests__/TransactionsProvider.test.tsx
  packages/apps/rwa-demo/src/providers/TransactionsProvider/__tests__/utils.test.ts
  packages/apps/rwa-demo/src/utils/__tests__/analytics.test.ts
  packages/apps/rwa-demo/src/utils/__tests__/getPubKey.test.ts
  packages/apps/rwa-demo/src/utils/store/__tests__/assetStore.test.ts
  packages/apps/rwa-demo/src/utils/store/__tests__/index.test.ts
  packages/apps/rwa-demo/src/utils/store/__tests__/orgAdminStore.test.ts
  packages/apps/rwa-demo/src/utils/store/__tests__/organisationStore.test.ts
  packages/apps/rwa-demo/src/utils/store/__tests__/rootAdminStore.test.ts
  packages/apps/rwa-demo/src/utils/store/__tests__/userStore.test.ts
  packages/apps/rwa-demo/src/utils/store/index.ts
  packages/apps/rwa-demo/vitest.config.ts
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#3019 chore(rwa): add unit tests for hooks
  packages/apps/rwa-demo/src/hooks/__tests__/account.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/addInvestor.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/asset.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/batchAddInvestors.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/batchFreezeInvestors.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/batchTransferTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/createContract.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/editAgent.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/forcedTransferTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/freeze.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/freezeInvestor.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getAccountKDABalance.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getAgentRoles.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getAgents.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getComplianceRules.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getFrozenTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getInvestor.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getInvestorBalance.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getInvestorCount.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getInvestors.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/getPrincipalNamespace.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/investorTransactions.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/networks.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/organisation.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/paused.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/removeAgent.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/setCompliance.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/supply.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/togglePause.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/transactions.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/transferTokens.test.ts
  packages/apps/rwa-demo/src/hooks/__tests__/user.test.ts
  packages/apps/rwa-demo/src/hooks/freeze.ts
  packages/apps/rwa-demo/src/hooks/getAccountKDABalance.ts
  packages/apps/rwa-demo/src/hooks/getAgentRoles.ts
  packages/apps/rwa-demo/src/hooks/getComplianceRules.ts
  packages/apps/rwa-demo/src/hooks/getInvestors.ts
  packages/apps/rwa-demo/src/hooks/supply.ts
  packages/apps/rwa-demo/src/hooks/useSubmit2Chain.test.ts
  packages/apps/rwa-demo/vitest.config.ts
Labels: @kadena/rwa-demo

#3029 chore(tools): trigger build for tools
  packages/apps/tools/README.md
Labels: @kadena/tools
