Repository kadena-community/kadena.js, pull requests merged in 2025-08, with the labels that each got.

#3070 fix(wallet-adapter): format wallet adapter packages
  .changeset/metal-laws-peel.md
  packages/libs/wallet-adapter-chainweaver-legacy/.prettierignore
  packages/libs/wallet-adapter-chainweaver/.prettierignore
  packages/libs/wallet-adapter-core/.prettierignore
  packages/libs/wallet-adapter-core/src/utils/constants.ts
  packages/libs/wallet-adapter-core/vitest.config.ts
  packages/libs/wallet-adapter-ecko/.prettierignore
  packages/libs/wallet-adapter-ecko/src/constants.ts
  packages/libs/wallet-adapter-magic/.prettierignore
  packages/libs/wallet-adapter-metamask-snap/.prettierignore
  packages/libs/wallet-adapter-metamask-snap/package.json
  packages/libs/wallet-adapter-react/.prettierignore
  packages/libs/wallet-adapter-react/src/index.ts
  packages/libs/wallet-adapter-react/vitest.config.ts
  packages/libs/wallet-adapter-walletconnect/.prettierignore
  packages/libs/wallet-adapter-zelcore/.prettierignore
  packages/libs/wallet-sdk/src/sdk/tests/getGasLimitEstimate.test.ts
Labels: @kadena/wallet-adapter-core, @kadena/wallet-adapter-react, @kadena/wallet-adapter-ecko, @kadena/wallet-adapter-chainweaver-legacy, @kadena/wallet-adapter-walletconnect, @kadena/wallet-adapter-zelcore, @kadena/wallet-adapter-chainweaver, @kadena/wallet-adapter-magic, @kadena/wallet-adapter-metamask-snap

#3073 [ci] Release
  .changeset/metal-laws-peel.md
  packages.json
  packages/apps/wallet-adapter-react-example/CHANGELOG.md
  packages/apps/wallet-adapter-react-example/package.json
  packages/libs/wallet-adapter-metamask-snap/CHANGELOG.md
  packages/libs/wallet-adapter-metamask-snap/package.json
Labels: Release, wallet-adapter-react-example, @kadena/wallet-adapter-metamask-snap

#3071 chore(codeowners): update codeowners list
  .github/CODEOWNERS
Labels: Github Config & Actions

#3076 chore(repo): next15update
  packages/apps/dev-wallet-example/package.json
  packages/apps/docs/package.json_
  packages/apps/explorer/package.json
  packages/apps/graph-client/package.json
  packages/apps/marmalade-marketplace/package.json_
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/instrumentation-client.js
  packages/apps/rwa-demo/instrumentation.js
  packages/apps/rwa-demo/next.config.js
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/sentry.edge.config.js
  packages/apps/rwa-demo/sentry.server.config.js
  packages/apps/rwa-demo/src/app/(organisation)/admin/root/organisation/[organisationId]/page.tsx
  packages/apps/rwa-demo/src/app/error.tsx
  packages/apps/rwa-demo/src/app/layout.tsx
  packages/apps/rwa-demo/src/components/SideBarBreadcrumbs/SideBarBreadcrumbs.tsx
  packages/apps/rwa-demo/src/components/admin/OrganisationInfoForm/OrganisationInfoForm.tsx
  packages/apps/rwa-demo/src/hooks/__tests__/editAgent.test.ts
  packages/apps/rwa-demo/src/hooks/editAgent.ts
  packages/apps/rwa-demo/src/providers/TransactionsProvider/TransactionsProvider.tsx
  packages/apps/rwa-demo/src/utils/__tests__/analytics.test.ts
  packages/apps/tools/package.json
  packages/apps/wallet-adapter-react-example/package.json
  packages/apps/wallet-sdk-example/package.json
  packages/tools/create-kadena-app/templates/nextjs/package.json
  pnpm-lock.yaml
Labels: @kadena/graph-client, @kadena/proof-of-us, @kadena/docs, @kadena/tools, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/rwa-demo, wallet-sdk-example-app, wallet-adapter-react-example

#3086 chore(proof): add build info to dom
  packages/apps/proof-of-us/next.config.mjs
  packages/apps/proof-of-us/src/pages/_app.tsx
Labels: @kadena/proof-of-us

#3089 fix(wallet-adapter-example): move key to env
  packages/apps/wallet-adapter-react-example/.env.example
  packages/apps/wallet-adapter-react-example/src/main.tsx
  packages/apps/wallet-adapter-react-example/tsconfig.json
Labels: wallet-adapter-react-example
