Repository kadena-community/kadena.js, pull requests merged in 2025-01, with the labels that each got.

#2784 feat(rwa): fix compliance rules
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/(app)/page.tsx
  packages/apps/rwa-demo/src/components/AssetProvider/AssetProvider.tsx
  packages/apps/rwa-demo/src/components/ComplianceRule/ComplianceRule.tsx
  packages/apps/rwa-demo/src/components/Confirmation/Confirmation.tsx
  packages/apps/rwa-demo/src/components/Confirmation/style.css.ts
  packages/apps/rwa-demo/src/components/DistributionForm/DistributionForm.tsx
  packages/apps/rwa-demo/src/components/InvestorBalance/MaxInvestorBalanceCheck.tsx
  packages/apps/rwa-demo/src/components/MaxSupplyMessage/MaxSupplyMessage.tsx
  packages/apps/rwa-demo/src/components/SetComplianceForm/SetComplianceForm.tsx
  packages/apps/rwa-demo/src/components/SupplyCountContractDetails/SupplyCountContractDetails.tsx
  packages/apps/rwa-demo/src/components/TransactionsProvider/TransactionsProvider.tsx
  packages/apps/rwa-demo/src/hooks/distributeTokens.ts
  packages/apps/rwa-demo/src/hooks/getComplianceRules.ts
  packages/apps/rwa-demo/src/hooks/setCompliance.ts
  packages/apps/rwa-demo/src/services/getComplianceRules.ts
  packages/apps/rwa-demo/src/services/isOwner.ts
  packages/apps/rwa-demo/src/services/pact/modelcontract.ts
  packages/apps/rwa-demo/src/services/setCompliance.ts
  packages/apps/rwa-demo/src/services/setComplianceParameters.ts
  packages/apps/rwa-demo/src/utils/__tests__/getActiveRulesKeys.test.ts
  packages/apps/rwa-demo/src/utils/getActiveRulesKeys.ts
  packages/apps/rwa-demo/tsconfig.json
Labels: @kadena/rwa-demo

#2791 chore(monorepo): disable docs build and ci and vercel
  .github/workflows/chainweb-node-changelogs.yml
  .github/workflows/ci.yml
  .github/workflows/docs-ingestion.yml
  packages.json
  packages/apps/docs/package.json_
  packages/e2e/e2e-docs/package.json_
  packages/tools/docs-tools/package.json_
Labels: @kadena/docs, @kadena/docs-tools, e2e-docs

#2800 chore(rwa): add analytics
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/app/(app)/layout.tsx
  packages/apps/rwa-demo/src/app/(loggedout)/layout.tsx
  packages/apps/rwa-demo/src/app/layout.tsx
  packages/apps/rwa-demo/src/components/AccountProvider/AccountProvider.tsx
  packages/apps/rwa-demo/src/components/AccountProvider/utils.ts
  packages/apps/rwa-demo/src/components/Analytics/Analytics.tsx
  packages/apps/rwa-demo/src/components/CookieConsent/CookieConsent.tsx
  packages/apps/rwa-demo/src/components/CookieConsent/styles.css.ts
  packages/apps/rwa-demo/src/utils/__tests__/analytics.test.ts
  packages/apps/rwa-demo/src/utils/analytics.ts
  packages/apps/rwa-demo/src/utils/env.ts
  packages/apps/rwa-demo/tsconfig.json
  pnpm-lock.yaml
Labels: @kadena/rwa-demo

#2753 [ci] Release
  .changeset/early-jokes-fail.md
  .changeset/friendly-moose-yawn.md
  .changeset/giant-cups-guess.md
  .changeset/good-bulldogs-train.md
  .changeset/green-scissors-refuse.md
  .changeset/lovely-pots-sleep.md
  .changeset/ninety-impalas-push.md
  .changeset/ninety-singers-add.md
  .changeset/seven-chairs-push.md
  .changeset/short-planets-grin.md
  .changeset/silly-bobcats-wink.md
  .changeset/soft-tomatoes-know.md
  .changeset/sour-elephants-fry.md
  .changeset/sweet-taxis-try.md
  .changeset/tricky-panthers-wash.md
  .changeset/witty-birds-repair.md
  packages.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/CHANGELOG.md
  packages/apps/rwa-demo/package.json
  packages/apps/wallet-sdk-example/CHANGELOG.md
  packages/apps/wallet-sdk-example/package.json
  packages/libs/kode-ui/CHANGELOG.md
  packages/libs/kode-ui/package.json
Labels: Release, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/proof-of-us, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/kode-ui, @kadena/rwa-demo, wallet-sdk-example-app

#2811 chore(rwa): playwright testing
  .changeset/config.json
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/ci.yml
  packages.json
  packages/apps/dev-wallet/package.json
  packages/e2e/e2e-base/src/fixtures/shared/page-obects.fixture.ts
  packages/e2e/e2e-base/src/helpers/chainweaver/webauthn.helper.ts
  packages/e2e/e2e-base/src/page-objects/chainweaver/chainweaverApp.index.ts
  packages/e2e/e2e-dev-wallet/.eslintignore
  packages/e2e/e2e-dev-wallet/.eslintrc.js
  packages/e2e/e2e-dev-wallet/.prettierignore
  packages/e2e/e2e-dev-wallet/package.json
  packages/e2e/e2e-dev-wallet/playwright.config.ts
  packages/e2e/e2e-dev-wallet/tests/profile.spec.ts
  packages/e2e/e2e-dev-wallet/tsconfig.json
  pnpm-lock.yaml
Labels: Github Config & Actions, @kadena/dev-wallet

#2820 Revert "chore(graphCron): use rich_text"
  packages/apps/tools/package.json
  packages/apps/tools/src/scripts/graphCron/index.ts
  packages/apps/tools/src/scripts/graphCron/messages.ts
  pnpm-lock.yaml
Labels: @kadena/tools

#2823 chore(rwa): e2e init
  .changeset/config.json
  .github/CODEOWNERS
  .github/labeler.yml
  packages.json
  packages/apps/rwa-demo/package.json
  packages/e2e/e2e-base/src/fixtures/shared/page-obects.fixture.ts
  packages/e2e/e2e-base/src/page-objects/rwa-demo/RWADemoApp.index.ts
  packages/e2e/e2e-base/src/smart-contracts/rwa/deploy.ts
  packages/e2e/e2e-rwa-demo/.eslintignore
  packages/e2e/e2e-rwa-demo/.eslintrc.js
  packages/e2e/e2e-rwa-demo/.gitignore
  packages/e2e/e2e-rwa-demo/.prettierignore
  packages/e2e/e2e-rwa-demo/package.json
  packages/e2e/e2e-rwa-demo/playwright.config.ts
  packages/e2e/e2e-rwa-demo/setup/devnet.setup.ts
  packages/e2e/e2e-rwa-demo/tests/network.spec.ts
  packages/e2e/e2e-rwa-demo/tsconfig.json
  pnpm-lock.yaml
Labels: Github Config & Actions, @kadena/rwa-demo
