Repository kadena-community/kadena.js, pull requests merged in 2025-02, with the labels that each got.

#2851 Fix/cont and backup dp + e2e
  packages/apps/dev-wallet/src/e2e.ts
  packages/apps/dev-wallet/src/index.ts
  packages/apps/dev-wallet/src/modules/db/backup/backup.ts
  packages/apps/dev-wallet/src/modules/db/migration/createDB.ts
  packages/apps/dev-wallet/src/modules/db/migration/migrateFrom40to41.ts
  packages/apps/dev-wallet/src/modules/db/migration/migrateFrom45to46.ts
  packages/apps/dev-wallet/src/modules/transaction/transaction.service.ts
  packages/apps/dev-wallet/src/modules/wallet/wallet.hook.tsx
  packages/apps/dev-wallet/src/pages/account/account.tsx
  packages/apps/dev-wallet/src/pages/transaction/components/code-components/CodeView.tsx
  packages/apps/dev-wallet/vite.config.ts
Labels: @kadena/dev-wallet

#2852 chore(wallet): fix the E2E test
  packages/e2e/e2e-base/src/page-objects/chainweaver/chainweaverApp.index.ts
  packages/e2e/e2e-rwa-demo/package.json
Labels: e2e-rwa-demo

#2836 chore: test if devnet is pact5
  .github/actions/sandbox/docker-compose.yaml
  .graphqlrc.ts
  .graphqlrc.yml
  packages/apps/docs/src/scripts/importChangelogs/constants.ts
  packages/e2e/e2e-base/src/constants/coin.constants.ts
  packages/e2e/e2e-graph/tests/devnet-version.test.ts
  packages/e2e/e2e-graph/tests/transaction.test.ts
  packages/libs/client-utils/package.json
  packages/libs/client-utils/src/core/submit-and-listen.ts
  packages/libs/client-utils/src/integration-tests/built-in.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-collection-policy.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-conventional-auction-buy-token.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-conventional-auction.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-dutch-auction.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade-sale.int.test.ts
  packages/libs/client-utils/src/integration-tests/marmalade.int.test.ts
  packages/libs/client-utils/src/integration-tests/support/helpers.ts
  packages/libs/client-utils/src/integration-tests/utils.int.test.ts
  packages/libs/client-utils/src/marmalade/buy-token.ts
  packages/libs/client-utils/src/marmalade/create-token.ts
  packages/libs/client-utils/src/marmalade/mint-token.ts
  packages/libs/client-utils/src/marmalade/offer-token.ts
  packages/libs/client-utils/src/scripts/setup-marmalade-test-env.ts
  packages/libs/client-utils/vitest.integration.config.ts
  pnpm-lock.yaml
Labels: @kadena/client-utils

#2856 ag/graph/remove page limits for complexity
  .changeset/five-camels-flash.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/builder.ts
  packages/apps/graph/src/graph/objects/block.ts
  packages/apps/graph/src/graph/objects/fungible-account.ts
  packages/apps/graph/src/graph/objects/fungible-chain-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-account.ts
  packages/apps/graph/src/graph/objects/non-fungible-chain-account.ts
  packages/apps/graph/src/graph/query/blocks-from-depth.ts
  packages/apps/graph/src/graph/query/blocks-from-height.ts
  packages/apps/graph/src/graph/query/completed-block-heights.ts
  packages/apps/graph/src/graph/query/events.ts
  packages/apps/graph/src/graph/query/transactions.ts
  packages/apps/graph/src/graph/query/transfers.ts
  packages/apps/graph/src/utils/dotenv.ts
Labels: @kadena/graph

#2864 chore(graph): fix docker build. update prisma
  package.json
  packages/apps/graph/Dockerfile
  packages/apps/graph/package.json
  packages/apps/graph/source.Dockerfile
  packages/apps/graph/src/graph/builder.ts
  pnpm-lock.yaml
Labels: @kadena/graph

#2840 [ci] Release
  .changeset/clean-mice-give.md
  .changeset/five-camels-flash.md
  .changeset/moody-poems-rescue.md
  .changeset/selfish-jokes-yell.md
  .github/labeler.yml
  packages.json
  packages/apps/chainweaver-pact-console-plugin/CHANGELOG.md
  packages/apps/chainweaver-pact-console-plugin/package.json
  packages/apps/chainweaver-wallet-connect-plugin/CHANGELOG.md
  packages/apps/chainweaver-wallet-connect-plugin/package.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet-example/CHANGELOG.md
  packages/apps/dev-wallet-example/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/CHANGELOG.md
  packages/apps/rwa-demo/package.json
  packages/apps/spirekey-example/CHANGELOG.md
  packages/apps/spirekey-example/package.json
  packages/apps/wallet-sdk-example/CHANGELOG.md
  packages/apps/wallet-sdk-example/package.json
  packages/apps/wallet-sdk-example/tsconfig.node.tsbuildinfo
  packages/apps/wallet-sdk-example/vite.config.d.ts
  packages/apps/wallet-sdk-example/vite.config.js
  packages/libs/chainweb-node-client/CHANGELOG.md
  packages/libs/chainweb-node-client/package.json
  packages/libs/client-examples/CHANGELOG.md
  packages/libs/client-examples/package.json
  packages/libs/client-utils/CHANGELOG.md
  packages/libs/client-utils/package.json
  packages/libs/client/CHANGELOG.md
  packages/libs/client/package.json
  packages/libs/pactjs-generator/CHANGELOG.md
  packages/libs/pactjs-generator/package.json
  packages/libs/wallet-sdk/CHANGELOG.md
  packages/libs/wallet-sdk/package.json
  packages/tools/kadena-cli/CHANGELOG.md
  packages/tools/kadena-cli/package.json
  packages/tools/pactjs-cli/CHANGELOG.md
  packages/tools/pactjs-cli/package.json
Labels: @kadena/client, @kadena/kadena-cli, Release, Github Config & Actions, @kadena/chainweb-node-client, @kadena/client-examples, @kadena/client-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/spirekey-example, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/wallet-sdk, @kadena/rwa-demo, wallet-sdk-example-app

#2865 chore(tools): remove testnet05
  packages/apps/tools/src/constants/kadena.ts
  packages/apps/tools/src/constants/network.ts
  packages/apps/tools/src/hooks/use-modules-query.ts
  packages/apps/tools/src/pages/modules/explorer/index.tsx
  packages/apps/tools/src/services/faucet/fund-create-new.ts
  packages/apps/tools/src/services/faucet/index.ts
  packages/apps/tools/src/utils/env.ts
  packages/apps/tools/src/utils/network.ts
  packages/e2e/e2e-dev-wallet/.eslintignore
  packages/e2e/e2e-dev-wallet/package.json
  packages/e2e/e2e-rwa-demo/.eslintignore
  packages/e2e/e2e-rwa-demo/.eslintrc.js
  packages/e2e/e2e-tools/package.json
Labels: e2e-tools, e2e-rwa-demo, e2e-dev-wallet

#2875 fix(graph): optimize event polling interval and correct lastEventId query
  .changeset/grumpy-taxis-grab.md
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/issue_events.md
  packages/apps/graph/src/graph/subscription/events.ts
Labels: @kadena/graph

#2868 [ci] Release
  .changeset/grumpy-taxis-grab.md
  .changeset/neat-pens-wonder.md
  packages.json
  packages/apps/chainweaver-pact-console-plugin/CHANGELOG.md
  packages/apps/chainweaver-pact-console-plugin/package.json
  packages/apps/chainweaver-wallet-connect-plugin/CHANGELOG.md
  packages/apps/chainweaver-wallet-connect-plugin/package.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet-example/CHANGELOG.md
  packages/apps/dev-wallet-example/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/CHANGELOG.md
  packages/apps/rwa-demo/package.json
  packages/apps/spirekey-example/CHANGELOG.md
  packages/apps/spirekey-example/package.json
  packages/apps/wallet-sdk-example/CHANGELOG.md
  packages/apps/wallet-sdk-example/package.json
  packages/libs/chainweb-node-client/CHANGELOG.md
  packages/libs/chainweb-node-client/package.json
  packages/libs/client-examples/CHANGELOG.md
  packages/libs/client-examples/package.json
  packages/libs/client-utils/CHANGELOG.md
  packages/libs/client-utils/package.json
  packages/libs/client/CHANGELOG.md
  packages/libs/client/package.json
  packages/libs/pactjs-generator/CHANGELOG.md
  packages/libs/pactjs-generator/package.json
  packages/libs/wallet-sdk/CHANGELOG.md
  packages/libs/wallet-sdk/package.json
  packages/tools/kadena-cli/CHANGELOG.md
  packages/tools/kadena-cli/package.json
  packages/tools/pactjs-cli/CHANGELOG.md
  packages/tools/pactjs-cli/package.json
Labels: @kadena/client, @kadena/kadena-cli, Release, @kadena/chainweb-node-client, @kadena/client-examples, @kadena/client-utils, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/pactjs-cli, @kadena/pactjs-generator, @kadena/proof-of-us, @kadena/spirekey-example, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/dev-wallet-example, @kadena/wallet-sdk, @kadena/rwa-demo, wallet-sdk-example-app, @kadena/chainweaver-pact-console-plugin, @kadena/chainweaver-wallet-connect-plugin

#2874 chore(rwa): fix the modelcontract after contract changes
  packages/apps/rwa-demo/next.config.js
  packages/apps/rwa-demo/package.json
  packages/apps/rwa-demo/src/components/AssetProvider/AssetProvider.tsx
  packages/apps/rwa-demo/src/components/DistributionForm/DistributionForm.tsx
  packages/apps/rwa-demo/src/components/NetworkProvider/NetworkProvider.tsx
  packages/apps/rwa-demo/src/hooks/__tests__/distributeTokens.test.ts
  packages/apps/rwa-demo/src/hooks/createContract.ts
  packages/apps/rwa-demo/src/hooks/distributeTokens.ts
  packages/apps/rwa-demo/src/hooks/faucet.ts
  packages/apps/rwa-demo/src/hooks/getComplianceRules.ts
  packages/apps/rwa-demo/src/services/faucet.ts
  packages/apps/rwa-demo/src/services/getComplianceRules.ts
  packages/apps/rwa-demo/src/services/isComplianceOwner.ts
  packages/apps/rwa-demo/src/services/pact/modelcontract.ts
  packages/apps/rwa-demo/src/services/setCompliance.ts
  packages/apps/rwa-demo/src/utils/__tests__/getActiveRulesKeys.test.ts
  packages/apps/rwa-demo/src/utils/checkNetwork.ts
  packages/apps/rwa-demo/src/utils/env.ts
  packages/apps/rwa-demo/tsconfig.json
Labels: @kadena/rwa-demo

#2877 chore(graph): use npm to install @kadena/graph to trigger postinstall
  .changeset/fair-ads-drum.md
  packages/apps/graph/Dockerfile
Labels: @kadena/graph

#2878 [ci] Release
  .changeset/ten-trains-film.md
  .changeset/thick-yaks-own.md
  packages.json
  packages/apps/chainweaver-pact-console-plugin/CHANGELOG.md
  packages/apps/chainweaver-pact-console-plugin/package.json
  packages/apps/chainweaver-wallet-connect-plugin/CHANGELOG.md
  packages/apps/chainweaver-wallet-connect-plugin/package.json
  packages/apps/dev-wallet-desktop/CHANGELOG.md
  packages/apps/dev-wallet-desktop/package.json
  packages/apps/dev-wallet/CHANGELOG.md
  packages/apps/dev-wallet/package.json
  packages/apps/explorer/CHANGELOG.md
  packages/apps/explorer/package.json
  packages/apps/graph-client/CHANGELOG.md
  packages/apps/graph-client/package.json
  packages/apps/graph/CHANGELOG.md
  packages/apps/graph/package.json
  packages/apps/marmalade-marketplace/CHANGELOG.md
  packages/apps/marmalade-marketplace/package.json
  packages/apps/proof-of-us/CHANGELOG.md
  packages/apps/proof-of-us/package.json
  packages/apps/rwa-demo/CHANGELOG.md
  packages/apps/rwa-demo/package.json
  packages/apps/wallet-sdk-example/CHANGELOG.md
  packages/apps/wallet-sdk-example/package.json
  packages/libs/kode-ui/CHANGELOG.md
  packages/libs/kode-ui/package.json
Labels: Release, @kadena/dev-wallet, @kadena/dev-wallet-desktop, @kadena/graph, @kadena/graph-client, @kadena/proof-of-us, @kadena/explorer, @kadena/marmalade-marketplace, @kadena/kode-ui, @kadena/rwa-demo, wallet-sdk-example-app, @kadena/chainweaver-pact-console-plugin, @kadena/chainweaver-wallet-connect-plugin

#2882 chore(graph): test `:preview` tag with minimal change
  packages/apps/graph/generated-schema.graphql
  packages/apps/graph/src/graph/subscription/events.ts
Labels: @kadena/graph

#2891 chore(tools): stop tools build
  .github/workflows/ci.yml
  packages.json
  packages/apps/tools/package.json_
  packages/e2e/e2e-tools/package.json_
Labels: @kadena/tools, e2e-tools

#2888 fix(rwa): the set compliance rules to unlimted
  packages/apps/marmalade-marketplace/package.json
  packages/apps/rwa-demo/src/utils/__tests__/setComplianceValue.test.ts
  packages/apps/rwa-demo/src/utils/setComplianceValue.ts
  packages/apps/rwa-demo/src/utils/walletTransformers/chainweaver/signTx.ts
  packages/apps/rwa-demo/vitest.setup.ts
  packages/apps/tools/src/scripts/faucetCron/index.ts
  packages/e2e/e2e-dev-wallet/package.json
  packages/e2e/e2e-proof-of-us/package.json
  packages/e2e/e2e-rwa-demo/package.json
  packages/e2e/e2e-tools/package.json_
  pnpm-lock.yaml
Labels: e2e-tools, @kadena/marmalade-marketplace, e2e-proof-of-us, @kadena/rwa-demo, e2e-rwa-demo, e2e-dev-wallet
